Fun_with_HBase.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><template><description></description><name>Fun with HBase</name><snippet><connections><id>04fd5fa7-7aa5-47a6-b859-7468edfa17b5</id><parentGroupId>0848e9d6-f5f6-48bd-a245-f2c964720310</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>0848e9d6-f5f6-48bd-a245-f2c964720310</groupId><id>095abd28-6aaf-4a68-a3c1-0fad18c220f0</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>matched</selectedRelationships><source><groupId>0848e9d6-f5f6-48bd-a245-f2c964720310</groupId><id>f41596a9-17e5-43bf-b361-239303bcf177</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>7dd3a241-e0bd-4c07-91f7-392a0a9e5bc1</id><parentGroupId>0848e9d6-f5f6-48bd-a245-f2c964720310</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>0848e9d6-f5f6-48bd-a245-f2c964720310</groupId><id>a3316bd4-7801-44c2-8f8d-2e54b3f532a4</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>0848e9d6-f5f6-48bd-a245-f2c964720310</groupId><id>eb67a245-7ad0-4862-b374-e33d871ddc68</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>838d727f-240c-4cf8-a843-4d0f2ba44372</id><parentGroupId>0848e9d6-f5f6-48bd-a245-f2c964720310</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><bends><x>8574.994746450599</x><y>329.96243371033205</y></bends><bends><x>8574.994746450599</x><y>379.96243371033205</y></bends><destination><groupId>0848e9d6-f5f6-48bd-a245-f2c964720310</groupId><id>a3316bd4-7801-44c2-8f8d-2e54b3f532a4</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>failure</selectedRelationships><source><groupId>0848e9d6-f5f6-48bd-a245-f2c964720310</groupId><id>a3316bd4-7801-44c2-8f8d-2e54b3f532a4</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>ee049410-38c5-47b4-bdd0-ffce301c282e</id><parentGroupId>0848e9d6-f5f6-48bd-a245-f2c964720310</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>0848e9d6-f5f6-48bd-a245-f2c964720310</groupId><id>319bb562-1816-4d63-9c03-6f8b766059b1</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>failure</selectedRelationships><selectedRelationships>success</selectedRelationships><source><groupId>0848e9d6-f5f6-48bd-a245-f2c964720310</groupId><id>095abd28-6aaf-4a68-a3c1-0fad18c220f0</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>5756730b-0327-4224-81df-c897b9105839</id><parentGroupId>0848e9d6-f5f6-48bd-a245-f2c964720310</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><bends><x>7920.424556899202</x><y>476.22781760243845</y></bends><bends><x>7920.424556899202</x><y>526.2278176024384</y></bends><destination><groupId>0848e9d6-f5f6-48bd-a245-f2c964720310</groupId><id>bde74e5e-e3a1-4532-9d1a-3c3daf10a897</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>failure</selectedRelationships><source><groupId>0848e9d6-f5f6-48bd-a245-f2c964720310</groupId><id>bde74e5e-e3a1-4532-9d1a-3c3daf10a897</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>c25d0bf8-0ffa-4bad-95ab-b2f85eeb7c69</id><parentGroupId>0848e9d6-f5f6-48bd-a245-f2c964720310</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>0848e9d6-f5f6-48bd-a245-f2c964720310</groupId><id>9e5731e6-0c7f-4f11-b4cb-7d795cb1f8c1</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>Response</selectedRelationships><source><groupId>0848e9d6-f5f6-48bd-a245-f2c964720310</groupId><id>f1d812f9-f139-4083-ba56-db1e6a49e15d</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>80d2846d-b259-47db-b45b-be158fba3253</id><parentGroupId>0848e9d6-f5f6-48bd-a245-f2c964720310</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>0848e9d6-f5f6-48bd-a245-f2c964720310</groupId><id>f41596a9-17e5-43bf-b361-239303bcf177</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>split</selectedRelationships><source><groupId>0848e9d6-f5f6-48bd-a245-f2c964720310</groupId><id>9e5731e6-0c7f-4f11-b4cb-7d795cb1f8c1</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>470b9a7c-489b-422c-9307-934b43b28257</id><parentGroupId>0848e9d6-f5f6-48bd-a245-f2c964720310</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>0848e9d6-f5f6-48bd-a245-f2c964720310</groupId><id>bde74e5e-e3a1-4532-9d1a-3c3daf10a897</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>matched</selectedRelationships><source><groupId>0848e9d6-f5f6-48bd-a245-f2c964720310</groupId><id>f41596a9-17e5-43bf-b361-239303bcf177</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>0f7f9e96-820f-4788-a206-65f271714f2c</id><parentGroupId>0848e9d6-f5f6-48bd-a245-f2c964720310</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><bends><x>7265.12119238077</x><y>849.2807724554233</y></bends><bends><x>7265.12119238077</x><y>899.2807724554233</y></bends><destination><groupId>0848e9d6-f5f6-48bd-a245-f2c964720310</groupId><id>319bb562-1816-4d63-9c03-6f8b766059b1</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>failure</selectedRelationships><source><groupId>0848e9d6-f5f6-48bd-a245-f2c964720310</groupId><id>319bb562-1816-4d63-9c03-6f8b766059b1</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><controllerServices><id>a0b7c4ec-f5ad-476e-a5b7-4bcee49ae7c8</id><comments></comments><descriptors><entry><key>Hadoop Configuration Files</key><value><description>Comma-separated list of Hadoop Configuration files, such as hbase-site.xml, including full paths to the files.</description><displayName>Hadoop Configuration Files</displayName><dynamic>false</dynamic><name>Hadoop Configuration Files</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>ZooKeeper Quorum</key><value><description>Comma-separated list of ZooKeeper hosts for HBase. Required if Hadoop Configuration Files are not provided.</description><displayName>ZooKeeper Quorum</displayName><dynamic>false</dynamic><name>ZooKeeper Quorum</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>ZooKeeper Client Port</key><value><description>The port on which ZooKeeper is accepting client connections. Required if Hadoop Configuration Files are not provided.</description><displayName>ZooKeeper Client Port</displayName><dynamic>false</dynamic><name>ZooKeeper Client Port</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>ZooKeeper ZNode Parent</key><value><description>The ZooKeeper ZNode Parent value for HBase (example: /hbase). Required if Hadoop Configuration Files are not provided.</description><displayName>ZooKeeper ZNode Parent</displayName><dynamic>false</dynamic><name>ZooKeeper ZNode Parent</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>HBase Client Retries</key><value><defaultValue>1</defaultValue><description>The number of times the HBase client will retry connecting. Required if Hadoop Configuration Files are not provided.</description><displayName>HBase Client Retries</displayName><dynamic>false</dynamic><name>HBase Client Retries</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><name>HBase_1_1_2_ClientService</name><properties><entry><key>Hadoop Configuration Files</key></entry><entry><key>ZooKeeper Quorum</key><value>zookeeper</value></entry><entry><key>ZooKeeper Client Port</key><value>2181</value></entry><entry><key>ZooKeeper ZNode Parent</key><value>/hbase</value></entry><entry><key>HBase Client Retries</key></entry></properties><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>HBase Client Service</key><value><allowableValues><displayName>HBase_1_1_2_ClientService</displayName><value>a0b7c4ec-f5ad-476e-a5b7-4bcee49ae7c8</value></allowableValues><description>Specifies the Controller Service to use for accessing HBase.</description><displayName>HBase Client Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.hbase.HBaseClientService</identifiesControllerService><name>HBase Client Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Table Name</key><value><description>The name of the HBase Table to put data into</description><displayName>Table Name</displayName><dynamic>false</dynamic><name>Table Name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Row Identifier</key><value><description>Specifies the Row ID to use when inserting data into HBase</description><displayName>Row Identifier</displayName><dynamic>false</dynamic><name>Row Identifier</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Row Identifier Field Name</key><value><description>Specifies the name of a JSON element whose value should be used as the row id for the given JSON document.</description><displayName>Row Identifier Field Name</displayName><dynamic>false</dynamic><name>Row Identifier Field Name</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Column Family</key><value><description>The Column Family to use when inserting data into HBase</description><displayName>Column Family</displayName><dynamic>false</dynamic><name>Column Family</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Batch Size</key><value><defaultValue>25</defaultValue><description>The maximum number of FlowFiles to process in a single execution. The FlowFiles will be grouped by table, and a single Put per table will be performed.</description><displayName>Batch Size</displayName><dynamic>false</dynamic><name>Batch Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Complex Field Strategy</key><value><allowableValues><description>Route entire FlowFile to failure if any elements contain complex values.</description><displayName>Fail</displayName><value>Fail</value></allowableValues><allowableValues><description>Provide a warning and do not include field in row sent to HBase.</description><displayName>Warn</displayName><value>Warn</value></allowableValues><allowableValues><description>Silently ignore and do not include in row sent to HBase.</description><displayName>Ignore</displayName><value>Ignore</value></allowableValues><allowableValues><description>Use the string representation of the complex field as the value of the given column.</description><displayName>Text</displayName><value>Text</value></allowableValues><defaultValue>Text</defaultValue><description>Indicates how to handle complex fields, i.e. fields that do not have a single text value.</description><displayName>Complex Field Strategy</displayName><dynamic>false</dynamic><name>Complex Field Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>0848e9d6-f5f6-48bd-a245-f2c964720310</groupId><id>319bb562-1816-4d63-9c03-6f8b766059b1</id><name>PutHBaseJSON</name><properties><entry><key>HBase Client Service</key><value>a0b7c4ec-f5ad-476e-a5b7-4bcee49ae7c8</value></entry><entry><key>Table Name</key><value>Users</value></entry><entry><key>Row Identifier</key></entry><entry><key>Row Identifier Field Name</key><value>ssn</value></entry><entry><key>Column Family</key><value>cf</value></entry><entry><key>Batch Size</key></entry><entry><key>Complex Field Strategy</key></entry></properties><referenceType>Processor</referenceType><state>STOPPED</state><type>org.apache.nifi.hbase.PutHBaseJSON</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>HBase Client Service</key><value><allowableValues><displayName>HBase_1_1_2_ClientService</displayName><value>a0b7c4ec-f5ad-476e-a5b7-4bcee49ae7c8</value></allowableValues><description>Specifies the Controller Service to use for accessing HBase.</description><displayName>HBase Client Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.hbase.HBaseClientService</identifiesControllerService><name>HBase Client Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Distributed Cache Service</key><value><allowableValues><displayName>DistributedMapCacheClientService</displayName><value>dbc34790-aa98-495a-8170-5ff40ed6c398</value></allowableValues><description>Specifies the Controller Service that should be used to maintain state about what has been pulled from HBase so that if a new node begins pulling data, it won't duplicate all of the work that has been done.</description><displayName>Distributed Cache Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService><name>Distributed Cache Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Table Name</key><value><description>The name of the HBase Table to put data into</description><displayName>Table Name</displayName><dynamic>false</dynamic><name>Table Name</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Columns</key><value><description>A comma-separated list of &quot;&lt;colFamily&gt;:&lt;colQualifier&gt;&quot; pairs to return when scanning. To return all columns for a given family, leave off the qualifier such as &quot;&lt;colFamily1&gt;,&lt;colFamily2&gt;&quot;.</description><displayName>Columns</displayName><dynamic>false</dynamic><name>Columns</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Filter Expression</key><value><description>An HBase filter expression that will be applied to the scan. This property can not be used when also using the Columns property.</description><displayName>Filter Expression</displayName><dynamic>false</dynamic><name>Filter Expression</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Initial Time Range</key><value><allowableValues><displayName>None</displayName><value>None</value></allowableValues><allowableValues><displayName>Current Time</displayName><value>Current Time</value></allowableValues><defaultValue>None</defaultValue><description>The time range to use on the first scan of a table. None will pull the entire table on the first scan, Current Time will pull entries from that point forward.</description><displayName>Initial Time Range</displayName><dynamic>false</dynamic><name>Initial Time Range</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Character Set</key><value><defaultValue>UTF-8</defaultValue><description>Specifies which character set is used to encode the data in HBase</description><displayName>Character Set</displayName><dynamic>false</dynamic><name>Character Set</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>0848e9d6-f5f6-48bd-a245-f2c964720310</groupId><id>eb67a245-7ad0-4862-b374-e33d871ddc68</id><name>GetHBase</name><properties><entry><key>HBase Client Service</key><value>a0b7c4ec-f5ad-476e-a5b7-4bcee49ae7c8</value></entry><entry><key>Distributed Cache Service</key><value>dbc34790-aa98-495a-8170-5ff40ed6c398</value></entry><entry><key>Table Name</key><value>Users</value></entry><entry><key>Columns</key></entry><entry><key>Filter Expression</key></entry><entry><key>Initial Time Range</key></entry><entry><key>Character Set</key></entry></properties><referenceType>Processor</referenceType><state>STOPPED</state><type>org.apache.nifi.hbase.GetHBase</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>HBase Client Service</key><value><allowableValues><displayName>HBase_1_1_2_ClientService</displayName><value>a0b7c4ec-f5ad-476e-a5b7-4bcee49ae7c8</value></allowableValues><description>Specifies the Controller Service to use for accessing HBase.</description><displayName>HBase Client Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.hbase.HBaseClientService</identifiesControllerService><name>HBase Client Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Table Name</key><value><description>The name of the HBase Table to put data into</description><displayName>Table Name</displayName><dynamic>false</dynamic><name>Table Name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Row Identifier</key><value><description>Specifies the Row ID to use when inserting data into HBase</description><displayName>Row Identifier</displayName><dynamic>false</dynamic><name>Row Identifier</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Column Family</key><value><description>The Column Family to use when inserting data into HBase</description><displayName>Column Family</displayName><dynamic>false</dynamic><name>Column Family</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Column Qualifier</key><value><description>The Column Qualifier to use when inserting data into HBase</description><displayName>Column Qualifier</displayName><dynamic>false</dynamic><name>Column Qualifier</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Batch Size</key><value><defaultValue>25</defaultValue><description>The maximum number of FlowFiles to process in a single execution. The FlowFiles will be grouped by table, and a single Put per table will be performed.</description><displayName>Batch Size</displayName><dynamic>false</dynamic><name>Batch Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>0848e9d6-f5f6-48bd-a245-f2c964720310</groupId><id>bde74e5e-e3a1-4532-9d1a-3c3daf10a897</id><name>PutHBaseCell</name><properties><entry><key>HBase Client Service</key><value>a0b7c4ec-f5ad-476e-a5b7-4bcee49ae7c8</value></entry><entry><key>Table Name</key><value>Users</value></entry><entry><key>Row Identifier</key><value>${ssn}</value></entry><entry><key>Column Family</key><value>cf</value></entry><entry><key>Column Qualifier</key><value>user_full</value></entry><entry><key>Batch Size</key></entry></properties><referenceType>Processor</referenceType><state>STOPPED</state><type>org.apache.nifi.hbase.PutHBaseCell</type></referencingComponents><state>ENABLING</state><type>org.apache.nifi.hbase.HBase_1_1_2_ClientService</type></controllerServices><controllerServices><id>dbc34790-aa98-495a-8170-5ff40ed6c398</id><comments></comments><descriptors><entry><key>Server Hostname</key><value><description>The name of the server that is running the DistributedMapCacheServer service</description><displayName>Server Hostname</displayName><dynamic>false</dynamic><name>Server Hostname</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Server Port</key><value><defaultValue>4557</defaultValue><description>The port on the remote server that is to be used when communicating with the DistributedMapCacheServer service</description><displayName>Server Port</displayName><dynamic>false</dynamic><name>Server Port</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SSL Context Service</key><value><allowableValues><displayName>StandardSSLContextService</displayName><value>8b29f36c-85ed-4329-955d-3123fc5b9d23</value></allowableValues><description>If specified, indicates the SSL Context Service that is used to communicate with the remote server. If not specified, communications will not be encrypted</description><displayName>SSL Context Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService><name>SSL Context Service</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Communications Timeout</key><value><defaultValue>30 secs</defaultValue><description>Specifies how long to wait when communicating with the remote server before determining that there is a communications failure if data cannot be sent or received</description><displayName>Communications Timeout</displayName><dynamic>false</dynamic><name>Communications Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><name>DistributedMapCacheClientService</name><properties><entry><key>Server Hostname</key><value>localhost</value></entry><entry><key>Server Port</key></entry><entry><key>SSL Context Service</key></entry><entry><key>Communications Timeout</key></entry></properties><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>HBase Client Service</key><value><allowableValues><displayName>HBase_1_1_2_ClientService</displayName><value>a0b7c4ec-f5ad-476e-a5b7-4bcee49ae7c8</value></allowableValues><description>Specifies the Controller Service to use for accessing HBase.</description><displayName>HBase Client Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.hbase.HBaseClientService</identifiesControllerService><name>HBase Client Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Distributed Cache Service</key><value><allowableValues><displayName>DistributedMapCacheClientService</displayName><value>dbc34790-aa98-495a-8170-5ff40ed6c398</value></allowableValues><description>Specifies the Controller Service that should be used to maintain state about what has been pulled from HBase so that if a new node begins pulling data, it won't duplicate all of the work that has been done.</description><displayName>Distributed Cache Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService><name>Distributed Cache Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Table Name</key><value><description>The name of the HBase Table to put data into</description><displayName>Table Name</displayName><dynamic>false</dynamic><name>Table Name</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Columns</key><value><description>A comma-separated list of &quot;&lt;colFamily&gt;:&lt;colQualifier&gt;&quot; pairs to return when scanning. To return all columns for a given family, leave off the qualifier such as &quot;&lt;colFamily1&gt;,&lt;colFamily2&gt;&quot;.</description><displayName>Columns</displayName><dynamic>false</dynamic><name>Columns</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Filter Expression</key><value><description>An HBase filter expression that will be applied to the scan. This property can not be used when also using the Columns property.</description><displayName>Filter Expression</displayName><dynamic>false</dynamic><name>Filter Expression</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Initial Time Range</key><value><allowableValues><displayName>None</displayName><value>None</value></allowableValues><allowableValues><displayName>Current Time</displayName><value>Current Time</value></allowableValues><defaultValue>None</defaultValue><description>The time range to use on the first scan of a table. None will pull the entire table on the first scan, Current Time will pull entries from that point forward.</description><displayName>Initial Time Range</displayName><dynamic>false</dynamic><name>Initial Time Range</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Character Set</key><value><defaultValue>UTF-8</defaultValue><description>Specifies which character set is used to encode the data in HBase</description><displayName>Character Set</displayName><dynamic>false</dynamic><name>Character Set</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>0848e9d6-f5f6-48bd-a245-f2c964720310</groupId><id>eb67a245-7ad0-4862-b374-e33d871ddc68</id><name>GetHBase</name><properties><entry><key>HBase Client Service</key><value>a0b7c4ec-f5ad-476e-a5b7-4bcee49ae7c8</value></entry><entry><key>Distributed Cache Service</key><value>dbc34790-aa98-495a-8170-5ff40ed6c398</value></entry><entry><key>Table Name</key><value>Users</value></entry><entry><key>Columns</key></entry><entry><key>Filter Expression</key></entry><entry><key>Initial Time Range</key></entry><entry><key>Character Set</key></entry></properties><referenceType>Processor</referenceType><state>STOPPED</state><type>org.apache.nifi.hbase.GetHBase</type></referencingComponents><state>ENABLED</state><type>org.apache.nifi.distributed.cache.client.DistributedMapCacheClientService</type></controllerServices><processors><id>eb67a245-7ad0-4862-b374-e33d871ddc68</id><parentGroupId>0848e9d6-f5f6-48bd-a245-f2c964720310</parentGroupId><position><x>8165.994330184036</x><y>84.72743809594363</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>HBase Client Service</key><value><allowableValues><displayName>HBase_1_1_2_ClientService</displayName><value>a0b7c4ec-f5ad-476e-a5b7-4bcee49ae7c8</value></allowableValues><description>Specifies the Controller Service to use for accessing HBase.</description><displayName>HBase Client Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.hbase.HBaseClientService</identifiesControllerService><name>HBase Client Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Distributed Cache Service</key><value><allowableValues><displayName>DistributedMapCacheClientService</displayName><value>dbc34790-aa98-495a-8170-5ff40ed6c398</value></allowableValues><description>Specifies the Controller Service that should be used to maintain state about what has been pulled from HBase so that if a new node begins pulling data, it won't duplicate all of the work that has been done.</description><displayName>Distributed Cache Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService><name>Distributed Cache Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Table Name</key><value><description>The name of the HBase Table to put data into</description><displayName>Table Name</displayName><dynamic>false</dynamic><name>Table Name</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Columns</key><value><description>A comma-separated list of &quot;&lt;colFamily&gt;:&lt;colQualifier&gt;&quot; pairs to return when scanning. To return all columns for a given family, leave off the qualifier such as &quot;&lt;colFamily1&gt;,&lt;colFamily2&gt;&quot;.</description><displayName>Columns</displayName><dynamic>false</dynamic><name>Columns</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Filter Expression</key><value><description>An HBase filter expression that will be applied to the scan. This property can not be used when also using the Columns property.</description><displayName>Filter Expression</displayName><dynamic>false</dynamic><name>Filter Expression</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Initial Time Range</key><value><allowableValues><displayName>None</displayName><value>None</value></allowableValues><allowableValues><displayName>Current Time</displayName><value>Current Time</value></allowableValues><defaultValue>None</defaultValue><description>The time range to use on the first scan of a table. None will pull the entire table on the first scan, Current Time will pull entries from that point forward.</description><displayName>Initial Time Range</displayName><dynamic>false</dynamic><name>Initial Time Range</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Character Set</key><value><defaultValue>UTF-8</defaultValue><description>Specifies which character set is used to encode the data in HBase</description><displayName>Character Set</displayName><dynamic>false</dynamic><name>Character Set</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>HBase Client Service</key><value>a0b7c4ec-f5ad-476e-a5b7-4bcee49ae7c8</value></entry><entry><key>Distributed Cache Service</key><value>dbc34790-aa98-495a-8170-5ff40ed6c398</value></entry><entry><key>Table Name</key><value>Users</value></entry><entry><key>Columns</key></entry><entry><key>Filter Expression</key></entry><entry><key>Initial Time Range</key></entry><entry><key>Character Set</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>GetHBase</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>false</supportsParallelProcessing><type>org.apache.nifi.hbase.GetHBase</type></processors><processors><id>095abd28-6aaf-4a68-a3c1-0fad18c220f0</id><parentGroupId>0848e9d6-f5f6-48bd-a245-f2c964720310</parentGroupId><position><x>6850.381836145443</x><y>630.0892661912443</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Attributes List</key><value><description>Comma separated list of attributes to be included in the resulting JSON. If this value is left empty then all existing Attributes will be included. This list of attributes is case sensitive. If an attribute specified in the list is not found it will be be emitted to the resulting JSON with an empty string or NULL value.</description><displayName>Attributes List</displayName><dynamic>false</dynamic><name>Attributes List</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Destination</key><value><allowableValues><displayName>flowfile-attribute</displayName><value>flowfile-attribute</value></allowableValues><allowableValues><displayName>flowfile-content</displayName><value>flowfile-content</value></allowableValues><defaultValue>flowfile-attribute</defaultValue><description>Control if JSON value is written as a new flowfile attribute 'JSONAttributes' or written in the flowfile content. Writing to flowfile content will overwrite any existing flowfile content.</description><displayName>Destination</displayName><dynamic>false</dynamic><name>Destination</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Include Core Attributes</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Determines if the FlowFile org.apache.nifi.flowfile.attributes.CoreAttributes which are contained in every FlowFile should be included in the final JSON value generated.</description><displayName>Include Core Attributes</displayName><dynamic>false</dynamic><name>Include Core Attributes</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Null Value</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If true a non existing or empty attribute will be NULL in the resulting JSON. If false an empty string will be placed in the JSON</description><displayName>Null Value</displayName><dynamic>false</dynamic><name>Null Value</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Attributes List</key><value>ssn, firstName, lastName, email</value></entry><entry><key>Destination</key><value>flowfile-content</value></entry><entry><key>Include Core Attributes</key></entry><entry><key>Null Value</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>AttributesToJSON</name><relationships><autoTerminate>false</autoTerminate><description>Failed to convert attributes to JSON</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>Successfully converted attributes to JSON</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.AttributesToJSON</type></processors><processors><id>a3316bd4-7801-44c2-8f8d-2e54b3f532a4</id><parentGroupId>0848e9d6-f5f6-48bd-a245-f2c964720310</parentGroupId><position><x>8165.9947464505985</x><y>304.96243371033205</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Known Brokers</key><value><description>A comma-separated list of known Kafka Brokers in the format &lt;host&gt;:&lt;port&gt;</description><displayName>Known Brokers</displayName><dynamic>false</dynamic><name>Known Brokers</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Topic Name</key><value><description>The Kafka Topic of interest</description><displayName>Topic Name</displayName><dynamic>false</dynamic><name>Topic Name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Partition Strategy</key><value><allowableValues><description>Messages will be assigned partitions in a round-robin fashion, sending the first message to Partition 1, the next Partition to Partition 2, and so on, wrapping as necessary.</description><displayName>Round Robin</displayName><value>Round Robin</value></allowableValues><allowableValues><description>Messages will be assigned to random partitions.</description><displayName>Random</displayName><value>Random Robin</value></allowableValues><allowableValues><description>The &lt;Partition&gt; property will be used to determine the partition. All messages within the same FlowFile will be assigned to the same partition.</description><displayName>User-Defined</displayName><value>User-Defined</value></allowableValues><defaultValue>Round Robin</defaultValue><description>Specifies how messages should be partitioned when sent to Kafka</description><displayName>Partition Strategy</displayName><dynamic>false</dynamic><name>Partition Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Partition</key><value><description>Specifies which Kafka Partition to add the message to. If using a message delimiter, all messages in the same FlowFile will be sent to the same partition. If a partition is specified but is not valid, then all messages within the same FlowFile will use the same partition but it remains undefined which partition is used.</description><displayName>Partition</displayName><dynamic>false</dynamic><name>Partition</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Kafka Key</key><value><description>The Key to use for the Message</description><displayName>Kafka Key</displayName><dynamic>false</dynamic><name>Kafka Key</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Delivery Guarantee</key><value><allowableValues><description>FlowFile will be routed to success after successfully writing the content to a Kafka node, without waiting for a response. This provides the best performance but may result in data loss.</description><displayName>Best Effort</displayName><value>0</value></allowableValues><allowableValues><description>FlowFile will be routed to success if the message is received by a single Kafka node, whether or not it is replicated. This is faster than &lt;Guarantee Replicated Delivery&gt; but can result in data loss if a Kafka node crashes</description><displayName>Guarantee Single Node Delivery</displayName><value>1</value></allowableValues><allowableValues><description>FlowFile will be routed to failure unless the message is replicated to the appropriate number of Kafka Nodes according to the Topic configuration</description><displayName>Guarantee Replicated Delivery</displayName><value>all</value></allowableValues><defaultValue>0</defaultValue><description>Specifies the requirement for guaranteeing that a message is sent to Kafka</description><displayName>Delivery Guarantee</displayName><dynamic>false</dynamic><name>Delivery Guarantee</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Message Delimiter</key><value><description>Specifies the delimiter to use for splitting apart multiple messages within a single FlowFile. If not specified, the entire content of the FlowFile will be used as a single message. If specified, the contents of the FlowFile will be split on this delimiter and each section sent as a separate Kafka message. Note that if messages are delimited and some messages for a given FlowFile are transferred successfully while others are not, the messages will be split into individual FlowFiles, such that those messages that were successfully sent are routed to the 'success' relationship while other messages are sent to the 'failure' relationship.</description><displayName>Message Delimiter</displayName><dynamic>false</dynamic><name>Message Delimiter</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Buffer Size</key><value><defaultValue>5 MB</defaultValue><description>The maximum amount of data to buffer in memory before sending to Kafka</description><displayName>Max Buffer Size</displayName><dynamic>false</dynamic><name>Max Buffer Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Record Size</key><value><defaultValue>1 MB</defaultValue><description>The maximum size that any individual record can be.</description><displayName>Max Record Size</displayName><dynamic>false</dynamic><name>Max Record Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Communications Timeout</key><value><defaultValue>30 secs</defaultValue><description>The amount of time to wait for a response from Kafka before determining that there is a communications error</description><displayName>Communications Timeout</displayName><dynamic>false</dynamic><name>Communications Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Async Batch Size</key><value><defaultValue>200</defaultValue><description>The number of messages to send in one batch. The producer will wait until either this number of messages are ready to send or &quot;Queue Buffering Max Time&quot; is reached.</description><displayName>Batch Size</displayName><dynamic>false</dynamic><name>Async Batch Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Queue Buffering Max Time</key><value><defaultValue>5 secs</defaultValue><description>Maximum time to buffer data before sending to Kafka. For example a setting of 100 ms will try to batch together 100 milliseconds' worth of messages to send at once. This will improve throughput but adds message delivery latency due to the buffering.</description><displayName>Queue Buffering Max Time</displayName><dynamic>false</dynamic><name>Queue Buffering Max Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Compression Codec</key><value><allowableValues><description>Compression will not be used for any topic.</description><displayName>None</displayName><value>none</value></allowableValues><allowableValues><description>Compress messages using GZIP</description><displayName>GZIP</displayName><value>gzip</value></allowableValues><allowableValues><description>Compress messages using Snappy</description><displayName>Snappy</displayName><value>snappy</value></allowableValues><defaultValue>none</defaultValue><description>This parameter allows you to specify the compression codec for all data generated by this producer.</description><displayName>Compression Codec</displayName><dynamic>false</dynamic><name>Compression Codec</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Client Name</key><value><defaultValue>NiFi-a3316bd4-7801-44c2-8f8d-2e54b3f532a4</defaultValue><description>Client Name to use when communicating with Kafka</description><displayName>Client Name</displayName><dynamic>false</dynamic><name>Client Name</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Known Brokers</key><value>kafka:9092</value></entry><entry><key>Topic Name</key><value>users</value></entry><entry><key>Partition Strategy</key></entry><entry><key>Partition</key></entry><entry><key>Kafka Key</key></entry><entry><key>Delivery Guarantee</key></entry><entry><key>Message Delimiter</key></entry><entry><key>Max Buffer Size</key></entry><entry><key>Max Record Size</key></entry><entry><key>Communications Timeout</key></entry><entry><key>Async Batch Size</key></entry><entry><key>Queue Buffering Max Time</key></entry><entry><key>Compression Codec</key></entry><entry><key>Client Name</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>PutKafka</name><relationships><autoTerminate>false</autoTerminate><description>Any FlowFile that cannot be sent to Kafka will be routed to this Relationship</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>Any FlowFile that is successfully sent to Kafka will be routed to this Relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.kafka.PutKafka</type></processors><processors><id>9e5731e6-0c7f-4f11-b4cb-7d795cb1f8c1</id><parentGroupId>0848e9d6-f5f6-48bd-a245-f2c964720310</parentGroupId><position><x>6850.384961400969</x><y>275.1876786864101</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>JsonPath Expression</key><value><description>A JsonPath expression that indicates the array element to split into JSON/scalar fragments.</description><displayName>JsonPath Expression</displayName><dynamic>false</dynamic><name>JsonPath Expression</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Null Value Representation</key><value><allowableValues><displayName>empty string</displayName><value>empty string</value></allowableValues><allowableValues><displayName>the string 'null'</displayName><value>the string 'null'</value></allowableValues><defaultValue>empty string</defaultValue><description>Indicates the desired representation of JSON Path expressions resulting in a null value.</description><displayName>Null Value Representation</displayName><dynamic>false</dynamic><name>Null Value Representation</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>JsonPath Expression</key><value>$.results[*]</value></entry><entry><key>Null Value Representation</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>SplitJson</name><relationships><autoTerminate>true</autoTerminate><description>If a FlowFile fails processing for any reason (for example, the FlowFile is not valid JSON or the specified path does not exist), it will be routed to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>The original FlowFile that was split into segments. If the FlowFile fails processing, nothing will be sent to this relationship</description><name>original</name></relationships><relationships><autoTerminate>false</autoTerminate><description>All segments of the original FlowFile will be routed to this relationship</description><name>split</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.SplitJson</type></processors><processors><id>f41596a9-17e5-43bf-b361-239303bcf177</id><parentGroupId>0848e9d6-f5f6-48bd-a245-f2c964720310</parentGroupId><position><x>6851.338216779653</x><y>451.2035892082406</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Destination</key><value><allowableValues><displayName>flowfile-content</displayName><value>flowfile-content</value></allowableValues><allowableValues><displayName>flowfile-attribute</displayName><value>flowfile-attribute</value></allowableValues><defaultValue>flowfile-content</defaultValue><description>Indicates whether the results of the JsonPath evaluation are written to the FlowFile content or a FlowFile attribute; if using attribute, must specify the Attribute Name property. If set to flowfile-content, only one JsonPath may be specified, and the property name is ignored.</description><displayName>Destination</displayName><dynamic>false</dynamic><name>Destination</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Return Type</key><value><allowableValues><displayName>auto-detect</displayName><value>auto-detect</value></allowableValues><allowableValues><displayName>json</displayName><value>json</value></allowableValues><allowableValues><displayName>scalar</displayName><value>scalar</value></allowableValues><defaultValue>auto-detect</defaultValue><description>Indicates the desired return type of the JSON Path expressions.  Selecting 'auto-detect' will set the return type to 'json' for a Destination of 'flowfile-content', and 'scalar' for a Destination of 'flowfile-attribute'.</description><displayName>Return Type</displayName><dynamic>false</dynamic><name>Return Type</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Path Not Found Behavior</key><value><allowableValues><displayName>warn</displayName><value>warn</value></allowableValues><allowableValues><displayName>ignore</displayName><value>ignore</value></allowableValues><defaultValue>ignore</defaultValue><description>Indicates how to handle missing JSON path expressions when destination is set to 'flowfile-attribute'. Selecting 'warn' will generate a warning when a JSON path expression is not found.</description><displayName>Path Not Found Behavior</displayName><dynamic>false</dynamic><name>Path Not Found Behavior</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Null Value Representation</key><value><allowableValues><displayName>empty string</displayName><value>empty string</value></allowableValues><allowableValues><displayName>the string 'null'</displayName><value>the string 'null'</value></allowableValues><defaultValue>empty string</defaultValue><description>Indicates the desired representation of JSON Path expressions resulting in a null value.</description><displayName>Null Value Representation</displayName><dynamic>false</dynamic><name>Null Value Representation</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>email</key><value><description></description><displayName>email</displayName><dynamic>true</dynamic><name>email</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>firstName</key><value><description></description><displayName>firstName</displayName><dynamic>true</dynamic><name>firstName</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>lastName</key><value><description></description><displayName>lastName</displayName><dynamic>true</dynamic><name>lastName</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>ssn</key><value><description></description><displayName>ssn</displayName><dynamic>true</dynamic><name>ssn</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Destination</key><value>flowfile-attribute</value></entry><entry><key>Return Type</key></entry><entry><key>Path Not Found Behavior</key></entry><entry><key>Null Value Representation</key></entry><entry><key>email</key><value>$.user.email</value></entry><entry><key>firstName</key><value>$.user.name.first</value></entry><entry><key>lastName</key><value>$.user.name.last</value></entry><entry><key>ssn</key><value>$.user.SSN</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>EvaluateJsonPath</name><relationships><autoTerminate>true</autoTerminate><description>FlowFiles are routed to this relationship when the JsonPath cannot be evaluated against the content of the FlowFile; for instance, if the FlowFile is not valid JSON</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>FlowFiles are routed to this relationship when the JsonPath is successfully evaluated and the FlowFile is modified as a result</description><name>matched</name></relationships><relationships><autoTerminate>true</autoTerminate><description>FlowFiles are routed to this relationship when the JsonPath does not match the content of the FlowFile and the Destination is set to flowfile-content</description><name>unmatched</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.EvaluateJsonPath</type></processors><processors><id>f1d812f9-f139-4083-ba56-db1e6a49e15d</id><parentGroupId>0848e9d6-f5f6-48bd-a245-f2c964720310</parentGroupId><position><x>6847.0482576549575</x><y>79.56228462060233</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>HTTP Method</key><value><defaultValue>GET</defaultValue><description>HTTP request method (GET, POST, PUT, DELETE, HEAD, OPTIONS). Arbitrary methods are also supported but will be sent without a message body.</description><displayName>HTTP Method</displayName><dynamic>false</dynamic><name>HTTP Method</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Remote URL</key><value><description>Remote URL which will be connected to, including scheme, host, port, path.</description><displayName>Remote URL</displayName><dynamic>false</dynamic><name>Remote URL</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>SSL Context Service</key><value><allowableValues><displayName>StandardSSLContextService</displayName><value>8b29f36c-85ed-4329-955d-3123fc5b9d23</value></allowableValues><description>The SSL Context Service used to provide client certificate information for TLS/SSL (https) connections.</description><displayName>SSL Context Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService><name>SSL Context Service</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Connection Timeout</key><value><defaultValue>5 secs</defaultValue><description>Max wait time for connection to remote service.</description><displayName>Connection Timeout</displayName><dynamic>false</dynamic><name>Connection Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Read Timeout</key><value><defaultValue>15 secs</defaultValue><description>Max wait time for response from remote service.</description><displayName>Read Timeout</displayName><dynamic>false</dynamic><name>Read Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Include Date Header</key><value><allowableValues><displayName>True</displayName><value>True</value></allowableValues><allowableValues><displayName>False</displayName><value>False</value></allowableValues><defaultValue>True</defaultValue><description>Include an RFC-2616 Date header in the request.</description><displayName>Include Date Header</displayName><dynamic>false</dynamic><name>Include Date Header</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Follow Redirects</key><value><allowableValues><displayName>True</displayName><value>True</value></allowableValues><allowableValues><displayName>False</displayName><value>False</value></allowableValues><defaultValue>True</defaultValue><description>Follow HTTP redirects issued by remote server.</description><displayName>Follow Redirects</displayName><dynamic>false</dynamic><name>Follow Redirects</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Attributes to Send</key><value><description>Regular expression that defines which attributes to send as HTTP headers in the request. If not defined, no attributes are sent as headers. Also any dynamic properties set will be sent as headers. The dynamic property key will be the header key and the dynamic property value will be interpreted as expression language will be the header value.</description><displayName>Attributes to Send</displayName><dynamic>false</dynamic><name>Attributes to Send</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Basic Authentication Username</key><value><description>The username to be used by the client to authenticate against the Remote URL.  Cannot include control characters (0-31), ':', or DEL (127).</description><displayName>Basic Authentication Username</displayName><dynamic>false</dynamic><name>Basic Authentication Username</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Basic Authentication Password</key><value><description>The password to be used by the client to authenticate against the Remote URL.</description><displayName>Basic Authentication Password</displayName><dynamic>false</dynamic><name>Basic Authentication Password</name><required>false</required><sensitive>true</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Proxy Host</key><value><description>The fully qualified hostname or IP address of the proxy server</description><displayName>Proxy Host</displayName><dynamic>false</dynamic><name>Proxy Host</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Proxy Port</key><value><description>The port of the proxy server</description><displayName>Proxy Port</displayName><dynamic>false</dynamic><name>Proxy Port</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Put Response Body In Attribute</key><value><description>If set, the response body received back will be put into an attribute of the original FlowFile instead of a separate FlowFile. The attribute key to put to is determined by evaluating value of this property. </description><displayName>Put Response Body In Attribute</displayName><dynamic>false</dynamic><name>Put Response Body In Attribute</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Length To Put In Attribute</key><value><defaultValue>256</defaultValue><description>If routing the response body to an attribute of the original (by setting the &quot;Put response body in attribute&quot; property or by receiving an error status code), the number of characters put to the attribute value will be at most this amount. This is important because attributes are held in memory and large attributes will quickly cause out of memory issues. If the output goes longer than this value, it will be truncated to fit. Consider making this smaller if able.</description><displayName>Max Length To Put In Attribute</displayName><dynamic>false</dynamic><name>Max Length To Put In Attribute</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Digest Authentication</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Whether to communicate with the website using Digest Authentication. 'Basic Authentication Username' and 'Basic Authentication Password' are used for authentication.</description><displayName>Use Digest Authentication</displayName><dynamic>false</dynamic><name>Digest Authentication</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Always Output Response</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Will force a response FlowFile to be generated and routed to the 'Response' relationship regardless of what the server status code received is or if the processor is configured to put the server response body in the request attribute. In the later configuration a request FlowFile with the response body in the attribute and a typical response FlowFile will be emitted to their respective relationships.</description><displayName>Always Output Response</displayName><dynamic>false</dynamic><name>Always Output Response</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Trusted Hostname</key><value><description>Bypass the normal truststore hostname verifier to allow the specified remote hostname as trusted. Enabling this property has MITM security implications, use wisely. Will still accept other connections based on the normal truststore hostname verifier. Only valid with SSL (HTTPS) connections.</description><displayName>Trusted Hostname</displayName><dynamic>false</dynamic><name>Trusted Hostname</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Add Response Headers to Request</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Enabling this property saves all the response headers to the original request. This may be when the response headers are needed but a response is not generated due to the status code received.</description><displayName>Add Response Headers to Request</displayName><dynamic>false</dynamic><name>Add Response Headers to Request</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>HTTP Method</key><value>GET</value></entry><entry><key>Remote URL</key><value>http://api.randomuser.me?nat=us&amp;results=1000</value></entry><entry><key>SSL Context Service</key></entry><entry><key>Connection Timeout</key><value>5 secs</value></entry><entry><key>Read Timeout</key><value>15 secs</value></entry><entry><key>Include Date Header</key><value>True</value></entry><entry><key>Follow Redirects</key><value>True</value></entry><entry><key>Attributes to Send</key></entry><entry><key>Basic Authentication Username</key></entry><entry><key>Basic Authentication Password</key></entry><entry><key>Proxy Host</key></entry><entry><key>Proxy Port</key></entry><entry><key>Put Response Body In Attribute</key></entry><entry><key>Max Length To Put In Attribute</key><value>256</value></entry><entry><key>Digest Authentication</key><value>false</value></entry><entry><key>Always Output Response</key><value>false</value></entry><entry><key>Trusted Hostname</key></entry><entry><key>Add Response Headers to Request</key><value>false</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>1 mins</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Fetch User Data</name><relationships><autoTerminate>true</autoTerminate><description>The original FlowFile will be routed on any type of connection failure, timeout or general exception. It will have new attributes detailing the request.</description><name>Failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>The original FlowFile will be routed on any status code that should NOT be retried (1xx, 3xx, 4xx status codes).  It will have new attributes detailing the request.</description><name>No Retry</name></relationships><relationships><autoTerminate>true</autoTerminate><description>The original FlowFile will be routed upon success (2xx status codes). It will have new attributes detailing the success of the request.</description><name>Original</name></relationships><relationships><autoTerminate>false</autoTerminate><description>A Response FlowFile will be routed upon success (2xx status codes). If the 'Output Response Regardless' property is true then the response will be sent to this relationship regardless of the status code received.</description><name>Response</name></relationships><relationships><autoTerminate>true</autoTerminate><description>The original FlowFile will be routed on any status code that can be retried (5xx status codes). It will have new attributes detailing the request.</description><name>Retry</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.InvokeHTTP</type></processors><processors><id>bde74e5e-e3a1-4532-9d1a-3c3daf10a897</id><parentGroupId>0848e9d6-f5f6-48bd-a245-f2c964720310</parentGroupId><position><x>7511.424556899202</x><y>451.22781760243845</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>HBase Client Service</key><value><allowableValues><displayName>HBase_1_1_2_ClientService</displayName><value>a0b7c4ec-f5ad-476e-a5b7-4bcee49ae7c8</value></allowableValues><description>Specifies the Controller Service to use for accessing HBase.</description><displayName>HBase Client Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.hbase.HBaseClientService</identifiesControllerService><name>HBase Client Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Table Name</key><value><description>The name of the HBase Table to put data into</description><displayName>Table Name</displayName><dynamic>false</dynamic><name>Table Name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Row Identifier</key><value><description>Specifies the Row ID to use when inserting data into HBase</description><displayName>Row Identifier</displayName><dynamic>false</dynamic><name>Row Identifier</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Column Family</key><value><description>The Column Family to use when inserting data into HBase</description><displayName>Column Family</displayName><dynamic>false</dynamic><name>Column Family</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Column Qualifier</key><value><description>The Column Qualifier to use when inserting data into HBase</description><displayName>Column Qualifier</displayName><dynamic>false</dynamic><name>Column Qualifier</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Batch Size</key><value><defaultValue>25</defaultValue><description>The maximum number of FlowFiles to process in a single execution. The FlowFiles will be grouped by table, and a single Put per table will be performed.</description><displayName>Batch Size</displayName><dynamic>false</dynamic><name>Batch Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>HBase Client Service</key><value>a0b7c4ec-f5ad-476e-a5b7-4bcee49ae7c8</value></entry><entry><key>Table Name</key><value>Users</value></entry><entry><key>Row Identifier</key><value>${ssn}</value></entry><entry><key>Column Family</key><value>cf</value></entry><entry><key>Column Qualifier</key><value>user_full</value></entry><entry><key>Batch Size</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>PutHBaseCell</name><relationships><autoTerminate>false</autoTerminate><description>A FlowFile is routed to this relationship if it cannot be sent to HBase</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>A FlowFile is routed to this relationship after it has been successfully stored in HBase</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.hbase.PutHBaseCell</type></processors><processors><id>319bb562-1816-4d63-9c03-6f8b766059b1</id><parentGroupId>0848e9d6-f5f6-48bd-a245-f2c964720310</parentGroupId><position><x>6856.12119238077</x><y>824.2807724554233</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>HBase Client Service</key><value><allowableValues><displayName>HBase_1_1_2_ClientService</displayName><value>a0b7c4ec-f5ad-476e-a5b7-4bcee49ae7c8</value></allowableValues><description>Specifies the Controller Service to use for accessing HBase.</description><displayName>HBase Client Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.hbase.HBaseClientService</identifiesControllerService><name>HBase Client Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Table Name</key><value><description>The name of the HBase Table to put data into</description><displayName>Table Name</displayName><dynamic>false</dynamic><name>Table Name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Row Identifier</key><value><description>Specifies the Row ID to use when inserting data into HBase</description><displayName>Row Identifier</displayName><dynamic>false</dynamic><name>Row Identifier</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Row Identifier Field Name</key><value><description>Specifies the name of a JSON element whose value should be used as the row id for the given JSON document.</description><displayName>Row Identifier Field Name</displayName><dynamic>false</dynamic><name>Row Identifier Field Name</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Column Family</key><value><description>The Column Family to use when inserting data into HBase</description><displayName>Column Family</displayName><dynamic>false</dynamic><name>Column Family</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Batch Size</key><value><defaultValue>25</defaultValue><description>The maximum number of FlowFiles to process in a single execution. The FlowFiles will be grouped by table, and a single Put per table will be performed.</description><displayName>Batch Size</displayName><dynamic>false</dynamic><name>Batch Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Complex Field Strategy</key><value><allowableValues><description>Route entire FlowFile to failure if any elements contain complex values.</description><displayName>Fail</displayName><value>Fail</value></allowableValues><allowableValues><description>Provide a warning and do not include field in row sent to HBase.</description><displayName>Warn</displayName><value>Warn</value></allowableValues><allowableValues><description>Silently ignore and do not include in row sent to HBase.</description><displayName>Ignore</displayName><value>Ignore</value></allowableValues><allowableValues><description>Use the string representation of the complex field as the value of the given column.</description><displayName>Text</displayName><value>Text</value></allowableValues><defaultValue>Text</defaultValue><description>Indicates how to handle complex fields, i.e. fields that do not have a single text value.</description><displayName>Complex Field Strategy</displayName><dynamic>false</dynamic><name>Complex Field Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>HBase Client Service</key><value>a0b7c4ec-f5ad-476e-a5b7-4bcee49ae7c8</value></entry><entry><key>Table Name</key><value>Users</value></entry><entry><key>Row Identifier</key></entry><entry><key>Row Identifier Field Name</key><value>ssn</value></entry><entry><key>Column Family</key><value>cf</value></entry><entry><key>Batch Size</key></entry><entry><key>Complex Field Strategy</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>PutHBaseJSON</name><relationships><autoTerminate>false</autoTerminate><description>A FlowFile is routed to this relationship if it cannot be sent to HBase</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>A FlowFile is routed to this relationship after it has been successfully stored in HBase</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.hbase.PutHBaseJSON</type></processors></snippet><timestamp>12/03/2015 17:08:47 EST</timestamp></template>