simple-httpget-route-flow.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template>
    <description>Pulls from a web service, extracts text, routes on matching text, and prepares to write to an output file on the file system.</description>
    <id>f6172efc-fbfc-449f-ba30-550a0be46799</id>
    <name>Simple Web Pull, Extract, Route, Store</name>
    <snippet>
        <connections>
            <id>c02426bf-1d42-4f53-9fc2-d50e94c6fdc2</id>
            <parentGroupId>1ad1f63f-aa0c-4ada-a49d-e5e91b54582f</parentGroupId>
            <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>0</backPressureObjectThreshold>
            <destination>
                <groupId>1ad1f63f-aa0c-4ada-a49d-e5e91b54582f</groupId>
                <id>ce55f3b7-9246-4b54-a00b-200f21f8ac05</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>1ad1f63f-aa0c-4ada-a49d-e5e91b54582f</groupId>
                <id>95ffeabd-af58-436c-a58f-452da4209cc8</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>3876beb9-2781-4a19-92da-6929d6e6b247</id>
            <parentGroupId>1ad1f63f-aa0c-4ada-a49d-e5e91b54582f</parentGroupId>
            <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>0</backPressureObjectThreshold>
            <destination>
                <groupId>1ad1f63f-aa0c-4ada-a49d-e5e91b54582f</groupId>
                <id>40d814cc-c261-4bec-9389-e3c3b03f8c35</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>NiFi</selectedRelationships>
            <source>
                <groupId>1ad1f63f-aa0c-4ada-a49d-e5e91b54582f</groupId>
                <id>5c58cc05-8ad7-4b52-9280-bb705627b48a</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>18d9b375-3b1a-447d-850a-c599a9b77151</id>
            <parentGroupId>1ad1f63f-aa0c-4ada-a49d-e5e91b54582f</parentGroupId>
            <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>0</backPressureObjectThreshold>
            <destination>
                <groupId>1ad1f63f-aa0c-4ada-a49d-e5e91b54582f</groupId>
                <id>5c58cc05-8ad7-4b52-9280-bb705627b48a</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name></name>
            <selectedRelationships>matched</selectedRelationships>
            <source>
                <groupId>1ad1f63f-aa0c-4ada-a49d-e5e91b54582f</groupId>
                <id>ce55f3b7-9246-4b54-a00b-200f21f8ac05</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <processors>
            <id>40d814cc-c261-4bec-9389-e3c3b03f8c35</id>
            <parentGroupId>1ad1f63f-aa0c-4ada-a49d-e5e91b54582f</parentGroupId>
            <position>
                <x>249.0</x>
                <y>575.0</y>
            </position>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <defaultConcurrentTasks>
                    <entry>
                        <key>TIMER_DRIVEN</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>EVENT_DRIVEN</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>CRON_DRIVEN</key>
                        <value>1</value>
                    </entry>
                </defaultConcurrentTasks>
                <defaultSchedulingPeriod>
                    <entry>
                        <key>TIMER_DRIVEN</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>CRON_DRIVEN</key>
                        <value>* * * * * ?</value>
                    </entry>
                </defaultSchedulingPeriod>
                <descriptors>
                    <entry>
                        <key>Directory</key>
                        <value>
                            <description>The directory to which files should be written. You may use expression language such as /aa/bb/${path}</description>
                            <displayName>Directory</displayName>
                            <dynamic>false</dynamic>
                            <name>Directory</name>
                            <required>true</required>
                            <sensitive>false</sensitive>
                            <supportsEl>true</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>
                            <allowableValues>
<displayName>replace</displayName>
<value>replace</value>
                            </allowableValues>
                            <allowableValues>
<displayName>ignore</displayName>
<value>ignore</value>
                            </allowableValues>
                            <allowableValues>
<displayName>fail</displayName>
<value>fail</value>
                            </allowableValues>
                            <defaultValue>fail</defaultValue>
                            <description>Indicates what should happen when a file with the same name already exists in the output directory</description>
                            <displayName>Conflict Resolution Strategy</displayName>
                            <dynamic>false</dynamic>
                            <name>Conflict Resolution Strategy</name>
                            <required>true</required>
                            <sensitive>false</sensitive>
                            <supportsEl>false</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>Create Missing Directories</key>
                        <value>
                            <allowableValues>
<displayName>true</displayName>
<value>true</value>
                            </allowableValues>
                            <allowableValues>
<displayName>false</displayName>
<value>false</value>
                            </allowableValues>
                            <defaultValue>true</defaultValue>
                            <description>If true, then missing destination directories will be created. If false, flowfiles are penalized and sent to failure.</description>
                            <displayName>Create Missing Directories</displayName>
                            <dynamic>false</dynamic>
                            <name>Create Missing Directories</name>
                            <required>true</required>
                            <sensitive>false</sensitive>
                            <supportsEl>false</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Count</key>
                        <value>
                            <description>Specifies the maximum number of files that can exist in the output directory</description>
                            <displayName>Maximum File Count</displayName>
                            <dynamic>false</dynamic>
                            <name>Maximum File Count</name>
                            <required>false</required>
                            <sensitive>false</sensitive>
                            <supportsEl>false</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>Last Modified Time</key>
                        <value>
                            <description>Sets the lastModifiedTime on the output file to the value of this attribute.  Format must be yyyy-MM-dd'T'HH:mm:ssZ.  You may also use expression language such as ${file.lastModifiedTime}.</description>
                            <displayName>Last Modified Time</displayName>
                            <dynamic>false</dynamic>
                            <name>Last Modified Time</name>
                            <required>false</required>
                            <sensitive>false</sensitive>
                            <supportsEl>true</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>Permissions</key>
                        <value>
                            <description>Sets the permissions on the output file to the value of this attribute.  Format must be either UNIX rwxrwxrwx with a - in place of denied permissions (e.g. rw-r--r--) or an octal number (e.g. 644).  You may also use expression language such as ${file.permissions}.</description>
                            <displayName>Permissions</displayName>
                            <dynamic>false</dynamic>
                            <name>Permissions</name>
                            <required>false</required>
                            <sensitive>false</sensitive>
                            <supportsEl>true</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>Owner</key>
                        <value>
                            <description>Sets the owner on the output file to the value of this attribute.  You may also use expression language such as ${file.owner}.</description>
                            <displayName>Owner</displayName>
                            <dynamic>false</dynamic>
                            <name>Owner</name>
                            <required>false</required>
                            <sensitive>false</sensitive>
                            <supportsEl>true</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>Group</key>
                        <value>
                            <description>Sets the group on the output file to the value of this attribute.  You may also use expression language such as ${file.group}.</description>
                            <displayName>Group</displayName>
                            <dynamic>false</dynamic>
                            <name>Group</name>
                            <required>false</required>
                            <sensitive>false</sensitive>
                            <supportsEl>true</supportsEl>
                        </value>
                    </entry>
                </descriptors>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Directory</key>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                    </entry>
                    <entry>
                        <key>Create Missing Directories</key>
                    </entry>
                    <entry>
                        <key>Maximum File Count</key>
                    </entry>
                    <entry>
                        <key>Last Modified Time</key>
                    </entry>
                    <entry>
                        <key>Permissions</key>
                    </entry>
                    <entry>
                        <key>Owner</key>
                    </entry>
                    <entry>
                        <key>Group</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>PutFile</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <description>Files that could not be written to the output directory for some reason are transferred to this relationship</description>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <description>Files that have been successfully written to the output directory are transferred to this relationship</description>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <supportsEventDriven>false</supportsEventDriven>
            <supportsParallelProcessing>true</supportsParallelProcessing>
            <type>org.apache.nifi.processors.standard.PutFile</type>
        </processors>
        <processors>
            <id>95ffeabd-af58-436c-a58f-452da4209cc8</id>
            <parentGroupId>1ad1f63f-aa0c-4ada-a49d-e5e91b54582f</parentGroupId>
            <position>
                <x>254.0</x>
                <y>10.0</y>
            </position>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <defaultConcurrentTasks>
                    <entry>
                        <key>TIMER_DRIVEN</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>EVENT_DRIVEN</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>CRON_DRIVEN</key>
                        <value>1</value>
                    </entry>
                </defaultConcurrentTasks>
                <defaultSchedulingPeriod>
                    <entry>
                        <key>TIMER_DRIVEN</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>CRON_DRIVEN</key>
                        <value>* * * * * ?</value>
                    </entry>
                </defaultSchedulingPeriod>
                <descriptors>
                    <entry>
                        <key>URL</key>
                        <value>
                            <description>The URL to pull from</description>
                            <displayName>URL</displayName>
                            <dynamic>false</dynamic>
                            <name>URL</name>
                            <required>true</required>
                            <sensitive>false</sensitive>
                            <supportsEl>false</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>Filename</key>
                        <value>
                            <description>The filename to assign to the file when pulled</description>
                            <displayName>Filename</displayName>
                            <dynamic>false</dynamic>
                            <name>Filename</name>
                            <required>true</required>
                            <sensitive>false</sensitive>
                            <supportsEl>false</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <description>The Controller Service to use in order to obtain an SSL Context</description>
                            <displayName>SSL Context Service</displayName>
                            <dynamic>false</dynamic>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                            <required>false</required>
                            <sensitive>false</sensitive>
                            <supportsEl>false</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>Username</key>
                        <value>
                            <description>Username required to access the URL</description>
                            <displayName>Username</displayName>
                            <dynamic>false</dynamic>
                            <name>Username</name>
                            <required>false</required>
                            <sensitive>false</sensitive>
                            <supportsEl>false</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>Password</key>
                        <value>
                            <description>Password required to access the URL</description>
                            <displayName>Password</displayName>
                            <dynamic>false</dynamic>
                            <name>Password</name>
                            <required>false</required>
                            <sensitive>true</sensitive>
                            <supportsEl>false</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>
                            <defaultValue>30 sec</defaultValue>
                            <description>How long to wait when attempting to connect to the remote server before giving up</description>
                            <displayName>Connection Timeout</displayName>
                            <dynamic>false</dynamic>
                            <name>Connection Timeout</name>
                            <required>true</required>
                            <sensitive>false</sensitive>
                            <supportsEl>false</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>Data Timeout</key>
                        <value>
                            <defaultValue>30 sec</defaultValue>
                            <description>How long to wait between receiving segments of data from the remote server before giving up and discarding the partial file</description>
                            <displayName>Data Timeout</displayName>
                            <dynamic>false</dynamic>
                            <name>Data Timeout</name>
                            <required>true</required>
                            <sensitive>false</sensitive>
                            <supportsEl>false</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>User Agent</key>
                        <value>
                            <description>What to report as the User Agent when we connect to the remote server</description>
                            <displayName>User Agent</displayName>
                            <dynamic>false</dynamic>
                            <name>User Agent</name>
                            <required>false</required>
                            <sensitive>false</sensitive>
                            <supportsEl>false</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>Accept Content-Type</key>
                        <value>
                            <description>If specified, requests will only accept the provided Content-Type</description>
                            <displayName>Accept Content-Type</displayName>
                            <dynamic>false</dynamic>
                            <name>Accept Content-Type</name>
                            <required>false</required>
                            <sensitive>false</sensitive>
                            <supportsEl>false</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>
                            <allowableValues>
<displayName>true</displayName>
<value>true</value>
                            </allowableValues>
                            <allowableValues>
<displayName>false</displayName>
<value>false</value>
                            </allowableValues>
                            <defaultValue>false</defaultValue>
                            <description>If we receive a 3xx HTTP Status Code from the server, indicates whether or not we should follow the redirect that the server specifies</description>
                            <displayName>Follow Redirects</displayName>
                            <dynamic>false</dynamic>
                            <name>Follow Redirects</name>
                            <required>false</required>
                            <sensitive>false</sensitive>
                            <supportsEl>false</supportsEl>
                        </value>
                    </entry>
                </descriptors>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>URL</key>
                        <value>http://localhost:8080/nifi</value>
                    </entry>
                    <entry>
                        <key>Filename</key>
                        <value>temp.txt</value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                    </entry>
                    <entry>
                        <key>Username</key>
                    </entry>
                    <entry>
                        <key>Password</key>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                    </entry>
                    <entry>
                        <key>Data Timeout</key>
                    </entry>
                    <entry>
                        <key>User Agent</key>
                    </entry>
                    <entry>
                        <key>Accept Content-Type</key>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>true</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>1 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>GetHTTP</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <description>All files are transferred to the success relationship</description>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <supportsEventDriven>false</supportsEventDriven>
            <supportsParallelProcessing>true</supportsParallelProcessing>
            <type>org.apache.nifi.processors.standard.GetHTTP</type>
        </processors>
        <processors>
            <id>ce55f3b7-9246-4b54-a00b-200f21f8ac05</id>
            <parentGroupId>1ad1f63f-aa0c-4ada-a49d-e5e91b54582f</parentGroupId>
            <position>
                <x>255.0</x>
                <y>194.0</y>
            </position>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <defaultConcurrentTasks>
                    <entry>
                        <key>TIMER_DRIVEN</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>EVENT_DRIVEN</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>CRON_DRIVEN</key>
                        <value>1</value>
                    </entry>
                </defaultConcurrentTasks>
                <defaultSchedulingPeriod>
                    <entry>
                        <key>TIMER_DRIVEN</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>CRON_DRIVEN</key>
                        <value>* * * * * ?</value>
                    </entry>
                </defaultSchedulingPeriod>
                <descriptors>
                    <entry>
                        <key>Character Set</key>
                        <value>
                            <defaultValue>UTF-8</defaultValue>
                            <description>The Character Set in which the file is encoded</description>
                            <displayName>Character Set</displayName>
                            <dynamic>false</dynamic>
                            <name>Character Set</name>
                            <required>true</required>
                            <sensitive>false</sensitive>
                            <supportsEl>false</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>
                            <defaultValue>1 MB</defaultValue>
                            <description>Specifies the maximum amount of data to buffer (per file) in order to apply the regular expressions.  Files larger than the specified maximum will not be fully evaluated.</description>
                            <displayName>Maximum Buffer Size</displayName>
                            <dynamic>false</dynamic>
                            <name>Maximum Buffer Size</name>
                            <required>true</required>
                            <sensitive>false</sensitive>
                            <supportsEl>false</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Capture Group Length</key>
                        <value>
                            <defaultValue>1024</defaultValue>
                            <description>Specifies the maximum number of characters a given capture group value can have.  Any characters beyond the max will be truncated.</description>
                            <displayName>Maximum Capture Group Length</displayName>
                            <dynamic>false</dynamic>
                            <name>Maximum Capture Group Length</name>
                            <required>false</required>
                            <sensitive>false</sensitive>
                            <supportsEl>false</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Canonical Equivalence</key>
                        <value>
                            <allowableValues>
<displayName>true</displayName>
<value>true</value>
                            </allowableValues>
                            <allowableValues>
<displayName>false</displayName>
<value>false</value>
                            </allowableValues>
                            <defaultValue>false</defaultValue>
                            <description>Indicates that two characters match only when their full canonical decompositions match.</description>
                            <displayName>Enable Canonical Equivalence</displayName>
                            <dynamic>false</dynamic>
                            <name>Enable Canonical Equivalence</name>
                            <required>true</required>
                            <sensitive>false</sensitive>
                            <supportsEl>false</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Case-insensitive Matching</key>
                        <value>
                            <allowableValues>
<displayName>true</displayName>
<value>true</value>
                            </allowableValues>
                            <allowableValues>
<displayName>false</displayName>
<value>false</value>
                            </allowableValues>
                            <defaultValue>false</defaultValue>
                            <description>Indicates that two characters match even if they are in a different case.  Can also be specified via the embeded flag (?i).</description>
                            <displayName>Enable Case-insensitive Matching</displayName>
                            <dynamic>false</dynamic>
                            <name>Enable Case-insensitive Matching</name>
                            <required>true</required>
                            <sensitive>false</sensitive>
                            <supportsEl>false</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>Permit Whitespace and Comments in Pattern</key>
                        <value>
                            <allowableValues>
<displayName>true</displayName>
<value>true</value>
                            </allowableValues>
                            <allowableValues>
<displayName>false</displayName>
<value>false</value>
                            </allowableValues>
                            <defaultValue>false</defaultValue>
                            <description>In this mode, whitespace is ignored, and embedded comments starting with # are ignored until the end of a line.  Can also be specified via the embeded flag (?x).</description>
                            <displayName>Permit Whitespace and Comments in Pattern</displayName>
                            <dynamic>false</dynamic>
                            <name>Permit Whitespace and Comments in Pattern</name>
                            <required>true</required>
                            <sensitive>false</sensitive>
                            <supportsEl>false</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable DOTALL Mode</key>
                        <value>
                            <allowableValues>
<displayName>true</displayName>
<value>true</value>
                            </allowableValues>
                            <allowableValues>
<displayName>false</displayName>
<value>false</value>
                            </allowableValues>
                            <defaultValue>false</defaultValue>
                            <description>Indicates that the expression '.' should match any character, including a line terminator.  Can also be specified via the embeded flag (?s).</description>
                            <displayName>Enable DOTALL Mode</displayName>
                            <dynamic>false</dynamic>
                            <name>Enable DOTALL Mode</name>
                            <required>true</required>
                            <sensitive>false</sensitive>
                            <supportsEl>false</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Literal Parsing of the Pattern</key>
                        <value>
                            <allowableValues>
<displayName>true</displayName>
<value>true</value>
                            </allowableValues>
                            <allowableValues>
<displayName>false</displayName>
<value>false</value>
                            </allowableValues>
                            <defaultValue>false</defaultValue>
                            <description>Indicates that Metacharacters and escape characters should be given no special meaning.</description>
                            <displayName>Enable Literal Parsing of the Pattern</displayName>
                            <dynamic>false</dynamic>
                            <name>Enable Literal Parsing of the Pattern</name>
                            <required>true</required>
                            <sensitive>false</sensitive>
                            <supportsEl>false</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Multiline Mode</key>
                        <value>
                            <allowableValues>
<displayName>true</displayName>
<value>true</value>
                            </allowableValues>
                            <allowableValues>
<displayName>false</displayName>
<value>false</value>
                            </allowableValues>
                            <defaultValue>false</defaultValue>
                            <description>Indicates that '^' and '$' should match just after and just before a line terminator or end of sequence, instead of only the begining or end of the entire input.  Can also be specified via the embeded flag (?m).</description>
                            <displayName>Enable Multiline Mode</displayName>
                            <dynamic>false</dynamic>
                            <name>Enable Multiline Mode</name>
                            <required>true</required>
                            <sensitive>false</sensitive>
                            <supportsEl>false</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Unicode-aware Case Folding</key>
                        <value>
                            <allowableValues>
<displayName>true</displayName>
<value>true</value>
                            </allowableValues>
                            <allowableValues>
<displayName>false</displayName>
<value>false</value>
                            </allowableValues>
                            <defaultValue>false</defaultValue>
                            <description>When used with 'Enable Case-insensitive Matching', matches in a manner consistent with the Unicode Standard.  Can also be specified via the embeded flag (?u).</description>
                            <displayName>Enable Unicode-aware Case Folding</displayName>
                            <dynamic>false</dynamic>
                            <name>Enable Unicode-aware Case Folding</name>
                            <required>true</required>
                            <sensitive>false</sensitive>
                            <supportsEl>false</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Unicode Predefined Character Classes</key>
                        <value>
                            <allowableValues>
<displayName>true</displayName>
<value>true</value>
                            </allowableValues>
                            <allowableValues>
<displayName>false</displayName>
<value>false</value>
                            </allowableValues>
                            <defaultValue>false</defaultValue>
                            <description>Specifies conformance with the Unicode Technical Standard #18: Unicode Regular Expression Annex C: Compatibility Properties.  Can also be specified via the embeded flag (?U).</description>
                            <displayName>Enable Unicode Predefined Character Classes</displayName>
                            <dynamic>false</dynamic>
                            <name>Enable Unicode Predefined Character Classes</name>
                            <required>true</required>
                            <sensitive>false</sensitive>
                            <supportsEl>false</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>Enable Unix Lines Mode</key>
                        <value>
                            <allowableValues>
<displayName>true</displayName>
<value>true</value>
                            </allowableValues>
                            <allowableValues>
<displayName>false</displayName>
<value>false</value>
                            </allowableValues>
                            <defaultValue>false</defaultValue>
                            <description>Indicates that only the '
' line terminator is recognized int the behavior of '.', '^', and '$'.  Can also be specified via the embeded flag (?d).</description>
                            <displayName>Enable Unix Lines Mode</displayName>
                            <dynamic>false</dynamic>
                            <name>Enable Unix Lines Mode</name>
                            <required>true</required>
                            <sensitive>false</sensitive>
                            <supportsEl>false</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>title</key>
                        <value>
                            <description></description>
                            <displayName>title</displayName>
                            <dynamic>true</dynamic>
                            <name>title</name>
                            <required>false</required>
                            <sensitive>false</sensitive>
                            <supportsEl>false</supportsEl>
                        </value>
                    </entry>
                </descriptors>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Character Set</key>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                    </entry>
                    <entry>
                        <key>Maximum Capture Group Length</key>
                    </entry>
                    <entry>
                        <key>Enable Canonical Equivalence</key>
                    </entry>
                    <entry>
                        <key>Enable Case-insensitive Matching</key>
                    </entry>
                    <entry>
                        <key>Permit Whitespace and Comments in Pattern</key>
                    </entry>
                    <entry>
                        <key>Enable DOTALL Mode</key>
                    </entry>
                    <entry>
                        <key>Enable Literal Parsing of the Pattern</key>
                    </entry>
                    <entry>
                        <key>Enable Multiline Mode</key>
                    </entry>
                    <entry>
                        <key>Enable Unicode-aware Case Folding</key>
                    </entry>
                    <entry>
                        <key>Enable Unicode Predefined Character Classes</key>
                    </entry>
                    <entry>
                        <key>Enable Unix Lines Mode</key>
                    </entry>
                    <entry>
                        <key>title</key>
                        <value>.*\&lt;title\&gt;(.*?)\&lt;/title\&gt;.*</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>ExtractText</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <description>FlowFiles are routed to this relationship when the Regular Expression is successfully evaluated and the FlowFile is modified as a result</description>
                <name>matched</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <description>FlowFiles are routed to this relationship when no provided Regular Expression matches the content of the FlowFile</description>
                <name>unmatched</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <supportsEventDriven>true</supportsEventDriven>
            <supportsParallelProcessing>true</supportsParallelProcessing>
            <type>org.apache.nifi.processors.standard.ExtractText</type>
        </processors>
        <processors>
            <id>5c58cc05-8ad7-4b52-9280-bb705627b48a</id>
            <parentGroupId>1ad1f63f-aa0c-4ada-a49d-e5e91b54582f</parentGroupId>
            <position>
                <x>249.0</x>
                <y>370.0</y>
            </position>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <defaultConcurrentTasks>
                    <entry>
                        <key>TIMER_DRIVEN</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>EVENT_DRIVEN</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>CRON_DRIVEN</key>
                        <value>1</value>
                    </entry>
                </defaultConcurrentTasks>
                <defaultSchedulingPeriod>
                    <entry>
                        <key>TIMER_DRIVEN</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>CRON_DRIVEN</key>
                        <value>* * * * * ?</value>
                    </entry>
                </defaultSchedulingPeriod>
                <descriptors>
                    <entry>
                        <key>Routing Strategy</key>
                        <value>
                            <allowableValues>
<description>A copy of the FlowFile will be routed to each relationship whose corresponding expression evaluates to 'true'</description>
<displayName>Route to Property name</displayName>
<value>Route to Property name</value>
                            </allowableValues>
                            <allowableValues>
<description>Requires that all user-defined expressions evaluate to 'true' for the FlowFile to be considered a match</description>
<displayName>Route to 'matched' if all match</displayName>
<value>Route to 'match' if all match</value>
                            </allowableValues>
                            <allowableValues>
<description>Requires that at least one user-defined expression evaluate to 'true' for hte FlowFile to be considered a match</description>
<displayName>Route to 'matched' if any matches</displayName>
<value>Route to 'match' if any matches</value>
                            </allowableValues>
                            <defaultValue>Route to Property name</defaultValue>
                            <description>Specifies how to determine which relationship to use when evaluating the Expression Language</description>
                            <displayName>Routing Strategy</displayName>
                            <dynamic>false</dynamic>
                            <name>Routing Strategy</name>
                            <required>true</required>
                            <sensitive>false</sensitive>
                            <supportsEl>false</supportsEl>
                        </value>
                    </entry>
                    <entry>
                        <key>NiFi</key>
                        <value>
                            <description></description>
                            <displayName>NiFi</displayName>
                            <dynamic>true</dynamic>
                            <name>NiFi</name>
                            <required>false</required>
                            <sensitive>false</sensitive>
                            <supportsEl>true</supportsEl>
                        </value>
                    </entry>
                </descriptors>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Routing Strategy</key>
                    </entry>
                    <entry>
                        <key>NiFi</key>
                        <value>${title:matches('NiFi')}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <name>Title Matches 'NiFi'</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <description></description>
                <name>NiFi</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <description>FlowFiles that do not match any user-define expression will be routed here</description>
                <name>unmatched</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <supportsEventDriven>true</supportsEventDriven>
            <supportsParallelProcessing>true</supportsParallelProcessing>
            <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
        </processors>
    </snippet>
    <timestamp>06/17/2015 00:28:38 EDT</timestamp>
</template>
