Stress_Test_Framework.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><template><description>This stress test will help an administrator find out what the pure framework oriented overhead of NiFi will be under load.  Specifically it generates as many flow files as possible as fast as possible, updates an attribute or two, and makes a simple routing decision.  All of this is aimed at putting pressure on the FlowFile repository and Provenance repositories.  It doesn't cause any IO nor anything really interesting in terms of CPU.</description><name>Stress Test: Framework</name><snippet><processGroups><id>f2cdb42a-0b36-433f-b7d1-de814aec396e</id><parentGroupId>d752d5e7-707a-4a1d-88b4-1c04de2a9a3b</parentGroupId><position><x>745.0</x><y>103.0</y></position><activeRemotePortCount>0</activeRemotePortCount><comments>This is a stress test which simply generates a very high volume of objects with no content for the sole purpose of isolating the speed at which general framework operations can occur.

Largely it establishes how quickly the framework can checkpoint/commit operations against the write ahead log.  This flow would also expose performance degradation brought about by inappropriately low heap sizes, provenance performance, logging configurations, etc..  </comments><contents><connections><id>96439cce-3677-458b-8efb-b1b001dc6c97</id><parentGroupId>f2cdb42a-0b36-433f-b7d1-de814aec396e</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>2000</backPressureObjectThreshold><destination><groupId>f2cdb42a-0b36-433f-b7d1-de814aec396e</groupId><id>dfbe93f1-549c-432d-b04d-8b679e256103</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>f2cdb42a-0b36-433f-b7d1-de814aec396e</groupId><id>523e0590-d1d2-45b4-8d6e-d580ef4c35af</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>c05f2583-ec56-4343-ba77-fd1406884330</id><parentGroupId>f2cdb42a-0b36-433f-b7d1-de814aec396e</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>200</backPressureObjectThreshold><destination><groupId>f2cdb42a-0b36-433f-b7d1-de814aec396e</groupId><id>523e0590-d1d2-45b4-8d6e-d580ef4c35af</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>f2cdb42a-0b36-433f-b7d1-de814aec396e</groupId><id>6ffe3449-1694-4e4c-af69-510dee66b9b3</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><processors><id>6ffe3449-1694-4e4c-af69-510dee66b9b3</id><parentGroupId>f2cdb42a-0b36-433f-b7d1-de814aec396e</parentGroupId><position><x>293.0</x><y>49.0</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>File Size</key><value>0 KB</value></entry><entry><key>Batch Size</key><value>100</value></entry><entry><key>Data Format</key></entry><entry><key>Unique FlowFiles</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>GenerateFlowFile</name><relationships><autoTerminate>false</autoTerminate><description></description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.GenerateFlowFile</type></processors><processors><id>dfbe93f1-549c-432d-b04d-8b679e256103</id><parentGroupId>f2cdb42a-0b36-433f-b7d1-de814aec396e</parentGroupId><position><x>288.0</x><y>467.0</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>2</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Routing Strategy</key></entry></properties><runDurationMillis>50</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>RouteOnAttribute</name><relationships><autoTerminate>true</autoTerminate><description>FlowFiles that do not match any user-define expression will be routed here</description><name>unmatched</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.RouteOnAttribute</type></processors><processors><id>523e0590-d1d2-45b4-8d6e-d580ef4c35af</id><parentGroupId>f2cdb42a-0b36-433f-b7d1-de814aec396e</parentGroupId><position><x>287.0</x><y>259.0</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>2</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>property 1</key><value>value 1</value></entry><entry><key>property 2</key><value>value 2 ${nextInt()}</value></entry></properties><runDurationMillis>100</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>UpdateAttribute</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.attributes.UpdateAttribute</type></processors></contents><disabledCount>0</disabledCount><inactiveRemotePortCount>0</inactiveRemotePortCount><inputPortCount>0</inputPortCount><invalidCount>0</invalidCount><name>Stress Test Framework</name><outputPortCount>0</outputPortCount><parent><id>d752d5e7-707a-4a1d-88b4-1c04de2a9a3b</id><name>NiFi Flow</name></parent><runningCount>0</runningCount><stoppedCount>3</stoppedCount></processGroups></snippet><timestamp>01/06/2015 22:10:03 EST</timestamp></template>