templates/CassandraProcessors.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><template><description>A basic template that executes multiple CQL commands using QueryCassandra and PutCassandraQL. In Cassandra there first must be a "simplex" so that PutCassandraQL create a "users" table within it. Then QueryCassandra can be used to query it.</description><name>CassandraProcessors</name><snippet><connections><id>9e8fc19c-e894-4d08-9366-6220f318bffa</id><parentGroupId>7b4a7fd3-3cc2-4c76-affd-bfbf8f33782a</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>7b4a7fd3-3cc2-4c76-affd-bfbf8f33782a</groupId><id>bfec692f-6149-4421-90b6-17f873be2e94</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>7b4a7fd3-3cc2-4c76-affd-bfbf8f33782a</groupId><id>3d70d8ec-7859-4431-80a4-f131f7a77b32</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>7766b0d8-8e0e-438b-94c9-86f1a229eff9</id><parentGroupId>7b4a7fd3-3cc2-4c76-affd-bfbf8f33782a</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>7b4a7fd3-3cc2-4c76-affd-bfbf8f33782a</groupId><id>ea6cb3cb-7c09-437a-94e0-efdf7e4f6a7b</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>7b4a7fd3-3cc2-4c76-affd-bfbf8f33782a</groupId><id>b981b959-92b8-4779-9e66-3985ecc82db8</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>62f2124c-a03f-4ddf-8633-c3055a3b32c9</id><parentGroupId>7b4a7fd3-3cc2-4c76-affd-bfbf8f33782a</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>7b4a7fd3-3cc2-4c76-affd-bfbf8f33782a</groupId><id>b981b959-92b8-4779-9e66-3985ecc82db8</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>7b4a7fd3-3cc2-4c76-affd-bfbf8f33782a</groupId><id>dc4cd3e0-d243-47e1-93aa-6420b9f18066</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><processors><id>b981b959-92b8-4779-9e66-3985ecc82db8</id><parentGroupId>7b4a7fd3-3cc2-4c76-affd-bfbf8f33782a</parentGroupId><position><x>984.0</x><y>71.0</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>JSON container options</key><value><allowableValues><displayName>none</displayName><value>none</value></allowableValues><allowableValues><displayName>array</displayName><value>array</value></allowableValues><defaultValue>array</defaultValue><description>Determines how stream of records is exposed: either as a sequence of single Objects (none) (i.e. writing every Object to a new line), or as an array of Objects (array).</description><displayName>JSON container options</displayName><dynamic>false</dynamic><name>JSON container options</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Wrap Single Record</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Determines if the resulting output for empty records or a single record should be wrapped in a container array as specified by 'JSON container options'</description><displayName>Wrap Single Record</displayName><dynamic>false</dynamic><name>Wrap Single Record</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>JSON container options</key><value>array</value></entry><entry><key>Wrap Single Record</key><value>false</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>ConvertAvroToJSON</name><relationships><autoTerminate>true</autoTerminate><description>A FlowFile is routed to this relationship if it cannot be parsed as Avro or cannot be converted to JSON for any reason</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>A FlowFile is routed to this relationship after it has been converted to JSON</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.avro.ConvertAvroToJSON</type></processors><processors><id>dc4cd3e0-d243-47e1-93aa-6420b9f18066</id><parentGroupId>7b4a7fd3-3cc2-4c76-affd-bfbf8f33782a</parentGroupId><position><x>467.0</x><y>72.0</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>CQL select query</key><value><description>CQL select query</description><displayName>CQL select query</displayName><dynamic>false</dynamic><name>CQL select query</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Cassandra Contact Points</key><value><description>Contact points are addresses of Cassandra nodes. The list of contact points should be comma-separated and in hostname:port format. Example node1:port,node2:port,....</description><displayName>Cassandra Contact Points</displayName><dynamic>false</dynamic><name>Cassandra Contact Points</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Keyspace</key><value><description>The Cassandra Keyspace to connect to. If none is specified, the query will need to include the keyspace name before any table reference.</description><displayName>Keyspace</displayName><dynamic>false</dynamic><name>Keyspace</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SSL Context Service</key><value><allowableValues><displayName>StandardSSLContextService</displayName><value>7e6b8b13-bc3d-425e-93b2-a6f4c0698864</value></allowableValues><description>The SSL Context Service used to provide client certificate information for TLS/SSL connections.</description><displayName>SSL Context Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService><name>SSL Context Service</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Client Auth</key><value><allowableValues><displayName>WANT</displayName><value>WANT</value></allowableValues><allowableValues><displayName>REQUIRED</displayName><value>REQUIRED</value></allowableValues><allowableValues><displayName>NONE</displayName><value>NONE</value></allowableValues><defaultValue>NONE</defaultValue><description>Client authentication policy when connecting to secure (TLS/SSL) cluster. Possible values are REQUIRED, WANT, NONE. This property is only used when an SSL Context has been defined and enabled.</description><displayName>Client Auth</displayName><dynamic>false</dynamic><name>Client Auth</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Username</key><value><description>Username to access the Cassandra cluster</description><displayName>Username</displayName><dynamic>false</dynamic><name>Username</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Password</key><value><description>Password to access the Cassandra cluster</description><displayName>Password</displayName><dynamic>false</dynamic><name>Password</name><required>false</required><sensitive>true</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running CQL select query. Must be of format &lt;duration&gt; &lt;TimeUnit&gt; where &lt;duration&gt; is a non-negative integer and TimeUnit is a supported Time Unit, such as: nanos, millis, secs, mins, hrs, days. A value of zero means there is no limit. </description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Fetch size</key><value><defaultValue>0</defaultValue><description>The number of result rows to be fetched from the result set at a time. Zero is the default and means there is no limit.</description><displayName>Fetch size</displayName><dynamic>false</dynamic><name>Fetch size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>CQL select query</key><value>select * from users</value></entry><entry><key>Cassandra Contact Points</key><value>127.0.0.1:9042</value></entry><entry><key>Keyspace</key><value>simplex</value></entry><entry><key>SSL Context Service</key></entry><entry><key>Client Auth</key></entry><entry><key>Username</key><value>cassandra</value></entry><entry><key>Password</key></entry><entry><key>Max Wait Time</key><value>10 seconds</value></entry><entry><key>Fetch size</key><value>0</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>5 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>QueryCassandra</name><relationships><autoTerminate>true</autoTerminate><description>SQL query execution failed. Incoming FlowFile will be penalized and routed to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>A FlowFile is routed to this relationship if the query cannot be completed but attempting the operation again may succeed</description><name>retry</name></relationships><relationships><autoTerminate>false</autoTerminate><description>Successfully created FlowFile from SQL query result set.</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.cassandra.QueryCassandra</type></processors><processors><id>bfec692f-6149-4421-90b6-17f873be2e94</id><parentGroupId>7b4a7fd3-3cc2-4c76-affd-bfbf8f33782a</parentGroupId><position><x>989.0</x><y>482.0</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Cassandra Contact Points</key><value><description>Contact points are addresses of Cassandra nodes. The list of contact points should be comma-separated and in hostname:port format. Example node1:port,node2:port,....</description><displayName>Cassandra Contact Points</displayName><dynamic>false</dynamic><name>Cassandra Contact Points</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Keyspace</key><value><description>The Cassandra Keyspace to connect to. If none is specified, the query will need to include the keyspace name before any table reference.</description><displayName>Keyspace</displayName><dynamic>false</dynamic><name>Keyspace</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SSL Context Service</key><value><allowableValues><displayName>StandardSSLContextService</displayName><value>7e6b8b13-bc3d-425e-93b2-a6f4c0698864</value></allowableValues><description>The SSL Context Service used to provide client certificate information for TLS/SSL connections.</description><displayName>SSL Context Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService><name>SSL Context Service</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Client Auth</key><value><allowableValues><displayName>WANT</displayName><value>WANT</value></allowableValues><allowableValues><displayName>REQUIRED</displayName><value>REQUIRED</value></allowableValues><allowableValues><displayName>NONE</displayName><value>NONE</value></allowableValues><defaultValue>NONE</defaultValue><description>Client authentication policy when connecting to secure (TLS/SSL) cluster. Possible values are REQUIRED, WANT, NONE. This property is only used when an SSL Context has been defined and enabled.</description><displayName>Client Auth</displayName><dynamic>false</dynamic><name>Client Auth</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Username</key><value><description>Username to access the Cassandra cluster</description><displayName>Username</displayName><dynamic>false</dynamic><name>Username</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Password</key><value><description>Password to access the Cassandra cluster</description><displayName>Password</displayName><dynamic>false</dynamic><name>Password</name><required>false</required><sensitive>true</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Wait Time</key><value><defaultValue>0 seconds</defaultValue><description>The maximum amount of time allowed for a running CQL select query. Must be of format &lt;duration&gt; &lt;TimeUnit&gt; where &lt;duration&gt; is a non-negative integer and TimeUnit is a supported Time Unit, such as: nanos, millis, secs, mins, hrs, days. A value of zero means there is no limit. </description><displayName>Max Wait Time</displayName><dynamic>false</dynamic><name>Max Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Batch Size</key><value><defaultValue>100</defaultValue><description>The preferred number of FlowFiles to put to Cassandra in a single transaction</description><displayName>Batch Size</displayName><dynamic>false</dynamic><name>Batch Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Cassandra Contact Points</key><value>127.0.0.1:9042</value></entry><entry><key>Keyspace</key><value>simplex</value></entry><entry><key>SSL Context Service</key></entry><entry><key>Client Auth</key></entry><entry><key>Username</key><value>cassandra</value></entry><entry><key>Password</key></entry><entry><key>Max Wait Time</key></entry><entry><key>Batch Size</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>PutCassandraQL</name><relationships><autoTerminate>true</autoTerminate><description>A FlowFile is routed to this relationship if Cassandra cannot be updated and retrying the operation will also fail, such as an invalid statement or an integrity constraint violation</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>A FlowFile is routed to this relationship if Cassandra cannot be updated but attempting the operation again may succeed</description><name>retry</name></relationships><relationships><autoTerminate>true</autoTerminate><description>A FlowFile is routed to this relationship after Cassandra is successfully updated</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.cassandra.PutCassandraQL</type></processors><processors><id>ea6cb3cb-7c09-437a-94e0-efdf7e4f6a7b</id><parentGroupId>7b4a7fd3-3cc2-4c76-affd-bfbf8f33782a</parentGroupId><position><x>985.0</x><y>292.0</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Directory</key><value><description>The directory to which files should be written. You may use expression language such as /aa/bb/${path}</description><displayName>Directory</displayName><dynamic>false</dynamic><name>Directory</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Conflict Resolution Strategy</key><value><allowableValues><displayName>replace</displayName><value>replace</value></allowableValues><allowableValues><displayName>ignore</displayName><value>ignore</value></allowableValues><allowableValues><displayName>fail</displayName><value>fail</value></allowableValues><defaultValue>fail</defaultValue><description>Indicates what should happen when a file with the same name already exists in the output directory</description><displayName>Conflict Resolution Strategy</displayName><dynamic>false</dynamic><name>Conflict Resolution Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Create Missing Directories</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>If true, then missing destination directories will be created. If false, flowfiles are penalized and sent to failure.</description><displayName>Create Missing Directories</displayName><dynamic>false</dynamic><name>Create Missing Directories</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum File Count</key><value><description>Specifies the maximum number of files that can exist in the output directory</description><displayName>Maximum File Count</displayName><dynamic>false</dynamic><name>Maximum File Count</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Last Modified Time</key><value><description>Sets the lastModifiedTime on the output file to the value of this attribute.  Format must be yyyy-MM-dd'T'HH:mm:ssZ.  You may also use expression language such as ${file.lastModifiedTime}.</description><displayName>Last Modified Time</displayName><dynamic>false</dynamic><name>Last Modified Time</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Permissions</key><value><description>Sets the permissions on the output file to the value of this attribute.  Format must be either UNIX rwxrwxrwx with a - in place of denied permissions (e.g. rw-r--r--) or an octal number (e.g. 644).  You may also use expression language such as ${file.permissions}.</description><displayName>Permissions</displayName><dynamic>false</dynamic><name>Permissions</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Owner</key><value><description>Sets the owner on the output file to the value of this attribute.  You may also use expression language such as ${file.owner}.</description><displayName>Owner</displayName><dynamic>false</dynamic><name>Owner</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Group</key><value><description>Sets the group on the output file to the value of this attribute.  You may also use expression language such as ${file.group}.</description><displayName>Group</displayName><dynamic>false</dynamic><name>Group</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Directory</key><value>/Users/mburgess/tmp</value></entry><entry><key>Conflict Resolution Strategy</key><value>replace</value></entry><entry><key>Create Missing Directories</key><value>true</value></entry><entry><key>Maximum File Count</key></entry><entry><key>Last Modified Time</key></entry><entry><key>Permissions</key></entry><entry><key>Owner</key></entry><entry><key>Group</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>PutFile</name><relationships><autoTerminate>true</autoTerminate><description>Files that could not be written to the output directory for some reason are transferred to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>Files that have been successfully written to the output directory are transferred to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.PutFile</type></processors><processors><id>3d70d8ec-7859-4431-80a4-f131f7a77b32</id><parentGroupId>7b4a7fd3-3cc2-4c76-affd-bfbf8f33782a</parentGroupId><position><x>476.0</x><y>485.0</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Script Engine</key><value><allowableValues><displayName>ECMAScript</displayName><value>ECMAScript</value></allowableValues><allowableValues><displayName>Groovy</displayName><value>Groovy</value></allowableValues><allowableValues><displayName>lua</displayName><value>lua</value></allowableValues><allowableValues><displayName>python</displayName><value>python</value></allowableValues><allowableValues><displayName>ruby</displayName><value>ruby</value></allowableValues><defaultValue>ECMAScript</defaultValue><description>The engine to execute scripts</description><displayName>Script Engine</displayName><dynamic>false</dynamic><name>Script Engine</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Script File</key><value><description>Path to script file to execute. Only one of Script File or Script Body may be used</description><displayName>Script File</displayName><dynamic>false</dynamic><name>Script File</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Script Body</key><value><description>Body of script to execute. Only one of Script File or Script Body may be used</description><displayName>Script Body</displayName><dynamic>false</dynamic><name>Script Body</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Module Directory</key><value><description>Comma-separated list of paths to files and/or directories which contain modules required by the script.</description><displayName>Module Directory</displayName><dynamic>false</dynamic><name>Module Directory</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Script Engine</key><value>Groovy</value></entry><entry><key>Script File</key></entry><entry><key>Script Body</key><value>DDL = 
&quot;&quot;&quot;DROP TABLE IF EXISTS users;
   CREATE TABLE simplex.users (user_id text PRIMARY KEY, first_name text, last_name text, age int, emails set&lt;text&gt;, top_places list&lt;text&gt;, todo map&lt;timestamp, text&gt;);
&quot;&quot;&quot;

DDL.eachLine { ddl -&gt;
      flowFile = session.create()
      flowFile = session.write(flowFile, { outStream -&gt;
        outStream.write(ddl.getBytes('UTF-8'))
    } as OutputStreamCallback)
    session.transfer(flowFile, REL_SUCCESS)
}

TEST_CQL = [
    [ 
      statement: 'INSERT INTO users (user_id, first_name, last_name, age, emails) VALUES(?,?,?,?,?);',
      params: [ 
                [ type: 'text', value: '\'frodo\'' ],
                [ type: 'text', value: '\'Frodo\'' ],
                [ type: 'text', value: '\'Baggins\'' ],
                [ type: 'int', value: '30'],
                [ type: 'set&lt;text&gt;', value: '{\'f@baggins.com\', \'baggins@gmail.com\'}']
              ]
    ],
    [
      statement: 'UPDATE users SET emails = emails + ? WHERE user_id = ?',
      params: [
                [ type: 'set&lt;text&gt;', value: '{\'fb@friendsofmordor.org\'}' ],
                [ type: 'text', value: '\'frodo\'' ]
              ]
    ],
    [ 
      statement: 'UPDATE users SET top_places = ? WHERE user_id = ?',
      params: [
                [ type: 'list&lt;text&gt;', value: '[ \'rivendell\', \'rohan\' ]' ],
                [ type: 'text', value: '\'frodo\'' ]
              ]
    ],
    [ 
      statement: 'UPDATE simplex.users SET top_places = ? + top_places WHERE user_id = ?',
      params: [
                [ type: 'list&lt;text&gt;', value: '[ \'the shire\' ]' ],
                [ type: 'text', value: '\'frodo\'' ]
              ]
    ],
    [ 
      statement: 'UPDATE users SET top_places = ? + top_places WHERE user_id = ?',
      params: [
                [ type: 'list&lt;text&gt;', value: '[ \'the shire\' ]' ],
                [ type: 'text', value: '\'frodo\'' ]
              ]
    ],
    [ 
      statement: 'UPDATE users SET top_places = top_places + ? WHERE user_id = ?',
      params: [
                [ type: 'list&lt;text&gt;', value: '[ \'mordor\' ]' ],
                [ type: 'text', value: '\'frodo\'' ]
              ]
    ],
    [
      statement: 'INSERT INTO users (user_id, first_name, last_name) VALUES(?,?,?)',
      params: [
                [ type: 'text', value: '\'mattyb\'' ],
                [ type: 'text', value: '\'Matt\'' ],
                [ type: 'text', value: '\'Burgess\'' ]
              ]
    ],
    [ 
      statement: 'UPDATE users SET emails = ? WHERE user_id = ?',
      params: [
                [ type: 'set&lt;text&gt;', value: '{\'mattyb149@gmail.com\', \'mburgess@hortonworks.com\'}' ],
                [ type: 'text', value: '\'mattyb\'' ]
              ]
    ]
]

TEST_CQL.each { test -&gt;
     flowFile = session.create()
     flowFile = session.write(flowFile, { outStream -&gt;
        outStream.write(test.statement.getBytes('UTF-8'))
    } as OutputStreamCallback)
    test.params.eachWithIndex { param, index -&gt;
        flowFile = session.putAttribute(flowFile, &quot;cql.args.${index+1}.type&quot;, param.type)
        flowFile = session.putAttribute(flowFile, &quot;cql.args.${index+1}.value&quot;, param.value)
    }
    session.transfer(flowFile, REL_SUCCESS)
}</value></entry><entry><key>Module Directory</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>60 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>ExecuteScript</name><relationships><autoTerminate>true</autoTerminate><description>FlowFiles that failed to be processed</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>FlowFiles that were successfully processed</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>false</supportsParallelProcessing><type>org.apache.nifi.processors.script.ExecuteScript</type></processors></snippet><timestamp>02/25/2016 09:26:22 EST</timestamp></template>