templates/Convert_To_Avro_From_CSV_and_JSON.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><template><description>This flow takes in data from a random user generator using GetHTTP in two different formats, CSV and JSON. It then converts the data into Avro (JSON is massaged first) then split and converted to JSON. 
This template is purely to showcase the different Avro related processors and isn't demonstrating one specific use-case.</description><name>Convert To Avro From CSV and JSON</name><snippet><connections><id>6fddeacb-32d8-41cf-8efd-7abf83139127</id><parentGroupId>35105bb8-2c3f-415b-bf62-659c6c491ca2</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>35105bb8-2c3f-415b-bf62-659c6c491ca2</groupId><id>88501fbe-b6f8-479d-818c-4204332b71cc</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>split</selectedRelationships><source><groupId>35105bb8-2c3f-415b-bf62-659c6c491ca2</groupId><id>75ad7a08-89be-4b1f-96ca-fe6fceafc1db</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>6171db91-6146-401a-8593-d020f1ec7f60</id><parentGroupId>35105bb8-2c3f-415b-bf62-659c6c491ca2</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>35105bb8-2c3f-415b-bf62-659c6c491ca2</groupId><id>a16fa337-2f4e-4d1f-b9a1-330f63634e10</id><type>FUNNEL</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><source><groupId>8ecdd0f9-1c49-4b9f-9a26-b6e588192505</groupId><id>ab0ad152-71d3-4e22-a781-8b3c3a9f11af</id><type>OUTPUT_PORT</type></source><zIndex>0</zIndex></connections><connections><id>951e53ff-4c2d-4a95-9b13-6504408a3132</id><parentGroupId>35105bb8-2c3f-415b-bf62-659c6c491ca2</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>35105bb8-2c3f-415b-bf62-659c6c491ca2</groupId><id>f2d05437-abe0-4ced-b12c-165b16faf095</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>failure</selectedRelationships><source><groupId>35105bb8-2c3f-415b-bf62-659c6c491ca2</groupId><id>88501fbe-b6f8-479d-818c-4204332b71cc</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>dae0fcb2-c3a8-4a0d-bbef-9e0b89cb5d53</id><parentGroupId>35105bb8-2c3f-415b-bf62-659c6c491ca2</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>35105bb8-2c3f-415b-bf62-659c6c491ca2</groupId><id>53c861bf-e829-4438-bfc4-ffbdd2503e70</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>35105bb8-2c3f-415b-bf62-659c6c491ca2</groupId><id>88501fbe-b6f8-479d-818c-4204332b71cc</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>e2d3dde3-84a4-4dce-81fe-d7dee0cc4e88</id><parentGroupId>35105bb8-2c3f-415b-bf62-659c6c491ca2</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>35105bb8-2c3f-415b-bf62-659c6c491ca2</groupId><id>75ad7a08-89be-4b1f-96ca-fe6fceafc1db</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><source><groupId>35105bb8-2c3f-415b-bf62-659c6c491ca2</groupId><id>a16fa337-2f4e-4d1f-b9a1-330f63634e10</id><type>FUNNEL</type></source><zIndex>0</zIndex></connections><connections><id>33806dca-3798-403f-bd6d-2c3f96a87a5c</id><parentGroupId>35105bb8-2c3f-415b-bf62-659c6c491ca2</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>35105bb8-2c3f-415b-bf62-659c6c491ca2</groupId><id>a16fa337-2f4e-4d1f-b9a1-330f63634e10</id><type>FUNNEL</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><source><groupId>24183819-b5e1-4db9-8fe7-af82c12cb1f1</groupId><id>f95418fe-e205-4fe5-b01f-3b240004a381</id><type>OUTPUT_PORT</type></source><zIndex>0</zIndex></connections><funnels><id>a16fa337-2f4e-4d1f-b9a1-330f63634e10</id><parentGroupId>35105bb8-2c3f-415b-bf62-659c6c491ca2</parentGroupId><position><x>2930.180351206281</x><y>1586.119794054175</y></position></funnels><processGroups><id>8ecdd0f9-1c49-4b9f-9a26-b6e588192505</id><parentGroupId>35105bb8-2c3f-415b-bf62-659c6c491ca2</parentGroupId><position><x>3068.5458703001677</x><y>1367.5755119426606</y></position><activeRemotePortCount>0</activeRemotePortCount><comments></comments><contents><connections><id>2e290b6b-ebd4-4849-b118-a40697df7573</id><parentGroupId>8ecdd0f9-1c49-4b9f-9a26-b6e588192505</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>8ecdd0f9-1c49-4b9f-9a26-b6e588192505</groupId><id>042f32b7-3ba3-4e95-973b-98ceff348a12</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>8ecdd0f9-1c49-4b9f-9a26-b6e588192505</groupId><id>01eb8d2d-2f9e-4ab8-b125-d84a9d9b99c1</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>478ef276-a092-4ca2-b05e-9c2104da8676</id><parentGroupId>8ecdd0f9-1c49-4b9f-9a26-b6e588192505</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>8ecdd0f9-1c49-4b9f-9a26-b6e588192505</groupId><id>e4306087-f229-477e-893b-566339bdb669</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>failure</selectedRelationships><selectedRelationships>unmatched</selectedRelationships><source><groupId>8ecdd0f9-1c49-4b9f-9a26-b6e588192505</groupId><id>042f32b7-3ba3-4e95-973b-98ceff348a12</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>6afd2f2f-6574-45a4-ac8b-772a8d1fb9f1</id><parentGroupId>8ecdd0f9-1c49-4b9f-9a26-b6e588192505</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>8ecdd0f9-1c49-4b9f-9a26-b6e588192505</groupId><id>9e85437f-74c1-48ad-9e0e-6b846fa4b6aa</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>failure</selectedRelationships><source><groupId>8ecdd0f9-1c49-4b9f-9a26-b6e588192505</groupId><id>a1b7fcc0-5bb9-4a88-8fcc-c250337c639d</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>7d5d2c55-e1d1-44e9-930e-538501286ed1</id><parentGroupId>8ecdd0f9-1c49-4b9f-9a26-b6e588192505</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>8ecdd0f9-1c49-4b9f-9a26-b6e588192505</groupId><id>b7153ebf-1768-4494-9c49-1fde5ba366f6</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>8ecdd0f9-1c49-4b9f-9a26-b6e588192505</groupId><id>a1b7fcc0-5bb9-4a88-8fcc-c250337c639d</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>2b4d1a9d-f52e-4147-8713-417446541e59</id><parentGroupId>8ecdd0f9-1c49-4b9f-9a26-b6e588192505</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>8ecdd0f9-1c49-4b9f-9a26-b6e588192505</groupId><id>ab0ad152-71d3-4e22-a781-8b3c3a9f11af</id><type>OUTPUT_PORT</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>merged</selectedRelationships><source><groupId>8ecdd0f9-1c49-4b9f-9a26-b6e588192505</groupId><id>b7153ebf-1768-4494-9c49-1fde5ba366f6</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>bf87cb39-4b18-409f-92eb-5ec4f0d719bd</id><parentGroupId>8ecdd0f9-1c49-4b9f-9a26-b6e588192505</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>8ecdd0f9-1c49-4b9f-9a26-b6e588192505</groupId><id>bc6b933b-1886-46e3-a418-4d0e3d298e65</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>matched</selectedRelationships><source><groupId>8ecdd0f9-1c49-4b9f-9a26-b6e588192505</groupId><id>042f32b7-3ba3-4e95-973b-98ceff348a12</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>25dc0b32-9322-4733-84b4-bcdd066b0ad5</id><parentGroupId>8ecdd0f9-1c49-4b9f-9a26-b6e588192505</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>8ecdd0f9-1c49-4b9f-9a26-b6e588192505</groupId><id>a1b7fcc0-5bb9-4a88-8fcc-c250337c639d</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>8ecdd0f9-1c49-4b9f-9a26-b6e588192505</groupId><id>be82ea27-0854-4a64-a19d-6a9d7180241e</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>e49ed4e4-5423-4473-b500-30e6f119dba7</id><parentGroupId>8ecdd0f9-1c49-4b9f-9a26-b6e588192505</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>8ecdd0f9-1c49-4b9f-9a26-b6e588192505</groupId><id>22dc48e1-5736-426e-a47c-5e108a002ae7</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>failure</selectedRelationships><selectedRelationships>incompatible</selectedRelationships><source><groupId>8ecdd0f9-1c49-4b9f-9a26-b6e588192505</groupId><id>be82ea27-0854-4a64-a19d-6a9d7180241e</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>5e93b627-a235-4e26-8c41-a4d28ec4357d</id><parentGroupId>8ecdd0f9-1c49-4b9f-9a26-b6e588192505</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>8ecdd0f9-1c49-4b9f-9a26-b6e588192505</groupId><id>929d49a4-3cb8-43de-ab12-3135d49c913f</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>8ecdd0f9-1c49-4b9f-9a26-b6e588192505</groupId><id>bc6b933b-1886-46e3-a418-4d0e3d298e65</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>17c69a9e-367b-4f53-b7f2-ff7c7be0e832</id><parentGroupId>8ecdd0f9-1c49-4b9f-9a26-b6e588192505</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>8ecdd0f9-1c49-4b9f-9a26-b6e588192505</groupId><id>be82ea27-0854-4a64-a19d-6a9d7180241e</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>split</selectedRelationships><source><groupId>8ecdd0f9-1c49-4b9f-9a26-b6e588192505</groupId><id>929d49a4-3cb8-43de-ab12-3135d49c913f</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><outputPorts><id>ab0ad152-71d3-4e22-a781-8b3c3a9f11af</id><parentGroupId>8ecdd0f9-1c49-4b9f-9a26-b6e588192505</parentGroupId><position><x>3312.163416632943</x><y>1636.2402488799673</y></position><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><name>Merged Avro Files</name><state>STOPPED</state><type>OUTPUT_PORT</type></outputPorts><processors><id>be82ea27-0854-4a64-a19d-6a9d7180241e</id><parentGroupId>8ecdd0f9-1c49-4b9f-9a26-b6e588192505</parentGroupId><position><x>3240.865897047531</x><y>1126.0609415907707</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Hadoop configuration files</key><value><description>A comma-separated list of Hadoop configuration files</description><displayName>Hadoop configuration files</displayName><dynamic>false</dynamic><name>Hadoop configuration files</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Record schema</key><value><description>Outgoing Avro schema for each record created from a JSON object</description><displayName>Record schema</displayName><dynamic>false</dynamic><name>Record schema</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Hadoop configuration files</key></entry><entry><key>Record schema</key><value>{
    &quot;name&quot;: &quot;user&quot;,
    &quot;type&quot;: &quot;record&quot;,
    &quot;fields&quot;:[
        {
            &quot;name&quot;:&quot;gender&quot;,&quot;type&quot;: &quot;string&quot;
        },
        {
            &quot;name&quot;:&quot;email&quot;,&quot;type&quot;: &quot;string&quot;
        },
        {
            &quot;name&quot;:&quot;username&quot;,&quot;type&quot;: &quot;string&quot;
        },
        {
            &quot;name&quot;:&quot;password&quot;,&quot;type&quot;: &quot;string&quot;
        },
        {
            &quot;name&quot;:&quot;salt&quot;,&quot;type&quot;: &quot;string&quot;
        },
        {
            &quot;name&quot;:&quot;md5&quot;,&quot;type&quot;: &quot;string&quot;
        },
        {
            &quot;name&quot;:&quot;sha1&quot;,&quot;type&quot;: &quot;string&quot;
        },
        {
            &quot;name&quot;:&quot;sha256&quot;,&quot;type&quot;: &quot;string&quot;
        },
        {
            &quot;name&quot;:&quot;registered&quot;,&quot;type&quot;: &quot;long&quot;
        },
        {
            &quot;name&quot;:&quot;dob&quot;,&quot;type&quot;: &quot;long&quot;
        },
        {
            &quot;name&quot;:&quot;phone&quot;,&quot;type&quot;: &quot;string&quot;
        },
        {
            &quot;name&quot;:&quot;cell&quot;,&quot;type&quot;: &quot;string&quot;
        },
        {
            &quot;name&quot;:&quot;SSN&quot;,&quot;type&quot;: &quot;string&quot;
        },
        {
            &quot;name&quot;: &quot;picture&quot;,
            &quot;type&quot;: {
                &quot;name&quot;:&quot;pictureRecord&quot;,
                &quot;type&quot;: &quot;record&quot;,
                &quot;fields&quot;:[
                    {
                        &quot;name&quot;:&quot;large&quot;,&quot;type&quot;: &quot;string&quot;
                    },
                    {
                        &quot;name&quot;:&quot;medium&quot;,&quot;type&quot;: &quot;string&quot;
                    },
                    {
                        &quot;name&quot;:&quot;thumbnail&quot;,&quot;type&quot;: &quot;string&quot;
                    }
                ]
            }
        },
        { 
            &quot;name&quot;: &quot;location&quot;,
            &quot;type&quot;: {
                &quot;name&quot;:&quot;locationRecord&quot;,
                &quot;type&quot;: &quot;record&quot;,
                &quot;fields&quot;:[
                    {
                        &quot;name&quot;:&quot;street&quot;,&quot;type&quot;: &quot;string&quot;
                    },
                    {
                        &quot;name&quot;:&quot;city&quot;,&quot;type&quot;: &quot;string&quot;
                    },
                    {
                        &quot;name&quot;:&quot;state&quot;,&quot;type&quot;: &quot;string&quot;
                    },
                    {
                        &quot;name&quot;:&quot;zip&quot;,&quot;type&quot;: &quot;int&quot;
                    }
                ]
            }
        },
        { 
            &quot;name&quot;: &quot;name&quot;,
            &quot;type&quot;: {
                &quot;name&quot;:&quot;nameRecord&quot;,
                &quot;type&quot;: &quot;record&quot;,
                &quot;fields&quot;:[
                    {
                        &quot;name&quot;:&quot;title&quot;,&quot;type&quot;: &quot;string&quot;
                    },
                    {
                        &quot;name&quot;:&quot;first&quot;,&quot;type&quot;: &quot;string&quot;
                    },
                    {
                        &quot;name&quot;:&quot;last&quot;,&quot;type&quot;: &quot;string&quot;
                    }
                ]
            }
        }
    ] 
}</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>ConvertJSONToAvro</name><relationships><autoTerminate>false</autoTerminate><description>JSON content that could not be processed</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>JSON content that could not be converted</description><name>incompatible</name></relationships><relationships><autoTerminate>false</autoTerminate><description>Avro content that was converted successfully from JSON</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.kite.ConvertJSONToAvro</type></processors><processors><id>929d49a4-3cb8-43de-ab12-3135d49c913f</id><parentGroupId>8ecdd0f9-1c49-4b9f-9a26-b6e588192505</parentGroupId><position><x>3242.865897047531</x><y>949.3954600233878</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>JsonPath Expression</key><value><description>A JsonPath expression that indicates the array element to split into JSON/scalar fragments.</description><displayName>JsonPath Expression</displayName><dynamic>false</dynamic><name>JsonPath Expression</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Null Value Representation</key><value><allowableValues><displayName>empty string</displayName><value>empty string</value></allowableValues><allowableValues><displayName>the string 'null'</displayName><value>the string 'null'</value></allowableValues><defaultValue>empty string</defaultValue><description>Indicates the desired representation of JSON Path expressions resulting in a null value.</description><displayName>Null Value Representation</displayName><dynamic>false</dynamic><name>Null Value Representation</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>JsonPath Expression</key><value>$.[*].user</value></entry><entry><key>Null Value Representation</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Split On &quot;user&quot;</name><relationships><autoTerminate>true</autoTerminate><description>If a FlowFile fails processing for any reason (for example, the FlowFile is not valid JSON or the specified path does not exist), it will be routed to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>The original FlowFile that was split into segments. If the FlowFile fails processing, nothing will be sent to this relationship</description><name>original</name></relationships><relationships><autoTerminate>false</autoTerminate><description>All segments of the original FlowFile will be routed to this relationship</description><name>split</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.SplitJson</type></processors><processors><id>bc6b933b-1886-46e3-a418-4d0e3d298e65</id><parentGroupId>8ecdd0f9-1c49-4b9f-9a26-b6e588192505</parentGroupId><position><x>3236.865897047531</x><y>776.3954600233878</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Delete Attributes Expression</key><value><description>Regular expression for attributes to be deleted from flowfiles.</description><displayName>Delete Attributes Expression</displayName><dynamic>false</dynamic><name>Delete Attributes Expression</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>mime.type</key><value><description></description><displayName>mime.type</displayName><dynamic>true</dynamic><name>mime.type</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Delete Attributes Expression</key></entry><entry><key>mime.type</key><value>application/json</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Update Mime Type</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.attributes.UpdateAttribute</type></processors><processors><id>042f32b7-3ba3-4e95-973b-98ceff348a12</id><parentGroupId>8ecdd0f9-1c49-4b9f-9a26-b6e588192505</parentGroupId><position><x>3235.2351830478747</x><y>607.2823477730519</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Destination</key><value><allowableValues><displayName>flowfile-content</displayName><value>flowfile-content</value></allowableValues><allowableValues><displayName>flowfile-attribute</displayName><value>flowfile-attribute</value></allowableValues><defaultValue>flowfile-content</defaultValue><description>Indicates whether the results of the JsonPath evaluation are written to the FlowFile content or a FlowFile attribute; if using attribute, must specify the Attribute Name property. If set to flowfile-content, only one JsonPath may be specified, and the property name is ignored.</description><displayName>Destination</displayName><dynamic>false</dynamic><name>Destination</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Return Type</key><value><allowableValues><displayName>auto-detect</displayName><value>auto-detect</value></allowableValues><allowableValues><displayName>json</displayName><value>json</value></allowableValues><allowableValues><displayName>scalar</displayName><value>scalar</value></allowableValues><defaultValue>auto-detect</defaultValue><description>Indicates the desired return type of the JSON Path expressions.  Selecting 'auto-detect' will set the return type to 'json' for a Destination of 'flowfile-content', and 'scalar' for a Destination of 'flowfile-attribute'.</description><displayName>Return Type</displayName><dynamic>false</dynamic><name>Return Type</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Path Not Found Behavior</key><value><allowableValues><displayName>warn</displayName><value>warn</value></allowableValues><allowableValues><displayName>ignore</displayName><value>ignore</value></allowableValues><defaultValue>ignore</defaultValue><description>Indicates how to handle missing JSON path expressions when destination is set to 'flowfile-attribute'. Selecting 'warn' will generate a warning when a JSON path expression is not found.</description><displayName>Path Not Found Behavior</displayName><dynamic>false</dynamic><name>Path Not Found Behavior</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Null Value Representation</key><value><allowableValues><displayName>empty string</displayName><value>empty string</value></allowableValues><allowableValues><displayName>the string 'null'</displayName><value>the string 'null'</value></allowableValues><defaultValue>empty string</defaultValue><description>Indicates the desired representation of JSON Path expressions resulting in a null value.</description><displayName>Null Value Representation</displayName><dynamic>false</dynamic><name>Null Value Representation</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>flatten</key><value><description></description><displayName>flatten</displayName><dynamic>true</dynamic><name>flatten</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Destination</key><value>flowfile-content</value></entry><entry><key>Return Type</key><value>json</value></entry><entry><key>Path Not Found Behavior</key><value>ignore</value></entry><entry><key>Null Value Representation</key><value>empty string</value></entry><entry><key>flatten</key><value>$.results.*</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Flatten JSON</name><relationships><autoTerminate>false</autoTerminate><description>FlowFiles are routed to this relationship when the JsonPath cannot be evaluated against the content of the FlowFile; for instance, if the FlowFile is not valid JSON</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>FlowFiles are routed to this relationship when the JsonPath is successfully evaluated and the FlowFile is modified as a result</description><name>matched</name></relationships><relationships><autoTerminate>false</autoTerminate><description>FlowFiles are routed to this relationship when the JsonPath does not match the content of the FlowFile and the Destination is set to flowfile-content</description><name>unmatched</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.EvaluateJsonPath</type></processors><processors><id>9e85437f-74c1-48ad-9e0e-6b846fa4b6aa</id><parentGroupId>8ecdd0f9-1c49-4b9f-9a26-b6e588192505</parentGroupId><position><x>3834.47560774089</x><y>1290.4000529188957</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Delete Attributes Expression</key><value><description>Regular expression for attributes to be deleted from flowfiles.</description><displayName>Delete Attributes Expression</displayName><dynamic>false</dynamic><name>Delete Attributes Expression</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Delete Attributes Expression</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Converting Failed</name><relationships><autoTerminate>true</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.attributes.UpdateAttribute</type></processors><processors><id>a1b7fcc0-5bb9-4a88-8fcc-c250337c639d</id><parentGroupId>8ecdd0f9-1c49-4b9f-9a26-b6e588192505</parentGroupId><position><x>3243.8005232149244</x><y>1293.781313184019</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Input Schema</key><value><description>Avro Schema of Input Flowfiles</description><displayName>Input Schema</displayName><dynamic>false</dynamic><name>Input Schema</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Output Schema</key><value><description>Avro Schema of Output Flowfiles</description><displayName>Output Schema</displayName><dynamic>false</dynamic><name>Output Schema</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Input Schema</key><value>{
    &quot;name&quot;: &quot;user&quot;,
    &quot;type&quot;: &quot;record&quot;,
    &quot;fields&quot;:[
        {
            &quot;name&quot;:&quot;gender&quot;,&quot;type&quot;: &quot;string&quot;
        },
        {
            &quot;name&quot;:&quot;email&quot;,&quot;type&quot;: &quot;string&quot;
        },
        {
            &quot;name&quot;:&quot;username&quot;,&quot;type&quot;: &quot;string&quot;
        },
        {
            &quot;name&quot;:&quot;password&quot;,&quot;type&quot;: &quot;string&quot;
        },
        {
            &quot;name&quot;:&quot;salt&quot;,&quot;type&quot;: &quot;string&quot;
        },
        {
            &quot;name&quot;:&quot;md5&quot;,&quot;type&quot;: &quot;string&quot;
        },
        {
            &quot;name&quot;:&quot;sha1&quot;,&quot;type&quot;: &quot;string&quot;
        },
        {
            &quot;name&quot;:&quot;sha256&quot;,&quot;type&quot;: &quot;string&quot;
        },
        {
            &quot;name&quot;:&quot;registered&quot;,&quot;type&quot;: &quot;long&quot;
        },
        {
            &quot;name&quot;:&quot;dob&quot;,&quot;type&quot;: &quot;long&quot;
        },
        {
            &quot;name&quot;:&quot;phone&quot;,&quot;type&quot;: &quot;string&quot;
        },
        {
            &quot;name&quot;:&quot;cell&quot;,&quot;type&quot;: &quot;string&quot;
        },
        {
            &quot;name&quot;:&quot;SSN&quot;,&quot;type&quot;: &quot;string&quot;
        },
        {
            &quot;name&quot;: &quot;picture&quot;,
            &quot;type&quot;: {
                &quot;name&quot;:&quot;pictureRecord&quot;,
                &quot;type&quot;: &quot;record&quot;,
                &quot;fields&quot;:[
                    {
                        &quot;name&quot;:&quot;large&quot;,&quot;type&quot;: &quot;string&quot;
                    },
                    {
                        &quot;name&quot;:&quot;medium&quot;,&quot;type&quot;: &quot;string&quot;
                    },
                    {
                        &quot;name&quot;:&quot;thumbnail&quot;,&quot;type&quot;: &quot;string&quot;
                    }
                ]
            }
        },
        { 
            &quot;name&quot;: &quot;location&quot;,
            &quot;type&quot;: {
                &quot;name&quot;:&quot;locationRecord&quot;,
                &quot;type&quot;: &quot;record&quot;,
                &quot;fields&quot;:[
                    {
                        &quot;name&quot;:&quot;street&quot;,&quot;type&quot;: &quot;string&quot;
                    },
                    {
                        &quot;name&quot;:&quot;city&quot;,&quot;type&quot;: &quot;string&quot;
                    },
                    {
                        &quot;name&quot;:&quot;state&quot;,&quot;type&quot;: &quot;string&quot;
                    },
                    {
                        &quot;name&quot;:&quot;zip&quot;,&quot;type&quot;: &quot;int&quot;
                    }
                ]
            }
        },
        { 
            &quot;name&quot;: &quot;name&quot;,
            &quot;type&quot;: {
                &quot;name&quot;:&quot;nameRecord&quot;,
                &quot;type&quot;: &quot;record&quot;,
                &quot;fields&quot;:[
                    {
                        &quot;name&quot;:&quot;title&quot;,&quot;type&quot;: &quot;string&quot;
                    },
                    {
                        &quot;name&quot;:&quot;first&quot;,&quot;type&quot;: &quot;string&quot;
                    },
                    {
                        &quot;name&quot;:&quot;last&quot;,&quot;type&quot;: &quot;string&quot;
                    }
                ]
            }
        }
    ] 
}</value></entry><entry><key>Output Schema</key><value>{
                    &quot;name&quot;: &quot;user&quot;,
                    &quot;type&quot;: &quot;record&quot;,
                    &quot;fields&quot;:[
                        {
                            &quot;name&quot;:&quot;username&quot;,&quot;type&quot;: &quot;string&quot;
                        },
                        {
                            &quot;name&quot;:&quot;password&quot;,&quot;type&quot;: &quot;string&quot;
                        }
                    ] 
                }</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Simplify Record</name><relationships><autoTerminate>false</autoTerminate><description>Avro content that failed to convert</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>Avro content that converted successfully</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.kite.ConvertAvroSchema</type></processors><processors><id>01eb8d2d-2f9e-4ab8-b125-d84a9d9b99c1</id><parentGroupId>8ecdd0f9-1c49-4b9f-9a26-b6e588192505</parentGroupId><position><x>3240.9717930436245</x><y>430.0676401991691</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>URL</key><value><description>The URL to pull from</description><displayName>URL</displayName><dynamic>false</dynamic><name>URL</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Filename</key><value><description>The filename to assign to the file when pulled</description><displayName>Filename</displayName><dynamic>false</dynamic><name>Filename</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>SSL Context Service</key><value><description>The Controller Service to use in order to obtain an SSL Context</description><displayName>SSL Context Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService><name>SSL Context Service</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Username</key><value><description>Username required to access the URL</description><displayName>Username</displayName><dynamic>false</dynamic><name>Username</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Password</key><value><description>Password required to access the URL</description><displayName>Password</displayName><dynamic>false</dynamic><name>Password</name><required>false</required><sensitive>true</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Connection Timeout</key><value><defaultValue>30 sec</defaultValue><description>How long to wait when attempting to connect to the remote server before giving up</description><displayName>Connection Timeout</displayName><dynamic>false</dynamic><name>Connection Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Data Timeout</key><value><defaultValue>30 sec</defaultValue><description>How long to wait between receiving segments of data from the remote server before giving up and discarding the partial file</description><displayName>Data Timeout</displayName><dynamic>false</dynamic><name>Data Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>User Agent</key><value><description>What to report as the User Agent when we connect to the remote server</description><displayName>User Agent</displayName><dynamic>false</dynamic><name>User Agent</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Accept Content-Type</key><value><description>If specified, requests will only accept the provided Content-Type</description><displayName>Accept Content-Type</displayName><dynamic>false</dynamic><name>Accept Content-Type</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Follow Redirects</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If we receive a 3xx HTTP Status Code from the server, indicates whether or not we should follow the redirect that the server specifies</description><displayName>Follow Redirects</displayName><dynamic>false</dynamic><name>Follow Redirects</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Proxy Host</key><value><description>The fully qualified hostname or IP address of the proxy server</description><displayName>Proxy Host</displayName><dynamic>false</dynamic><name>Proxy Host</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Proxy Port</key><value><description>The port of the proxy server</description><displayName>Proxy Port</displayName><dynamic>false</dynamic><name>Proxy Port</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>URL</key><value>http://api.randomuser.me/?nat=us&amp;results=10</value></entry><entry><key>Filename</key><value>randomUserJSON_${nextInt()}</value></entry><entry><key>SSL Context Service</key></entry><entry><key>Username</key></entry><entry><key>Password</key></entry><entry><key>Connection Timeout</key><value>30 sec</value></entry><entry><key>Data Timeout</key><value>30 sec</value></entry><entry><key>User Agent</key></entry><entry><key>Accept Content-Type</key></entry><entry><key>Follow Redirects</key><value>false</value></entry><entry><key>Proxy Host</key></entry><entry><key>Proxy Port</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>60 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Get 10 Random Users in JSON</name><relationships><autoTerminate>false</autoTerminate><description>All files are transferred to the success relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.GetHTTP</type></processors><processors><id>b7153ebf-1768-4494-9c49-1fde5ba366f6</id><parentGroupId>8ecdd0f9-1c49-4b9f-9a26-b6e588192505</parentGroupId><position><x>3247.666434156906</x><y>1451.6585215468253</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Merge Strategy</key><value><allowableValues><description>Generates 'bins' of FlowFiles and fills each bin as full as possible. FlowFiles are placed into a bin based on their size and optionally their attributes (if the &lt;Correlation Attribute&gt; property is set)</description><displayName>Bin-Packing Algorithm</displayName><value>Bin-Packing Algorithm</value></allowableValues><allowableValues><description>Combines fragments that are associated by attributes back into a single cohesive FlowFile. If using this strategy, all FlowFiles must have the attributes &lt;fragment.identifier&gt;, &lt;fragment.count&gt;, and &lt;fragment.index&gt; or alternatively (for backward compatibility purposes) &lt;segment.identifier&gt;, &lt;segment.count&gt;, and &lt;segment.index&gt;. All FlowFiles with the same value for &quot;fragment.identifier&quot; will be grouped together. All FlowFiles in this group must have the same value for the &quot;fragment.count&quot; attribute. All FlowFiles in this group must have a unique value for the &quot;fragment.index&quot; attribute between 0 and the value of the &quot;fragment.count&quot; attribute.</description><displayName>Defragment</displayName><value>Defragment</value></allowableValues><defaultValue>Bin-Packing Algorithm</defaultValue><description>Specifies the algorithm used to merge content. The 'Defragment' algorithm combines fragments that are associated by attributes back into a single cohesive FlowFile. The 'Bin-Packing Algorithm' generates a FlowFile populated by arbitrarily chosen FlowFiles</description><displayName>Merge Strategy</displayName><dynamic>false</dynamic><name>Merge Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Merge Format</key><value><allowableValues><description>A bin of FlowFiles will be combined into a single TAR file. The FlowFiles' &lt;path&gt; attribute will be used to create a directory in the TAR file if the &lt;Keep Paths&gt; property is set to true; otherwise, all FlowFiles will be added at the root of the TAR file. If a FlowFile has an attribute named &lt;tar.permissions&gt; that is 3 characters, each between 0-7, that attribute will be used as the TAR entry's 'mode'.</description><displayName>TAR</displayName><value>TAR</value></allowableValues><allowableValues><description>A bin of FlowFiles will be combined into a single ZIP file. The FlowFiles' &lt;path&gt; attribute will be used to create a directory in the ZIP file if the &lt;Keep Paths&gt; property is set to true; otherwise, all FlowFiles will be added at the root of the ZIP file. The &lt;Compression Level&gt; property indicates the ZIP compression to use.</description><displayName>ZIP</displayName><value>ZIP</value></allowableValues><allowableValues><description>A bin of FlowFiles will be combined into a single Version 3 FlowFile Stream</description><displayName>FlowFile Stream, v3</displayName><value>FlowFile Stream, v3</value></allowableValues><allowableValues><description>A bin of FlowFiles will be combined into a single Version 2 FlowFile Stream</description><displayName>FlowFile Stream, v2</displayName><value>FlowFile Stream, v2</value></allowableValues><allowableValues><description>A bin of FlowFiles will be combined into a single Version 1 FlowFile Package</description><displayName>FlowFile Tar, v1</displayName><value>FlowFile Tar, v1</value></allowableValues><allowableValues><description>The contents of all FlowFiles will be concatenated together into a single FlowFile</description><displayName>Binary Concatenation</displayName><value>Binary Concatenation</value></allowableValues><allowableValues><description>The Avro contents of all FlowFiles will be concatenated together into a single FlowFile</description><displayName>Avro</displayName><value>Avro</value></allowableValues><defaultValue>Binary Concatenation</defaultValue><description>Determines the format that will be used to merge the content.</description><displayName>Merge Format</displayName><dynamic>false</dynamic><name>Merge Format</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Attribute Strategy</key><value><allowableValues><displayName>Keep Only Common Attributes</displayName><value>Keep Only Common Attributes</value></allowableValues><allowableValues><displayName>Keep All Unique Attributes</displayName><value>Keep All Unique Attributes</value></allowableValues><defaultValue>Keep Only Common Attributes</defaultValue><description>Determines which FlowFile attributes should be added to the bundle. If 'Keep All Unique Attributes' is selected, any attribute on any FlowFile that gets bundled will be kept unless its value conflicts with the value from another FlowFile. If 'Keep Only Common Attributes' is selected, only the attributes that exist on all FlowFiles in the bundle, with the same value, will be preserved.</description><displayName>Attribute Strategy</displayName><dynamic>false</dynamic><name>Attribute Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Correlation Attribute Name</key><value><description>If specified, like FlowFiles will be binned together, where 'like FlowFiles' means FlowFiles that have the same value for this Attribute. If not specified, FlowFiles are bundled by the order in which they are pulled from the queue.</description><displayName>Correlation Attribute Name</displayName><dynamic>false</dynamic><name>Correlation Attribute Name</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Minimum Number of Entries</key><value><defaultValue>1</defaultValue><description>The minimum number of files to include in a bundle</description><displayName>Minimum Number of Entries</displayName><dynamic>false</dynamic><name>Minimum Number of Entries</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum Number of Entries</key><value><description>The maximum number of files to include in a bundle. If not specified, there is no maximum.</description><displayName>Maximum Number of Entries</displayName><dynamic>false</dynamic><name>Maximum Number of Entries</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Minimum Group Size</key><value><defaultValue>0 B</defaultValue><description>The minimum size of for the bundle</description><displayName>Minimum Group Size</displayName><dynamic>false</dynamic><name>Minimum Group Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum Group Size</key><value><description>The maximum size for the bundle. If not specified, there is no maximum.</description><displayName>Maximum Group Size</displayName><dynamic>false</dynamic><name>Maximum Group Size</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Bin Age</key><value><description>The maximum age of a Bin that will trigger a Bin to be complete. Expected format is &lt;duration&gt; &lt;time unit&gt; where &lt;duration&gt; is a positive integer and time unit is one of seconds, minutes, hours</description><displayName>Max Bin Age</displayName><dynamic>false</dynamic><name>Max Bin Age</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum number of Bins</key><value><defaultValue>100</defaultValue><description>Specifies the maximum number of bins that can be held in memory at any one time</description><displayName>Maximum number of Bins</displayName><dynamic>false</dynamic><name>Maximum number of Bins</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Delimiter Strategy</key><value><allowableValues><description>The values of Header, Footer, and Demarcator will be retrieved from the contents of a file</description><displayName>Filename</displayName><value>Filename</value></allowableValues><allowableValues><description>The values of Header, Footer, and Demarcator will be specified as property values</description><displayName>Text</displayName><value>Text</value></allowableValues><defaultValue>Filename</defaultValue><description>Determines if Header, Footer, and Demarcator should point to files containing the respective content, or if the values of the properties should be used as the content.</description><displayName>Delimiter Strategy</displayName><dynamic>false</dynamic><name>Delimiter Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Header File</key><value><description>Filename specifying the header to use. If not specified, no header is supplied. This property is valid only when using the binary-concatenation merge strategy; otherwise, it is ignored.</description><displayName>Header</displayName><dynamic>false</dynamic><name>Header File</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Footer File</key><value><description>Filename specifying the footer to use. If not specified, no footer is supplied. This property is valid only when using the binary-concatenation merge strategy; otherwise, it is ignored.</description><displayName>Footer</displayName><dynamic>false</dynamic><name>Footer File</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Demarcator File</key><value><description>Filename specifying the demarcator to use. If not specified, no demarcator is supplied. This property is valid only when using the binary-concatenation merge strategy; otherwise, it is ignored.</description><displayName>Demarcator</displayName><dynamic>false</dynamic><name>Demarcator File</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Compression Level</key><value><allowableValues><displayName>0</displayName><value>0</value></allowableValues><allowableValues><displayName>1</displayName><value>1</value></allowableValues><allowableValues><displayName>2</displayName><value>2</value></allowableValues><allowableValues><displayName>3</displayName><value>3</value></allowableValues><allowableValues><displayName>4</displayName><value>4</value></allowableValues><allowableValues><displayName>5</displayName><value>5</value></allowableValues><allowableValues><displayName>6</displayName><value>6</value></allowableValues><allowableValues><displayName>7</displayName><value>7</value></allowableValues><allowableValues><displayName>8</displayName><value>8</value></allowableValues><allowableValues><displayName>9</displayName><value>9</value></allowableValues><defaultValue>1</defaultValue><description>Specifies the compression level to use when using the Zip Merge Format; if not using the Zip Merge Format, this value is ignored</description><displayName>Compression Level</displayName><dynamic>false</dynamic><name>Compression Level</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Keep Path</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If using the Zip or Tar Merge Format, specifies whether or not the FlowFiles' paths should be included in their entry names; if using other merge strategy, this value is ignored</description><displayName>Keep Path</displayName><dynamic>false</dynamic><name>Keep Path</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Merge Strategy</key></entry><entry><key>Merge Format</key><value>Avro</value></entry><entry><key>Attribute Strategy</key></entry><entry><key>Correlation Attribute Name</key></entry><entry><key>Minimum Number of Entries</key><value>5</value></entry><entry><key>Maximum Number of Entries</key><value>10</value></entry><entry><key>Minimum Group Size</key></entry><entry><key>Maximum Group Size</key></entry><entry><key>Max Bin Age</key></entry><entry><key>Maximum number of Bins</key></entry><entry><key>Delimiter Strategy</key></entry><entry><key>Header File</key></entry><entry><key>Footer File</key></entry><entry><key>Demarcator File</key></entry><entry><key>Compression Level</key></entry><entry><key>Keep Path</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Merge Avro</name><relationships><autoTerminate>true</autoTerminate><description>If the bundle cannot be created, all FlowFiles that would have been used to created the bundle will be transferred to failure</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>The FlowFile containing the merged content</description><name>merged</name></relationships><relationships><autoTerminate>true</autoTerminate><description>The FlowFiles that were used to create the bundle</description><name>original</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.MergeContent</type></processors><processors><id>22dc48e1-5736-426e-a47c-5e108a002ae7</id><parentGroupId>8ecdd0f9-1c49-4b9f-9a26-b6e588192505</parentGroupId><position><x>3826.865897047531</x><y>1129.0609415907707</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Delete Attributes Expression</key><value><description>Regular expression for attributes to be deleted from flowfiles.</description><displayName>Delete Attributes Expression</displayName><dynamic>false</dynamic><name>Delete Attributes Expression</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Delete Attributes Expression</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Converting Failed</name><relationships><autoTerminate>true</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.attributes.UpdateAttribute</type></processors><processors><id>e4306087-f229-477e-893b-566339bdb669</id><parentGroupId>8ecdd0f9-1c49-4b9f-9a26-b6e588192505</parentGroupId><position><x>3793.1711948990933</x><y>601.8165568251457</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Delete Attributes Expression</key><value><description>Regular expression for attributes to be deleted from flowfiles.</description><displayName>Delete Attributes Expression</displayName><dynamic>false</dynamic><name>Delete Attributes Expression</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Delete Attributes Expression</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Evaluating Failed</name><relationships><autoTerminate>true</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.attributes.UpdateAttribute</type></processors></contents><disabledCount>0</disabledCount><inactiveRemotePortCount>0</inactiveRemotePortCount><inputPortCount>0</inputPortCount><invalidCount>0</invalidCount><name>JSON Data</name><outputPortCount>1</outputPortCount><parent><id>35105bb8-2c3f-415b-bf62-659c6c491ca2</id><name>NiFi Flow</name></parent><runningCount>0</runningCount><stoppedCount>11</stoppedCount></processGroups><processGroups><id>24183819-b5e1-4db9-8fe7-af82c12cb1f1</id><parentGroupId>35105bb8-2c3f-415b-bf62-659c6c491ca2</parentGroupId><position><x>2508.8334905467254</x><y>1368.4027561237654</y></position><activeRemotePortCount>0</activeRemotePortCount><comments></comments><contents><connections><id>e6a8644d-914b-402a-b2e2-ae111900741e</id><parentGroupId>24183819-b5e1-4db9-8fe7-af82c12cb1f1</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>24183819-b5e1-4db9-8fe7-af82c12cb1f1</groupId><id>84fffda5-a059-4028-a562-61dd95e59221</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>24183819-b5e1-4db9-8fe7-af82c12cb1f1</groupId><id>91750b7d-21c8-43bd-b4ce-ff968f977297</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>044d8102-394c-4c41-ab92-7423cdf5d1f8</id><parentGroupId>24183819-b5e1-4db9-8fe7-af82c12cb1f1</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>24183819-b5e1-4db9-8fe7-af82c12cb1f1</groupId><id>585026ac-0767-4482-bf52-258a1efa5821</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>failure</selectedRelationships><source><groupId>24183819-b5e1-4db9-8fe7-af82c12cb1f1</groupId><id>d27bfbee-396e-4328-988b-a766dcf46df6</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>df5da22d-e4b8-4611-97ef-df4425e1ae81</id><parentGroupId>24183819-b5e1-4db9-8fe7-af82c12cb1f1</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>24183819-b5e1-4db9-8fe7-af82c12cb1f1</groupId><id>d27bfbee-396e-4328-988b-a766dcf46df6</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>24183819-b5e1-4db9-8fe7-af82c12cb1f1</groupId><id>84fffda5-a059-4028-a562-61dd95e59221</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>2937acbe-02f8-437f-ba34-5e740cf24001</id><parentGroupId>24183819-b5e1-4db9-8fe7-af82c12cb1f1</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>24183819-b5e1-4db9-8fe7-af82c12cb1f1</groupId><id>f95418fe-e205-4fe5-b01f-3b240004a381</id><type>OUTPUT_PORT</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>24183819-b5e1-4db9-8fe7-af82c12cb1f1</groupId><id>d27bfbee-396e-4328-988b-a766dcf46df6</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>bc7ac4b5-5631-4f16-b481-6deb965b5f6d</id><parentGroupId>24183819-b5e1-4db9-8fe7-af82c12cb1f1</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>24183819-b5e1-4db9-8fe7-af82c12cb1f1</groupId><id>02dd4f84-b6ed-46e6-a2e6-30552173a253</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>failure</selectedRelationships><selectedRelationships>incompatible</selectedRelationships><source><groupId>24183819-b5e1-4db9-8fe7-af82c12cb1f1</groupId><id>84fffda5-a059-4028-a562-61dd95e59221</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><outputPorts><id>f95418fe-e205-4fe5-b01f-3b240004a381</id><parentGroupId>24183819-b5e1-4db9-8fe7-af82c12cb1f1</parentGroupId><position><x>2600.7110440712813</x><y>1591.2380190766266</y></position><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><name>Avro Record</name><state>STOPPED</state><type>OUTPUT_PORT</type></outputPorts><processors><id>585026ac-0767-4482-bf52-258a1efa5821</id><parentGroupId>24183819-b5e1-4db9-8fe7-af82c12cb1f1</parentGroupId><position><x>1962.0578831315152</x><y>1394.8067912001457</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Delete Attributes Expression</key><value><description>Regular expression for attributes to be deleted from flowfiles.</description><displayName>Delete Attributes Expression</displayName><dynamic>false</dynamic><name>Delete Attributes Expression</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Delete Attributes Expression</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Converting Failed</name><relationships><autoTerminate>true</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.attributes.UpdateAttribute</type></processors><processors><id>d27bfbee-396e-4328-988b-a766dcf46df6</id><parentGroupId>24183819-b5e1-4db9-8fe7-af82c12cb1f1</parentGroupId><position><x>2529.5278181368</x><y>1401.3392965824564</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Input Schema</key><value><description>Avro Schema of Input Flowfiles</description><displayName>Input Schema</displayName><dynamic>false</dynamic><name>Input Schema</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Output Schema</key><value><description>Avro Schema of Output Flowfiles</description><displayName>Output Schema</displayName><dynamic>false</dynamic><name>Output Schema</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Input Schema</key><value>{   
    &quot;type&quot; : &quot;record&quot;,
    &quot;name&quot; : &quot;person&quot;, 
    &quot;fields&quot; : [
        {&quot;name&quot; : &quot;username&quot;,&quot;type&quot;: &quot;string&quot;},
        {&quot;name&quot; : &quot;password&quot;,&quot;type&quot;: &quot;string&quot;},      
        {&quot;name&quot; : &quot;gender&quot;, &quot;type&quot; : &quot;string&quot;},
        {&quot;name&quot; : &quot;title&quot;, &quot;type&quot; : &quot;string&quot;},
        {&quot;name&quot; : &quot;first&quot;, &quot;type&quot; : &quot;string&quot;},
        {&quot;name&quot; : &quot;last&quot;, &quot;type&quot; : &quot;string&quot;},

        {&quot;name&quot; : &quot;street&quot;, &quot;type&quot; : &quot;string&quot;},
        {&quot;name&quot; : &quot;city&quot;, &quot;type&quot; : &quot;string&quot;},

        {&quot;name&quot; : &quot;state&quot;, &quot;type&quot; : &quot;string&quot;},
        {&quot;name&quot; : &quot;zip&quot;, &quot;type&quot; : &quot;string&quot;} 
        ]
 }</value></entry><entry><key>Output Schema</key><value>{
                    &quot;name&quot;: &quot;user&quot;,
                    &quot;type&quot;: &quot;record&quot;,
                    &quot;fields&quot;:[
                        {
                            &quot;name&quot;:&quot;username&quot;,&quot;type&quot;: &quot;string&quot;
                        },
                        {
                            &quot;name&quot;:&quot;password&quot;,&quot;type&quot;: &quot;string&quot;
                        }
                    ] 
                }</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Simplify Record</name><relationships><autoTerminate>false</autoTerminate><description>Avro content that failed to convert</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>Avro content that converted successfully</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.kite.ConvertAvroSchema</type></processors><processors><id>91750b7d-21c8-43bd-b4ce-ff968f977297</id><parentGroupId>24183819-b5e1-4db9-8fe7-af82c12cb1f1</parentGroupId><position><x>2519.743582594406</x><y>993.6474894423332</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>URL</key><value><description>The URL to pull from</description><displayName>URL</displayName><dynamic>false</dynamic><name>URL</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Filename</key><value><description>The filename to assign to the file when pulled</description><displayName>Filename</displayName><dynamic>false</dynamic><name>Filename</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>SSL Context Service</key><value><description>The Controller Service to use in order to obtain an SSL Context</description><displayName>SSL Context Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService><name>SSL Context Service</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Username</key><value><description>Username required to access the URL</description><displayName>Username</displayName><dynamic>false</dynamic><name>Username</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Password</key><value><description>Password required to access the URL</description><displayName>Password</displayName><dynamic>false</dynamic><name>Password</name><required>false</required><sensitive>true</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Connection Timeout</key><value><defaultValue>30 sec</defaultValue><description>How long to wait when attempting to connect to the remote server before giving up</description><displayName>Connection Timeout</displayName><dynamic>false</dynamic><name>Connection Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Data Timeout</key><value><defaultValue>30 sec</defaultValue><description>How long to wait between receiving segments of data from the remote server before giving up and discarding the partial file</description><displayName>Data Timeout</displayName><dynamic>false</dynamic><name>Data Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>User Agent</key><value><description>What to report as the User Agent when we connect to the remote server</description><displayName>User Agent</displayName><dynamic>false</dynamic><name>User Agent</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Accept Content-Type</key><value><description>If specified, requests will only accept the provided Content-Type</description><displayName>Accept Content-Type</displayName><dynamic>false</dynamic><name>Accept Content-Type</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Follow Redirects</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If we receive a 3xx HTTP Status Code from the server, indicates whether or not we should follow the redirect that the server specifies</description><displayName>Follow Redirects</displayName><dynamic>false</dynamic><name>Follow Redirects</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Proxy Host</key><value><description>The fully qualified hostname or IP address of the proxy server</description><displayName>Proxy Host</displayName><dynamic>false</dynamic><name>Proxy Host</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Proxy Port</key><value><description>The port of the proxy server</description><displayName>Proxy Port</displayName><dynamic>false</dynamic><name>Proxy Port</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>URL</key><value>http://api.randomuser.me/0.4.1/?format=csv</value></entry><entry><key>Filename</key><value>randomUserCSV_${nextInt()}</value></entry><entry><key>SSL Context Service</key></entry><entry><key>Username</key></entry><entry><key>Password</key></entry><entry><key>Connection Timeout</key><value>30 sec</value></entry><entry><key>Data Timeout</key><value>30 sec</value></entry><entry><key>User Agent</key></entry><entry><key>Accept Content-Type</key></entry><entry><key>Follow Redirects</key><value>false</value></entry><entry><key>Proxy Host</key></entry><entry><key>Proxy Port</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>10 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Get One Random User In CSV</name><relationships><autoTerminate>false</autoTerminate><description>All files are transferred to the success relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.GetHTTP</type></processors><processors><id>84fffda5-a059-4028-a562-61dd95e59221</id><parentGroupId>24183819-b5e1-4db9-8fe7-af82c12cb1f1</parentGroupId><position><x>2525.743582594406</x><y>1180.5875529188957</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Hadoop configuration files</key><value><description>A comma-separated list of Hadoop configuration files</description><displayName>Hadoop configuration files</displayName><dynamic>false</dynamic><name>Hadoop configuration files</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Record schema</key><value><description>Outgoing Avro schema for each record created from a CSV row</description><displayName>Record schema</displayName><dynamic>false</dynamic><name>Record schema</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>CSV charset</key><value><defaultValue>utf8</defaultValue><description>Character set for CSV files</description><displayName>CSV charset</displayName><dynamic>false</dynamic><name>CSV charset</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>CSV delimiter</key><value><defaultValue>,</defaultValue><description>Delimiter character for CSV records</description><displayName>CSV delimiter</displayName><dynamic>false</dynamic><name>CSV delimiter</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>CSV quote character</key><value><defaultValue>&quot;</defaultValue><description>Quote character for CSV values</description><displayName>CSV quote character</displayName><dynamic>false</dynamic><name>CSV quote character</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>CSV escape character</key><value><defaultValue>\</defaultValue><description>Escape character for CSV values</description><displayName>CSV escape character</displayName><dynamic>false</dynamic><name>CSV escape character</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Use CSV header line</key><value><defaultValue>false</defaultValue><description>Whether to use the first line as a header</description><displayName>Use CSV header line</displayName><dynamic>false</dynamic><name>Use CSV header line</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Lines to skip</key><value><defaultValue>0</defaultValue><description>Number of lines to skip before reading header or data</description><displayName>Lines to skip</displayName><dynamic>false</dynamic><name>Lines to skip</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Hadoop configuration files</key></entry><entry><key>Record schema</key><value>{   
    &quot;type&quot; : &quot;record&quot;,
    &quot;name&quot; : &quot;person&quot;, 
    &quot;fields&quot; : [
        {&quot;name&quot; : &quot;username&quot;,&quot;type&quot;: &quot;string&quot;},
        {&quot;name&quot; : &quot;password&quot;,&quot;type&quot;: &quot;string&quot;},      
        {&quot;name&quot; : &quot;gender&quot;, &quot;type&quot; : &quot;string&quot;},
        {&quot;name&quot; : &quot;title&quot;, &quot;type&quot; : &quot;string&quot;},
        {&quot;name&quot; : &quot;first&quot;, &quot;type&quot; : &quot;string&quot;},
        {&quot;name&quot; : &quot;last&quot;, &quot;type&quot; : &quot;string&quot;},

        {&quot;name&quot; : &quot;street&quot;, &quot;type&quot; : &quot;string&quot;},
        {&quot;name&quot; : &quot;city&quot;, &quot;type&quot; : &quot;string&quot;},

        {&quot;name&quot; : &quot;state&quot;, &quot;type&quot; : &quot;string&quot;},
        {&quot;name&quot; : &quot;zip&quot;, &quot;type&quot; : &quot;string&quot;} 
        ]
 }</value></entry><entry><key>CSV charset</key><value>utf8</value></entry><entry><key>CSV delimiter</key><value>,</value></entry><entry><key>CSV quote character</key><value>&quot;</value></entry><entry><key>CSV escape character</key><value>\</value></entry><entry><key>Use CSV header line</key><value>false</value></entry><entry><key>Lines to skip</key><value>0</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>ConvertCSVToAvro</name><relationships><autoTerminate>false</autoTerminate><description>CSV content that could not be processed</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>CSV content that could not be converted</description><name>incompatible</name></relationships><relationships><autoTerminate>false</autoTerminate><description>Avro content that was converted successfully from CSV</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.kite.ConvertCSVToAvro</type></processors><processors><id>02dd4f84-b6ed-46e6-a2e6-30552173a253</id><parentGroupId>24183819-b5e1-4db9-8fe7-af82c12cb1f1</parentGroupId><position><x>1955.5343540787808</x><y>1187.0168742079582</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Delete Attributes Expression</key><value><description>Regular expression for attributes to be deleted from flowfiles.</description><displayName>Delete Attributes Expression</displayName><dynamic>false</dynamic><name>Delete Attributes Expression</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Delete Attributes Expression</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Converting Failed</name><relationships><autoTerminate>true</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.attributes.UpdateAttribute</type></processors></contents><disabledCount>0</disabledCount><inactiveRemotePortCount>0</inactiveRemotePortCount><inputPortCount>0</inputPortCount><invalidCount>0</invalidCount><name>CSV Data</name><outputPortCount>1</outputPortCount><parent><id>35105bb8-2c3f-415b-bf62-659c6c491ca2</id><name>NiFi Flow</name></parent><runningCount>0</runningCount><stoppedCount>6</stoppedCount></processGroups><processors><id>75ad7a08-89be-4b1f-96ca-fe6fceafc1db</id><parentGroupId>35105bb8-2c3f-415b-bf62-659c6c491ca2</parentGroupId><position><x>2803.139334547531</x><y>1733.1307658095207</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Split Strategy</key><value><allowableValues><description>Split at Record boundaries</description><displayName>Record</displayName><value>Record</value></allowableValues><defaultValue>Record</defaultValue><description>The strategy for splitting the incoming datafile. The Record strategy will read the incoming datafile by de-serializing each record.</description><displayName>Split Strategy</displayName><dynamic>false</dynamic><name>Split Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Output Size</key><value><defaultValue>1</defaultValue><description>The number of Avro records to include per split file. In cases where the incoming file has less records than the Output Size, or when the total number of records does not divide evenly by the Output Size, it is possible to get a split file with less records.</description><displayName>Output Size</displayName><dynamic>false</dynamic><name>Output Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Output Strategy</key><value><allowableValues><description>Avro's object container file format</description><displayName>Datafile</displayName><value>Datafile</value></allowableValues><allowableValues><description>Bare Avro records</description><displayName>Bare Record</displayName><value>Bare Record</value></allowableValues><defaultValue>Datafile</defaultValue><description>Determines the format of the output. Either Avro Datafile, or bare record. Bare record output is only intended for use with systems that already require it, and shouldn't be needed for normal use.</description><displayName>Output Strategy</displayName><dynamic>false</dynamic><name>Output Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Transfer Metadata</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Whether or not to transfer metadata from the parent datafile to the children. If the Output Strategy is Bare Record, then the metadata will be stored as FlowFile attributes, otherwise it will be in the Datafile header.</description><displayName>Transfer Metadata</displayName><dynamic>false</dynamic><name>Transfer Metadata</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Split Strategy</key><value>Record</value></entry><entry><key>Output Size</key><value>1</value></entry><entry><key>Output Strategy</key><value>Datafile</value></entry><entry><key>Transfer Metadata</key><value>true</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>SplitAvro</name><relationships><autoTerminate>true</autoTerminate><description>If a FlowFile fails processing for any reason (for example, the FlowFile is not valid Avro), it will be routed to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>The original FlowFile that was split. If the FlowFile fails processing, nothing will be sent to this relationship</description><name>original</name></relationships><relationships><autoTerminate>false</autoTerminate><description>All new files split from the original FlowFile will be routed to this relationship</description><name>split</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.avro.SplitAvro</type></processors><processors><id>88501fbe-b6f8-479d-818c-4204332b71cc</id><parentGroupId>35105bb8-2c3f-415b-bf62-659c6c491ca2</parentGroupId><position><x>2810.9409702897183</x><y>1904.4353312392082</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>JSON container options</key><value><allowableValues><displayName>none</displayName><value>none</value></allowableValues><allowableValues><displayName>array</displayName><value>array</value></allowableValues><defaultValue>array</defaultValue><description>Determines how stream of records is exposed: either as a sequence of single Objects (none) (i.e. writing every Object to a new line), or as an array of Objects (array).</description><displayName>JSON container options</displayName><dynamic>false</dynamic><name>JSON container options</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Wrap Single Record</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Determines if the resulting output for empty records or a single record should be wrapped in a container array as specified by 'JSON container options'</description><displayName>Wrap Single Record</displayName><dynamic>false</dynamic><name>Wrap Single Record</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>JSON container options</key><value>array</value></entry><entry><key>Wrap Single Record</key><value>false</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>ConvertAvroToJSON</name><relationships><autoTerminate>false</autoTerminate><description>A FlowFile is routed to this relationship if it cannot be parsed as Avro or cannot be converted to JSON for any reason</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>A FlowFile is routed to this relationship after it has been converted to JSON</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.avro.ConvertAvroToJSON</type></processors><processors><id>f2d05437-abe0-4ced-b12c-165b16faf095</id><parentGroupId>35105bb8-2c3f-415b-bf62-659c6c491ca2</parentGroupId><position><x>3351.46730695964</x><y>1905.0926798720207</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Delete Attributes Expression</key><value><description>Regular expression for attributes to be deleted from flowfiles.</description><displayName>Delete Attributes Expression</displayName><dynamic>false</dynamic><name>Delete Attributes Expression</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Delete Attributes Expression</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Converting Failed</name><relationships><autoTerminate>true</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.attributes.UpdateAttribute</type></processors><processors><id>53c861bf-e829-4438-bfc4-ffbdd2503e70</id><parentGroupId>35105bb8-2c3f-415b-bf62-659c6c491ca2</parentGroupId><position><x>2811.6509312272183</x><y>2083.130094422802</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Delete Attributes Expression</key><value><description>Regular expression for attributes to be deleted from flowfiles.</description><displayName>Delete Attributes Expression</displayName><dynamic>false</dynamic><name>Delete Attributes Expression</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Delete Attributes Expression</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Finish</name><relationships><autoTerminate>true</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.attributes.UpdateAttribute</type></processors></snippet><timestamp>01/06/2016 17:46:04 EST</timestamp></template>