templates/Fun_with_HBase.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><template><description></description><name>Fun with HBase</name><snippet><connections><id>e2e2e4a7-2e3f-40a5-954b-3b7526b7ef55</id><parentGroupId>8cf89477-3351-488d-bd8e-b4a18dbcf77a</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>8cf89477-3351-488d-bd8e-b4a18dbcf77a</groupId><id>b6b2d5b6-52b3-411f-8867-452f82c9deac</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>failure</selectedRelationships><selectedRelationships>success</selectedRelationships><source><groupId>8cf89477-3351-488d-bd8e-b4a18dbcf77a</groupId><id>b0295f29-69e4-491e-9e2f-2cac1346c1df</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>5b05990c-d519-46e8-8ce0-7330d18de247</id><parentGroupId>8cf89477-3351-488d-bd8e-b4a18dbcf77a</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>8cf89477-3351-488d-bd8e-b4a18dbcf77a</groupId><id>b3f5a656-1376-4ed1-a219-d57662ff9bb2</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>split</selectedRelationships><source><groupId>8cf89477-3351-488d-bd8e-b4a18dbcf77a</groupId><id>26e16412-bcac-4b8b-a33a-94731c7b3510</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>8e1c1a01-f076-42e3-bdfa-cbfda1d99f5b</id><parentGroupId>8cf89477-3351-488d-bd8e-b4a18dbcf77a</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>8cf89477-3351-488d-bd8e-b4a18dbcf77a</groupId><id>536c8a50-0470-4cbc-bee6-91caf927e404</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>matched</selectedRelationships><source><groupId>8cf89477-3351-488d-bd8e-b4a18dbcf77a</groupId><id>d3fa8bd7-d978-47ac-92e5-e25a0358ec31</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>a1d0e40e-ede1-4511-9717-e361ae95c44b</id><parentGroupId>8cf89477-3351-488d-bd8e-b4a18dbcf77a</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>8cf89477-3351-488d-bd8e-b4a18dbcf77a</groupId><id>b0295f29-69e4-491e-9e2f-2cac1346c1df</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>matched</selectedRelationships><source><groupId>8cf89477-3351-488d-bd8e-b4a18dbcf77a</groupId><id>d3fa8bd7-d978-47ac-92e5-e25a0358ec31</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>5c4d1843-e7e2-4646-a642-38661210b8bd</id><parentGroupId>8cf89477-3351-488d-bd8e-b4a18dbcf77a</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><bends><x>1056.4971290617495</x><y>1223.9918642996647</y></bends><bends><x>1056.4971290617495</x><y>1273.9918642996647</y></bends><destination><groupId>8cf89477-3351-488d-bd8e-b4a18dbcf77a</groupId><id>b6b2d5b6-52b3-411f-8867-452f82c9deac</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>failure</selectedRelationships><source><groupId>8cf89477-3351-488d-bd8e-b4a18dbcf77a</groupId><id>b6b2d5b6-52b3-411f-8867-452f82c9deac</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>744f9145-4ec7-4d7b-b70d-84219147a289</id><parentGroupId>8cf89477-3351-488d-bd8e-b4a18dbcf77a</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>8cf89477-3351-488d-bd8e-b4a18dbcf77a</groupId><id>26e16412-bcac-4b8b-a33a-94731c7b3510</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>Response</selectedRelationships><source><groupId>8cf89477-3351-488d-bd8e-b4a18dbcf77a</groupId><id>104b2c73-e090-4d3e-ac89-eb28e6d466f1</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>e92546c1-9bc0-4449-bcbd-33b8f7cf483e</id><parentGroupId>8cf89477-3351-488d-bd8e-b4a18dbcf77a</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>8cf89477-3351-488d-bd8e-b4a18dbcf77a</groupId><id>d3fa8bd7-d978-47ac-92e5-e25a0358ec31</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>matched</selectedRelationships><source><groupId>8cf89477-3351-488d-bd8e-b4a18dbcf77a</groupId><id>b3f5a656-1376-4ed1-a219-d57662ff9bb2</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>972c9849-da84-4e92-a721-58f1b1c4ee2c</id><parentGroupId>8cf89477-3351-488d-bd8e-b4a18dbcf77a</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>8cf89477-3351-488d-bd8e-b4a18dbcf77a</groupId><id>cf1e53ce-5c35-4a62-ae85-5391bd6fbc13</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>8cf89477-3351-488d-bd8e-b4a18dbcf77a</groupId><id>76e30a4e-7b40-4840-a89a-4b88d5b7b917</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>45d0461f-76cb-4123-afc5-0c327a058051</id><parentGroupId>8cf89477-3351-488d-bd8e-b4a18dbcf77a</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><bends><x>1684.8846000254944</x><y>855.6860407943361</y></bends><bends><x>1684.8846000254944</x><y>905.6860407943361</y></bends><destination><groupId>8cf89477-3351-488d-bd8e-b4a18dbcf77a</groupId><id>536c8a50-0470-4cbc-bee6-91caf927e404</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>failure</selectedRelationships><source><groupId>8cf89477-3351-488d-bd8e-b4a18dbcf77a</groupId><id>536c8a50-0470-4cbc-bee6-91caf927e404</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><controllerServices><id>51d6230c-eb82-42cc-9933-b0ce06389a70</id><comments></comments><descriptors><entry><key>Hadoop Configuration Files</key><value><description>Comma-separated list of Hadoop Configuration files, such as hbase-site.xml and core-site.xml for kerberos, including full paths to the files.</description><displayName>Hadoop Configuration Files</displayName><dynamic>false</dynamic><name>Hadoop Configuration Files</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Kerberos Principal</key><value><description>Kerberos principal to authenticate as. Requires nifi.kerberos.krb5.file to be set in your nifi.properties</description><displayName>Kerberos Principal</displayName><dynamic>false</dynamic><name>Kerberos Principal</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Kerberos Keytab</key><value><description>Kerberos keytab associated with the principal. Requires nifi.kerberos.krb5.file to be set in your nifi.properties</description><displayName>Kerberos Keytab</displayName><dynamic>false</dynamic><name>Kerberos Keytab</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>ZooKeeper Quorum</key><value><description>Comma-separated list of ZooKeeper hosts for HBase. Required if Hadoop Configuration Files are not provided.</description><displayName>ZooKeeper Quorum</displayName><dynamic>false</dynamic><name>ZooKeeper Quorum</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>ZooKeeper Client Port</key><value><description>The port on which ZooKeeper is accepting client connections. Required if Hadoop Configuration Files are not provided.</description><displayName>ZooKeeper Client Port</displayName><dynamic>false</dynamic><name>ZooKeeper Client Port</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>ZooKeeper ZNode Parent</key><value><description>The ZooKeeper ZNode Parent value for HBase (example: /hbase). Required if Hadoop Configuration Files are not provided.</description><displayName>ZooKeeper ZNode Parent</displayName><dynamic>false</dynamic><name>ZooKeeper ZNode Parent</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>HBase Client Retries</key><value><defaultValue>1</defaultValue><description>The number of times the HBase client will retry connecting. Required if Hadoop Configuration Files are not provided.</description><displayName>HBase Client Retries</displayName><dynamic>false</dynamic><name>HBase Client Retries</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><name>HBase_1_1_2_ClientService</name><properties><entry><key>Hadoop Configuration Files</key><value>/etc/hadoop/conf/core-site.xml,/etc/hbase/conf/hbase-site.xml</value></entry><entry><key>Kerberos Principal</key></entry><entry><key>Kerberos Keytab</key></entry><entry><key>ZooKeeper Quorum</key></entry><entry><key>ZooKeeper Client Port</key></entry><entry><key>ZooKeeper ZNode Parent</key></entry><entry><key>HBase Client Retries</key><value>1</value></entry></properties><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>HBase Client Service</key><value><allowableValues><displayName>HBase_1_1_2_ClientService</displayName><value>51d6230c-eb82-42cc-9933-b0ce06389a70</value></allowableValues><description>Specifies the Controller Service to use for accessing HBase.</description><displayName>HBase Client Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.hbase.HBaseClientService</identifiesControllerService><name>HBase Client Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Table Name</key><value><description>The name of the HBase Table to put data into</description><displayName>Table Name</displayName><dynamic>false</dynamic><name>Table Name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Row Identifier</key><value><description>Specifies the Row ID to use when inserting data into HBase</description><displayName>Row Identifier</displayName><dynamic>false</dynamic><name>Row Identifier</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Column Family</key><value><description>The Column Family to use when inserting data into HBase</description><displayName>Column Family</displayName><dynamic>false</dynamic><name>Column Family</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Column Qualifier</key><value><description>The Column Qualifier to use when inserting data into HBase</description><displayName>Column Qualifier</displayName><dynamic>false</dynamic><name>Column Qualifier</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Batch Size</key><value><defaultValue>25</defaultValue><description>The maximum number of FlowFiles to process in a single execution. The FlowFiles will be grouped by table, and a single Put per table will be performed.</description><displayName>Batch Size</displayName><dynamic>false</dynamic><name>Batch Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>8cf89477-3351-488d-bd8e-b4a18dbcf77a</groupId><id>536c8a50-0470-4cbc-bee6-91caf927e404</id><name>PutHBaseCell</name><properties><entry><key>HBase Client Service</key><value>51d6230c-eb82-42cc-9933-b0ce06389a70</value></entry><entry><key>Table Name</key><value>Users</value></entry><entry><key>Row Identifier</key><value>${ssn}</value></entry><entry><key>Column Family</key><value>cf</value></entry><entry><key>Column Qualifier</key><value>user_full</value></entry><entry><key>Batch Size</key><value>25</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>org.apache.nifi.hbase.PutHBaseCell</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>HBase Client Service</key><value><allowableValues><displayName>HBase_1_1_2_ClientService</displayName><value>51d6230c-eb82-42cc-9933-b0ce06389a70</value></allowableValues><description>Specifies the Controller Service to use for accessing HBase.</description><displayName>HBase Client Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.hbase.HBaseClientService</identifiesControllerService><name>HBase Client Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Table Name</key><value><description>The name of the HBase Table to put data into</description><displayName>Table Name</displayName><dynamic>false</dynamic><name>Table Name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Row Identifier</key><value><description>Specifies the Row ID to use when inserting data into HBase</description><displayName>Row Identifier</displayName><dynamic>false</dynamic><name>Row Identifier</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Row Identifier Field Name</key><value><description>Specifies the name of a JSON element whose value should be used as the row id for the given JSON document.</description><displayName>Row Identifier Field Name</displayName><dynamic>false</dynamic><name>Row Identifier Field Name</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Column Family</key><value><description>The Column Family to use when inserting data into HBase</description><displayName>Column Family</displayName><dynamic>false</dynamic><name>Column Family</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Batch Size</key><value><defaultValue>25</defaultValue><description>The maximum number of FlowFiles to process in a single execution. The FlowFiles will be grouped by table, and a single Put per table will be performed.</description><displayName>Batch Size</displayName><dynamic>false</dynamic><name>Batch Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Complex Field Strategy</key><value><allowableValues><description>Route entire FlowFile to failure if any elements contain complex values.</description><displayName>Fail</displayName><value>Fail</value></allowableValues><allowableValues><description>Provide a warning and do not include field in row sent to HBase.</description><displayName>Warn</displayName><value>Warn</value></allowableValues><allowableValues><description>Silently ignore and do not include in row sent to HBase.</description><displayName>Ignore</displayName><value>Ignore</value></allowableValues><allowableValues><description>Use the string representation of the complex field as the value of the given column.</description><displayName>Text</displayName><value>Text</value></allowableValues><defaultValue>Text</defaultValue><description>Indicates how to handle complex fields, i.e. fields that do not have a single text value.</description><displayName>Complex Field Strategy</displayName><dynamic>false</dynamic><name>Complex Field Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>8cf89477-3351-488d-bd8e-b4a18dbcf77a</groupId><id>b6b2d5b6-52b3-411f-8867-452f82c9deac</id><name>PutHBaseJSON</name><properties><entry><key>HBase Client Service</key><value>51d6230c-eb82-42cc-9933-b0ce06389a70</value></entry><entry><key>Table Name</key><value>Users</value></entry><entry><key>Row Identifier</key></entry><entry><key>Row Identifier Field Name</key><value>ssn</value></entry><entry><key>Column Family</key><value>cf</value></entry><entry><key>Batch Size</key><value>25</value></entry><entry><key>Complex Field Strategy</key><value>Text</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>org.apache.nifi.hbase.PutHBaseJSON</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>HBase Client Service</key><value><allowableValues><displayName>HBase_1_1_2_ClientService</displayName><value>51d6230c-eb82-42cc-9933-b0ce06389a70</value></allowableValues><description>Specifies the Controller Service to use for accessing HBase.</description><displayName>HBase Client Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.hbase.HBaseClientService</identifiesControllerService><name>HBase Client Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Distributed Cache Service</key><value><allowableValues><displayName>DistributedMapCacheClientService</displayName><value>ba9075f5-f400-41d6-b38a-c08aa62ea7eb</value></allowableValues><description>Specifies the Controller Service that should be used to maintain state about what has been pulled from HBase so that if a new node begins pulling data, it won't duplicate all of the work that has been done.</description><displayName>Distributed Cache Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService><name>Distributed Cache Service</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Table Name</key><value><description>The name of the HBase Table to put data into</description><displayName>Table Name</displayName><dynamic>false</dynamic><name>Table Name</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Columns</key><value><description>A comma-separated list of &quot;&lt;colFamily&gt;:&lt;colQualifier&gt;&quot; pairs to return when scanning. To return all columns for a given family, leave off the qualifier such as &quot;&lt;colFamily1&gt;,&lt;colFamily2&gt;&quot;.</description><displayName>Columns</displayName><dynamic>false</dynamic><name>Columns</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Filter Expression</key><value><description>An HBase filter expression that will be applied to the scan. This property can not be used when also using the Columns property.</description><displayName>Filter Expression</displayName><dynamic>false</dynamic><name>Filter Expression</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Initial Time Range</key><value><allowableValues><displayName>None</displayName><value>None</value></allowableValues><allowableValues><displayName>Current Time</displayName><value>Current Time</value></allowableValues><defaultValue>None</defaultValue><description>The time range to use on the first scan of a table. None will pull the entire table on the first scan, Current Time will pull entries from that point forward.</description><displayName>Initial Time Range</displayName><dynamic>false</dynamic><name>Initial Time Range</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Character Set</key><value><defaultValue>UTF-8</defaultValue><description>Specifies which character set is used to encode the data in HBase</description><displayName>Character Set</displayName><dynamic>false</dynamic><name>Character Set</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>8cf89477-3351-488d-bd8e-b4a18dbcf77a</groupId><id>76e30a4e-7b40-4840-a89a-4b88d5b7b917</id><name>GetHBase</name><properties><entry><key>HBase Client Service</key><value>51d6230c-eb82-42cc-9933-b0ce06389a70</value></entry><entry><key>Distributed Cache Service</key><value>ba9075f5-f400-41d6-b38a-c08aa62ea7eb</value></entry><entry><key>Table Name</key><value>Users</value></entry><entry><key>Columns</key></entry><entry><key>Filter Expression</key></entry><entry><key>Initial Time Range</key><value>Current Time</value></entry><entry><key>Character Set</key><value>UTF-8</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>org.apache.nifi.hbase.GetHBase</type></referencingComponents><state>ENABLED</state><type>org.apache.nifi.hbase.HBase_1_1_2_ClientService</type></controllerServices><controllerServices><id>ba9075f5-f400-41d6-b38a-c08aa62ea7eb</id><comments></comments><descriptors><entry><key>Server Hostname</key><value><description>The name of the server that is running the DistributedMapCacheServer service</description><displayName>Server Hostname</displayName><dynamic>false</dynamic><name>Server Hostname</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Server Port</key><value><defaultValue>4557</defaultValue><description>The port on the remote server that is to be used when communicating with the DistributedMapCacheServer service</description><displayName>Server Port</displayName><dynamic>false</dynamic><name>Server Port</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SSL Context Service</key><value><description>If specified, indicates the SSL Context Service that is used to communicate with the remote server. If not specified, communications will not be encrypted</description><displayName>SSL Context Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService><name>SSL Context Service</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Communications Timeout</key><value><defaultValue>30 secs</defaultValue><description>Specifies how long to wait when communicating with the remote server before determining that there is a communications failure if data cannot be sent or received</description><displayName>Communications Timeout</displayName><dynamic>false</dynamic><name>Communications Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><name>DistributedMapCacheClientService</name><properties><entry><key>Server Hostname</key><value>localhost</value></entry><entry><key>Server Port</key><value>4557</value></entry><entry><key>SSL Context Service</key></entry><entry><key>Communications Timeout</key><value>30 secs</value></entry></properties><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>HBase Client Service</key><value><allowableValues><displayName>HBase_1_1_2_ClientService</displayName><value>51d6230c-eb82-42cc-9933-b0ce06389a70</value></allowableValues><description>Specifies the Controller Service to use for accessing HBase.</description><displayName>HBase Client Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.hbase.HBaseClientService</identifiesControllerService><name>HBase Client Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Distributed Cache Service</key><value><allowableValues><displayName>DistributedMapCacheClientService</displayName><value>ba9075f5-f400-41d6-b38a-c08aa62ea7eb</value></allowableValues><description>Specifies the Controller Service that should be used to maintain state about what has been pulled from HBase so that if a new node begins pulling data, it won't duplicate all of the work that has been done.</description><displayName>Distributed Cache Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService><name>Distributed Cache Service</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Table Name</key><value><description>The name of the HBase Table to put data into</description><displayName>Table Name</displayName><dynamic>false</dynamic><name>Table Name</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Columns</key><value><description>A comma-separated list of &quot;&lt;colFamily&gt;:&lt;colQualifier&gt;&quot; pairs to return when scanning. To return all columns for a given family, leave off the qualifier such as &quot;&lt;colFamily1&gt;,&lt;colFamily2&gt;&quot;.</description><displayName>Columns</displayName><dynamic>false</dynamic><name>Columns</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Filter Expression</key><value><description>An HBase filter expression that will be applied to the scan. This property can not be used when also using the Columns property.</description><displayName>Filter Expression</displayName><dynamic>false</dynamic><name>Filter Expression</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Initial Time Range</key><value><allowableValues><displayName>None</displayName><value>None</value></allowableValues><allowableValues><displayName>Current Time</displayName><value>Current Time</value></allowableValues><defaultValue>None</defaultValue><description>The time range to use on the first scan of a table. None will pull the entire table on the first scan, Current Time will pull entries from that point forward.</description><displayName>Initial Time Range</displayName><dynamic>false</dynamic><name>Initial Time Range</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Character Set</key><value><defaultValue>UTF-8</defaultValue><description>Specifies which character set is used to encode the data in HBase</description><displayName>Character Set</displayName><dynamic>false</dynamic><name>Character Set</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>8cf89477-3351-488d-bd8e-b4a18dbcf77a</groupId><id>76e30a4e-7b40-4840-a89a-4b88d5b7b917</id><name>GetHBase</name><properties><entry><key>HBase Client Service</key><value>51d6230c-eb82-42cc-9933-b0ce06389a70</value></entry><entry><key>Distributed Cache Service</key><value>ba9075f5-f400-41d6-b38a-c08aa62ea7eb</value></entry><entry><key>Table Name</key><value>Users</value></entry><entry><key>Columns</key></entry><entry><key>Filter Expression</key></entry><entry><key>Initial Time Range</key><value>Current Time</value></entry><entry><key>Character Set</key><value>UTF-8</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>org.apache.nifi.hbase.GetHBase</type></referencingComponents><state>ENABLED</state><type>org.apache.nifi.distributed.cache.client.DistributedMapCacheClientService</type></controllerServices><processors><id>b3f5a656-1376-4ed1-a219-d57662ff9bb2</id><parentGroupId>8cf89477-3351-488d-bd8e-b4a18dbcf77a</parentGroupId><position><x>647.2899591246951</x><y>650.6413045876383</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Destination</key><value><allowableValues><displayName>flowfile-content</displayName><value>flowfile-content</value></allowableValues><allowableValues><displayName>flowfile-attribute</displayName><value>flowfile-attribute</value></allowableValues><defaultValue>flowfile-content</defaultValue><description>Indicates whether the results of the JsonPath evaluation are written to the FlowFile content or a FlowFile attribute; if using attribute, must specify the Attribute Name property. If set to flowfile-content, only one JsonPath may be specified, and the property name is ignored.</description><displayName>Destination</displayName><dynamic>false</dynamic><name>Destination</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Return Type</key><value><allowableValues><displayName>auto-detect</displayName><value>auto-detect</value></allowableValues><allowableValues><displayName>json</displayName><value>json</value></allowableValues><allowableValues><displayName>scalar</displayName><value>scalar</value></allowableValues><defaultValue>auto-detect</defaultValue><description>Indicates the desired return type of the JSON Path expressions.  Selecting 'auto-detect' will set the return type to 'json' for a Destination of 'flowfile-content', and 'scalar' for a Destination of 'flowfile-attribute'.</description><displayName>Return Type</displayName><dynamic>false</dynamic><name>Return Type</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Path Not Found Behavior</key><value><allowableValues><displayName>warn</displayName><value>warn</value></allowableValues><allowableValues><displayName>ignore</displayName><value>ignore</value></allowableValues><defaultValue>ignore</defaultValue><description>Indicates how to handle missing JSON path expressions when destination is set to 'flowfile-attribute'. Selecting 'warn' will generate a warning when a JSON path expression is not found.</description><displayName>Path Not Found Behavior</displayName><dynamic>false</dynamic><name>Path Not Found Behavior</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Null Value Representation</key><value><allowableValues><displayName>the string 'null'</displayName><value>the string 'null'</value></allowableValues><allowableValues><displayName>empty string</displayName><value>empty string</value></allowableValues><defaultValue>empty string</defaultValue><description>Indicates the desired representation of JSON Path expressions resulting in a null value.</description><displayName>Null Value Representation</displayName><dynamic>false</dynamic><name>Null Value Representation</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>email</key><value><description></description><displayName>email</displayName><dynamic>true</dynamic><name>email</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>firstName</key><value><description></description><displayName>firstName</displayName><dynamic>true</dynamic><name>firstName</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>lastName</key><value><description></description><displayName>lastName</displayName><dynamic>true</dynamic><name>lastName</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>ssn</key><value><description></description><displayName>ssn</displayName><dynamic>true</dynamic><name>ssn</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Destination</key><value>flowfile-attribute</value></entry><entry><key>Return Type</key><value>auto-detect</value></entry><entry><key>Path Not Found Behavior</key><value>ignore</value></entry><entry><key>Null Value Representation</key><value>empty string</value></entry><entry><key>email</key><value>$.email</value></entry><entry><key>firstName</key><value>$.name.first</value></entry><entry><key>lastName</key><value>$.name.last</value></entry><entry><key>ssn</key><value>$.id.value</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>EvaluateJsonPath</name><relationships><autoTerminate>true</autoTerminate><description>FlowFiles are routed to this relationship when the JsonPath cannot be evaluated against the content of the FlowFile; for instance, if the FlowFile is not valid JSON</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>FlowFiles are routed to this relationship when the JsonPath is successfully evaluated and the FlowFile is modified as a result</description><name>matched</name></relationships><relationships><autoTerminate>true</autoTerminate><description>FlowFiles are routed to this relationship when the JsonPath does not match the content of the FlowFile and the Destination is set to flowfile-content</description><name>unmatched</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.EvaluateJsonPath</type></processors><processors><id>cf1e53ce-5c35-4a62-ae85-5391bd6fbc13</id><parentGroupId>8cf89477-3351-488d-bd8e-b4a18dbcf77a</parentGroupId><position><x>1967.4143663780533</x><y>548.6844856727165</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Log Level</key><value><allowableValues><displayName>trace</displayName><value>trace</value></allowableValues><allowableValues><displayName>debug</displayName><value>debug</value></allowableValues><allowableValues><displayName>info</displayName><value>info</value></allowableValues><allowableValues><displayName>warn</displayName><value>warn</value></allowableValues><allowableValues><displayName>error</displayName><value>error</value></allowableValues><defaultValue>info</defaultValue><description>The Log Level to use when logging the Attributes</description><displayName>Log Level</displayName><dynamic>false</dynamic><name>Log Level</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Log Payload</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If true, the FlowFile's payload will be logged, in addition to its attributes; otherwise, just the Attributes will be logged.</description><displayName>Log Payload</displayName><dynamic>false</dynamic><name>Log Payload</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Attributes to Log</key><value><description>A comma-separated list of Attributes to Log. If not specified, all attributes will be logged.</description><displayName>Attributes to Log</displayName><dynamic>false</dynamic><name>Attributes to Log</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Attributes to Ignore</key><value><description>A comma-separated list of Attributes to ignore. If not specified, no attributes will be ignored.</description><displayName>Attributes to Ignore</displayName><dynamic>false</dynamic><name>Attributes to Ignore</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Log prefix</key><value><description>Log prefix appended to the log lines. It helps to distinguish the output of multiple LogAttribute processors.</description><displayName>Log prefix</displayName><dynamic>false</dynamic><name>Log prefix</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Log Level</key></entry><entry><key>Log Payload</key></entry><entry><key>Attributes to Log</key></entry><entry><key>Attributes to Ignore</key></entry><entry><key>Log prefix</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>LogAttribute</name><relationships><autoTerminate>true</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.LogAttribute</type></processors><processors><id>536c8a50-0470-4cbc-bee6-91caf927e404</id><parentGroupId>8cf89477-3351-488d-bd8e-b4a18dbcf77a</parentGroupId><position><x>1275.8846000254944</x><y>830.6860407943361</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>HBase Client Service</key><value><allowableValues><displayName>HBase_1_1_2_ClientService</displayName><value>51d6230c-eb82-42cc-9933-b0ce06389a70</value></allowableValues><description>Specifies the Controller Service to use for accessing HBase.</description><displayName>HBase Client Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.hbase.HBaseClientService</identifiesControllerService><name>HBase Client Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Table Name</key><value><description>The name of the HBase Table to put data into</description><displayName>Table Name</displayName><dynamic>false</dynamic><name>Table Name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Row Identifier</key><value><description>Specifies the Row ID to use when inserting data into HBase</description><displayName>Row Identifier</displayName><dynamic>false</dynamic><name>Row Identifier</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Column Family</key><value><description>The Column Family to use when inserting data into HBase</description><displayName>Column Family</displayName><dynamic>false</dynamic><name>Column Family</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Column Qualifier</key><value><description>The Column Qualifier to use when inserting data into HBase</description><displayName>Column Qualifier</displayName><dynamic>false</dynamic><name>Column Qualifier</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Batch Size</key><value><defaultValue>25</defaultValue><description>The maximum number of FlowFiles to process in a single execution. The FlowFiles will be grouped by table, and a single Put per table will be performed.</description><displayName>Batch Size</displayName><dynamic>false</dynamic><name>Batch Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>HBase Client Service</key><value>51d6230c-eb82-42cc-9933-b0ce06389a70</value></entry><entry><key>Table Name</key><value>Users</value></entry><entry><key>Row Identifier</key><value>${ssn}</value></entry><entry><key>Column Family</key><value>cf</value></entry><entry><key>Column Qualifier</key><value>user_full</value></entry><entry><key>Batch Size</key><value>25</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>PutHBaseCell</name><relationships><autoTerminate>false</autoTerminate><description>A FlowFile is routed to this relationship if it cannot be sent to HBase</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>A FlowFile is routed to this relationship after it has been successfully stored in HBase</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.hbase.PutHBaseCell</type></processors><processors><id>b0295f29-69e4-491e-9e2f-2cac1346c1df</id><parentGroupId>8cf89477-3351-488d-bd8e-b4a18dbcf77a</parentGroupId><position><x>639.3875335686107</x><y>1004.8003580354857</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Attributes List</key><value><description>Comma separated list of attributes to be included in the resulting JSON. If this value is left empty then all existing Attributes will be included. This list of attributes is case sensitive. If an attribute specified in the list is not found it will be be emitted to the resulting JSON with an empty string or NULL value.</description><displayName>Attributes List</displayName><dynamic>false</dynamic><name>Attributes List</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Destination</key><value><allowableValues><displayName>flowfile-attribute</displayName><value>flowfile-attribute</value></allowableValues><allowableValues><displayName>flowfile-content</displayName><value>flowfile-content</value></allowableValues><defaultValue>flowfile-attribute</defaultValue><description>Control if JSON value is written as a new flowfile attribute 'JSONAttributes' or written in the flowfile content. Writing to flowfile content will overwrite any existing flowfile content.</description><displayName>Destination</displayName><dynamic>false</dynamic><name>Destination</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Include Core Attributes</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Determines if the FlowFile org.apache.nifi.flowfile.attributes.CoreAttributes which are contained in every FlowFile should be included in the final JSON value generated.</description><displayName>Include Core Attributes</displayName><dynamic>false</dynamic><name>Include Core Attributes</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Null Value</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If true a non existing or empty attribute will be NULL in the resulting JSON. If false an empty string will be placed in the JSON</description><displayName>Null Value</displayName><dynamic>false</dynamic><name>Null Value</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Attributes List</key><value>ssn, firstName, lastName, email</value></entry><entry><key>Destination</key><value>flowfile-content</value></entry><entry><key>Include Core Attributes</key><value>true</value></entry><entry><key>Null Value</key><value>false</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>AttributesToJSON</name><relationships><autoTerminate>false</autoTerminate><description>Failed to convert attributes to JSON</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>Successfully converted attributes to JSON</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.AttributesToJSON</type></processors><processors><id>76e30a4e-7b40-4840-a89a-4b88d5b7b917</id><parentGroupId>8cf89477-3351-488d-bd8e-b4a18dbcf77a</parentGroupId><position><x>1961.9460725290783</x><y>284.1651534753413</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>HBase Client Service</key><value><allowableValues><displayName>HBase_1_1_2_ClientService</displayName><value>51d6230c-eb82-42cc-9933-b0ce06389a70</value></allowableValues><description>Specifies the Controller Service to use for accessing HBase.</description><displayName>HBase Client Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.hbase.HBaseClientService</identifiesControllerService><name>HBase Client Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Distributed Cache Service</key><value><allowableValues><displayName>DistributedMapCacheClientService</displayName><value>ba9075f5-f400-41d6-b38a-c08aa62ea7eb</value></allowableValues><description>Specifies the Controller Service that should be used to maintain state about what has been pulled from HBase so that if a new node begins pulling data, it won't duplicate all of the work that has been done.</description><displayName>Distributed Cache Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService><name>Distributed Cache Service</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Table Name</key><value><description>The name of the HBase Table to put data into</description><displayName>Table Name</displayName><dynamic>false</dynamic><name>Table Name</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Columns</key><value><description>A comma-separated list of &quot;&lt;colFamily&gt;:&lt;colQualifier&gt;&quot; pairs to return when scanning. To return all columns for a given family, leave off the qualifier such as &quot;&lt;colFamily1&gt;,&lt;colFamily2&gt;&quot;.</description><displayName>Columns</displayName><dynamic>false</dynamic><name>Columns</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Filter Expression</key><value><description>An HBase filter expression that will be applied to the scan. This property can not be used when also using the Columns property.</description><displayName>Filter Expression</displayName><dynamic>false</dynamic><name>Filter Expression</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Initial Time Range</key><value><allowableValues><displayName>None</displayName><value>None</value></allowableValues><allowableValues><displayName>Current Time</displayName><value>Current Time</value></allowableValues><defaultValue>None</defaultValue><description>The time range to use on the first scan of a table. None will pull the entire table on the first scan, Current Time will pull entries from that point forward.</description><displayName>Initial Time Range</displayName><dynamic>false</dynamic><name>Initial Time Range</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Character Set</key><value><defaultValue>UTF-8</defaultValue><description>Specifies which character set is used to encode the data in HBase</description><displayName>Character Set</displayName><dynamic>false</dynamic><name>Character Set</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>HBase Client Service</key><value>51d6230c-eb82-42cc-9933-b0ce06389a70</value></entry><entry><key>Distributed Cache Service</key><value>ba9075f5-f400-41d6-b38a-c08aa62ea7eb</value></entry><entry><key>Table Name</key><value>Users</value></entry><entry><key>Columns</key></entry><entry><key>Filter Expression</key></entry><entry><key>Initial Time Range</key><value>Current Time</value></entry><entry><key>Character Set</key><value>UTF-8</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>GetHBase</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>false</supportsParallelProcessing><type>org.apache.nifi.hbase.GetHBase</type></processors><processors><id>104b2c73-e090-4d3e-ac89-eb28e6d466f1</id><parentGroupId>8cf89477-3351-488d-bd8e-b4a18dbcf77a</parentGroupId><position><x>643.0</x><y>279.0</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>HTTP Method</key><value><defaultValue>GET</defaultValue><description>HTTP request method (GET, POST, PUT, DELETE, HEAD, OPTIONS). Arbitrary methods are also supported. Methods other than POST and PUT will be sent without a message body.</description><displayName>HTTP Method</displayName><dynamic>false</dynamic><name>HTTP Method</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Remote URL</key><value><description>Remote URL which will be connected to, including scheme, host, port, path.</description><displayName>Remote URL</displayName><dynamic>false</dynamic><name>Remote URL</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>SSL Context Service</key><value><description>The SSL Context Service used to provide client certificate information for TLS/SSL (https) connections.</description><displayName>SSL Context Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService><name>SSL Context Service</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Connection Timeout</key><value><defaultValue>5 secs</defaultValue><description>Max wait time for connection to remote service.</description><displayName>Connection Timeout</displayName><dynamic>false</dynamic><name>Connection Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Read Timeout</key><value><defaultValue>15 secs</defaultValue><description>Max wait time for response from remote service.</description><displayName>Read Timeout</displayName><dynamic>false</dynamic><name>Read Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Include Date Header</key><value><allowableValues><displayName>True</displayName><value>True</value></allowableValues><allowableValues><displayName>False</displayName><value>False</value></allowableValues><defaultValue>True</defaultValue><description>Include an RFC-2616 Date header in the request.</description><displayName>Include Date Header</displayName><dynamic>false</dynamic><name>Include Date Header</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Follow Redirects</key><value><allowableValues><displayName>True</displayName><value>True</value></allowableValues><allowableValues><displayName>False</displayName><value>False</value></allowableValues><defaultValue>True</defaultValue><description>Follow HTTP redirects issued by remote server.</description><displayName>Follow Redirects</displayName><dynamic>false</dynamic><name>Follow Redirects</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Attributes to Send</key><value><description>Regular expression that defines which attributes to send as HTTP headers in the request. If not defined, no attributes are sent as headers. Also any dynamic properties set will be sent as headers. The dynamic property key will be the header key and the dynamic property value will be interpreted as expression language will be the header value.</description><displayName>Attributes to Send</displayName><dynamic>false</dynamic><name>Attributes to Send</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Basic Authentication Username</key><value><description>The username to be used by the client to authenticate against the Remote URL.  Cannot include control characters (0-31), ':', or DEL (127).</description><displayName>Basic Authentication Username</displayName><dynamic>false</dynamic><name>Basic Authentication Username</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Basic Authentication Password</key><value><description>The password to be used by the client to authenticate against the Remote URL.</description><displayName>Basic Authentication Password</displayName><dynamic>false</dynamic><name>Basic Authentication Password</name><required>false</required><sensitive>true</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Proxy Host</key><value><description>The fully qualified hostname or IP address of the proxy server</description><displayName>Proxy Host</displayName><dynamic>false</dynamic><name>Proxy Host</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Proxy Port</key><value><description>The port of the proxy server</description><displayName>Proxy Port</displayName><dynamic>false</dynamic><name>Proxy Port</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Put Response Body In Attribute</key><value><description>If set, the response body received back will be put into an attribute of the original FlowFile instead of a separate FlowFile. The attribute key to put to is determined by evaluating value of this property. </description><displayName>Put Response Body In Attribute</displayName><dynamic>false</dynamic><name>Put Response Body In Attribute</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Length To Put In Attribute</key><value><defaultValue>256</defaultValue><description>If routing the response body to an attribute of the original (by setting the &quot;Put response body in attribute&quot; property or by receiving an error status code), the number of characters put to the attribute value will be at most this amount. This is important because attributes are held in memory and large attributes will quickly cause out of memory issues. If the output goes longer than this value, it will be truncated to fit. Consider making this smaller if able.</description><displayName>Max Length To Put In Attribute</displayName><dynamic>false</dynamic><name>Max Length To Put In Attribute</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Digest Authentication</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Whether to communicate with the website using Digest Authentication. 'Basic Authentication Username' and 'Basic Authentication Password' are used for authentication.</description><displayName>Use Digest Authentication</displayName><dynamic>false</dynamic><name>Digest Authentication</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Always Output Response</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Will force a response FlowFile to be generated and routed to the 'Response' relationship regardless of what the server status code received is or if the processor is configured to put the server response body in the request attribute. In the later configuration a request FlowFile with the response body in the attribute and a typical response FlowFile will be emitted to their respective relationships.</description><displayName>Always Output Response</displayName><dynamic>false</dynamic><name>Always Output Response</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Trusted Hostname</key><value><description>Bypass the normal truststore hostname verifier to allow the specified remote hostname as trusted. Enabling this property has MITM security implications, use wisely. Will still accept other connections based on the normal truststore hostname verifier. Only valid with SSL (HTTPS) connections.</description><displayName>Trusted Hostname</displayName><dynamic>false</dynamic><name>Trusted Hostname</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Add Response Headers to Request</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Enabling this property saves all the response headers to the original request. This may be when the response headers are needed but a response is not generated due to the status code received.</description><displayName>Add Response Headers to Request</displayName><dynamic>false</dynamic><name>Add Response Headers to Request</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Content-Type</key><value><defaultValue>${mime.type}</defaultValue><description>The Content-Type to specify for when content is being transmitted through a PUT or POST. In the case of an empty value after evaluating an expression language expression, Content-Type defaults to application/octet-stream</description><displayName>Content-Type</displayName><dynamic>false</dynamic><name>Content-Type</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Use Chunked Encoding</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>When POST'ing or PUT'ing content set this property to true in order to not pass the 'Content-length' header and instead send 'Transfer-Encoding' with a value of 'chunked'. This will enable the data transfer mechanism which was introduced in HTTP 1.1 to pass data of unknown lengths in chunks.</description><displayName>Use Chunked Encoding</displayName><dynamic>false</dynamic><name>Use Chunked Encoding</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Penalize on &quot;No Retry&quot;</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Enabling this property will penalize FlowFiles that are routed to the &quot;No Retry&quot; relationship.</description><displayName>Penalize on &quot;No Retry&quot;</displayName><dynamic>false</dynamic><name>Penalize on &quot;No Retry&quot;</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>HTTP Method</key><value>GET</value></entry><entry><key>Remote URL</key><value>http://api.randomuser.me?nat=us&amp;results=1000</value></entry><entry><key>SSL Context Service</key></entry><entry><key>Connection Timeout</key><value>5 secs</value></entry><entry><key>Read Timeout</key><value>15 secs</value></entry><entry><key>Include Date Header</key><value>True</value></entry><entry><key>Follow Redirects</key><value>True</value></entry><entry><key>Attributes to Send</key></entry><entry><key>Basic Authentication Username</key></entry><entry><key>Basic Authentication Password</key></entry><entry><key>Proxy Host</key></entry><entry><key>Proxy Port</key></entry><entry><key>Put Response Body In Attribute</key></entry><entry><key>Max Length To Put In Attribute</key><value>256</value></entry><entry><key>Digest Authentication</key><value>false</value></entry><entry><key>Always Output Response</key><value>false</value></entry><entry><key>Trusted Hostname</key></entry><entry><key>Add Response Headers to Request</key><value>false</value></entry><entry><key>Content-Type</key><value>${mime.type}</value></entry><entry><key>Use Chunked Encoding</key><value>false</value></entry><entry><key>Penalize on &quot;No Retry&quot;</key><value>false</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>1 mins</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Fetch User Data</name><relationships><autoTerminate>true</autoTerminate><description>The original FlowFile will be routed on any type of connection failure, timeout or general exception. It will have new attributes detailing the request.</description><name>Failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>The original FlowFile will be routed on any status code that should NOT be retried (1xx, 3xx, 4xx status codes).  It will have new attributes detailing the request.</description><name>No Retry</name></relationships><relationships><autoTerminate>true</autoTerminate><description>The original FlowFile will be routed upon success (2xx status codes). It will have new attributes detailing the success of the request.</description><name>Original</name></relationships><relationships><autoTerminate>false</autoTerminate><description>A Response FlowFile will be routed upon success (2xx status codes). If the 'Output Response Regardless' property is true then the response will be sent to this relationship regardless of the status code received.</description><name>Response</name></relationships><relationships><autoTerminate>true</autoTerminate><description>The original FlowFile will be routed on any status code that can be retried (5xx status codes). It will have new attributes detailing the request.</description><name>Retry</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.InvokeHTTP</type></processors><processors><id>26e16412-bcac-4b8b-a33a-94731c7b3510</id><parentGroupId>8cf89477-3351-488d-bd8e-b4a18dbcf77a</parentGroupId><position><x>646.3367037460112</x><y>474.62539406580777</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>JsonPath Expression</key><value><description>A JsonPath expression that indicates the array element to split into JSON/scalar fragments.</description><displayName>JsonPath Expression</displayName><dynamic>false</dynamic><name>JsonPath Expression</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Null Value Representation</key><value><allowableValues><displayName>the string 'null'</displayName><value>the string 'null'</value></allowableValues><allowableValues><displayName>empty string</displayName><value>empty string</value></allowableValues><defaultValue>empty string</defaultValue><description>Indicates the desired representation of JSON Path expressions resulting in a null value.</description><displayName>Null Value Representation</displayName><dynamic>false</dynamic><name>Null Value Representation</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>JsonPath Expression</key><value>$.results[*]</value></entry><entry><key>Null Value Representation</key><value>empty string</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>SplitJson</name><relationships><autoTerminate>true</autoTerminate><description>If a FlowFile fails processing for any reason (for example, the FlowFile is not valid JSON or the specified path does not exist), it will be routed to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>The original FlowFile that was split into segments. If the FlowFile fails processing, nothing will be sent to this relationship</description><name>original</name></relationships><relationships><autoTerminate>false</autoTerminate><description>All segments of the original FlowFile will be routed to this relationship</description><name>split</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.SplitJson</type></processors><processors><id>d3fa8bd7-d978-47ac-92e5-e25a0358ec31</id><parentGroupId>8cf89477-3351-488d-bd8e-b4a18dbcf77a</parentGroupId><position><x>643.06201171875</x><y>836.3800048828125</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Routing Strategy</key><value><allowableValues><description>A copy of the FlowFile will be routed to each relationship whose corresponding expression evaluates to 'true'</description><displayName>Route to Property name</displayName><value>Route to Property name</value></allowableValues><allowableValues><description>Requires that all user-defined expressions evaluate to 'true' for the FlowFile to be considered a match</description><displayName>Route to 'matched' if all match</displayName><value>Route to 'match' if all match</value></allowableValues><allowableValues><description>Requires that at least one user-defined expression evaluate to 'true' for the FlowFile to be considered a match</description><displayName>Route to 'matched' if any matches</displayName><value>Route to 'match' if any matches</value></allowableValues><defaultValue>Route to Property name</defaultValue><description>Specifies how to determine which relationship to use when evaluating the Expression Language</description><displayName>Routing Strategy</displayName><dynamic>false</dynamic><name>Routing Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>matched</key><value><description></description><displayName>matched</displayName><dynamic>true</dynamic><name>matched</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Routing Strategy</key><value>Route to Property name</value></entry><entry><key>matched</key><value>${ssn:isEmpty():not()}</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>RouteOnAttribute</name><relationships><autoTerminate>false</autoTerminate><description></description><name>matched</name></relationships><relationships><autoTerminate>true</autoTerminate><description>FlowFiles that do not match any user-define expression will be routed here</description><name>unmatched</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.RouteOnAttribute</type></processors><processors><id>b6b2d5b6-52b3-411f-8867-452f82c9deac</id><parentGroupId>8cf89477-3351-488d-bd8e-b4a18dbcf77a</parentGroupId><position><x>647.4971290617495</x><y>1198.9918642996647</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>HBase Client Service</key><value><allowableValues><displayName>HBase_1_1_2_ClientService</displayName><value>51d6230c-eb82-42cc-9933-b0ce06389a70</value></allowableValues><description>Specifies the Controller Service to use for accessing HBase.</description><displayName>HBase Client Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.hbase.HBaseClientService</identifiesControllerService><name>HBase Client Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Table Name</key><value><description>The name of the HBase Table to put data into</description><displayName>Table Name</displayName><dynamic>false</dynamic><name>Table Name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Row Identifier</key><value><description>Specifies the Row ID to use when inserting data into HBase</description><displayName>Row Identifier</displayName><dynamic>false</dynamic><name>Row Identifier</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Row Identifier Field Name</key><value><description>Specifies the name of a JSON element whose value should be used as the row id for the given JSON document.</description><displayName>Row Identifier Field Name</displayName><dynamic>false</dynamic><name>Row Identifier Field Name</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Column Family</key><value><description>The Column Family to use when inserting data into HBase</description><displayName>Column Family</displayName><dynamic>false</dynamic><name>Column Family</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Batch Size</key><value><defaultValue>25</defaultValue><description>The maximum number of FlowFiles to process in a single execution. The FlowFiles will be grouped by table, and a single Put per table will be performed.</description><displayName>Batch Size</displayName><dynamic>false</dynamic><name>Batch Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Complex Field Strategy</key><value><allowableValues><description>Route entire FlowFile to failure if any elements contain complex values.</description><displayName>Fail</displayName><value>Fail</value></allowableValues><allowableValues><description>Provide a warning and do not include field in row sent to HBase.</description><displayName>Warn</displayName><value>Warn</value></allowableValues><allowableValues><description>Silently ignore and do not include in row sent to HBase.</description><displayName>Ignore</displayName><value>Ignore</value></allowableValues><allowableValues><description>Use the string representation of the complex field as the value of the given column.</description><displayName>Text</displayName><value>Text</value></allowableValues><defaultValue>Text</defaultValue><description>Indicates how to handle complex fields, i.e. fields that do not have a single text value.</description><displayName>Complex Field Strategy</displayName><dynamic>false</dynamic><name>Complex Field Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>HBase Client Service</key><value>51d6230c-eb82-42cc-9933-b0ce06389a70</value></entry><entry><key>Table Name</key><value>Users</value></entry><entry><key>Row Identifier</key></entry><entry><key>Row Identifier Field Name</key><value>ssn</value></entry><entry><key>Column Family</key><value>cf</value></entry><entry><key>Batch Size</key><value>25</value></entry><entry><key>Complex Field Strategy</key><value>Text</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>PutHBaseJSON</name><relationships><autoTerminate>false</autoTerminate><description>A FlowFile is routed to this relationship if it cannot be sent to HBase</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>A FlowFile is routed to this relationship after it has been successfully stored in HBase</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.hbase.PutHBaseJSON</type></processors></snippet><timestamp>05/06/2016 13:31:24 UTC</timestamp></template>