templates/List_and_Fetch_SFTP_template.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><template><description></description><name>List and Fetch SFTP template</name><snippet><connections><id>ace0b3af-c5a8-48a4-989d-91d2633982f2</id><parentGroupId>53e5b839-9156-451c-b9ac-7cfee1ae5b8b</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>53e5b839-9156-451c-b9ac-7cfee1ae5b8b</groupId><id>6e71c6a8-9895-48a1-bd0a-2c3a3d87baf8</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>filetofetch</selectedRelationships><source><groupId>53e5b839-9156-451c-b9ac-7cfee1ae5b8b</groupId><id>b18f695f-2f36-4827-a8c1-13ac4603ff53</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>289d0fed-dad8-4928-9a2a-e104a080edb4</id><parentGroupId>53e5b839-9156-451c-b9ac-7cfee1ae5b8b</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>53e5b839-9156-451c-b9ac-7cfee1ae5b8b</groupId><id>1cbcc6f4-47d8-4408-9c54-9858c152ac75</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>53e5b839-9156-451c-b9ac-7cfee1ae5b8b</groupId><id>d00ef2e2-5626-4d72-be55-00c0d0409796</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>208cb81d-1c9f-4853-9036-a8023ab9fead</id><parentGroupId>53e5b839-9156-451c-b9ac-7cfee1ae5b8b</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><bends><x>2575.454003781719</x><y>1543.9475465325766</y></bends><bends><x>2575.454003781719</x><y>1593.9475465325766</y></bends><destination><groupId>53e5b839-9156-451c-b9ac-7cfee1ae5b8b</groupId><id>6e71c6a8-9895-48a1-bd0a-2c3a3d87baf8</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>0</labelIndex><name></name><selectedRelationships>comms.failure</selectedRelationships><source><groupId>53e5b839-9156-451c-b9ac-7cfee1ae5b8b</groupId><id>6e71c6a8-9895-48a1-bd0a-2c3a3d87baf8</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>e6e95127-c764-4e4f-bb4d-c33491cdc867</id><parentGroupId>53e5b839-9156-451c-b9ac-7cfee1ae5b8b</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><bends><x>2205.222900390625</x><y>1441.994384765625</y></bends><destination><groupId>53e5b839-9156-451c-b9ac-7cfee1ae5b8b</groupId><id>e0dd9dbb-5e19-457d-8914-aa02b1c8f6a9</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>0</labelIndex><name></name><selectedRelationships>permission.denied</selectedRelationships><source><groupId>53e5b839-9156-451c-b9ac-7cfee1ae5b8b</groupId><id>6e71c6a8-9895-48a1-bd0a-2c3a3d87baf8</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>b95e5e90-e4c3-46f8-ba7f-258dc6c2bf43</id><parentGroupId>53e5b839-9156-451c-b9ac-7cfee1ae5b8b</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><bends><x>2407.90185546875</x><y>1440.986083984375</y></bends><destination><groupId>53e5b839-9156-451c-b9ac-7cfee1ae5b8b</groupId><id>e0dd9dbb-5e19-457d-8914-aa02b1c8f6a9</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>0</labelIndex><name></name><selectedRelationships>not.found</selectedRelationships><source><groupId>53e5b839-9156-451c-b9ac-7cfee1ae5b8b</groupId><id>6e71c6a8-9895-48a1-bd0a-2c3a3d87baf8</id><type>PROCESSOR</type></source><zIndex>1</zIndex></connections><connections><id>9b3242c8-7c64-4c7e-907d-17b2cf8762e2</id><parentGroupId>53e5b839-9156-451c-b9ac-7cfee1ae5b8b</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>53e5b839-9156-451c-b9ac-7cfee1ae5b8b</groupId><id>b18f695f-2f36-4827-a8c1-13ac4603ff53</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>53e5b839-9156-451c-b9ac-7cfee1ae5b8b</groupId><id>d7550d8d-e12b-4976-a7a1-1aefb43611bf</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>5ca458e5-c0de-4353-b695-bdada0b0814d</id><parentGroupId>53e5b839-9156-451c-b9ac-7cfee1ae5b8b</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>53e5b839-9156-451c-b9ac-7cfee1ae5b8b</groupId><id>d00ef2e2-5626-4d72-be55-00c0d0409796</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>53e5b839-9156-451c-b9ac-7cfee1ae5b8b</groupId><id>6e71c6a8-9895-48a1-bd0a-2c3a3d87baf8</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><labels><id>37adf413-d5aa-457d-930e-b9f6f583fff0</id><parentGroupId>53e5b839-9156-451c-b9ac-7cfee1ae5b8b</parentGroupId><position><x>1515.2671856736804</x><y>1138.2402088954573</y></position><height>787.2210693359375</height><label>Template for the ListSFTP and FetchSFTP processors.</label><style><entry><key>font-size</key><value>20px</value></entry></style><width>1184.786865234375</width></labels><processors><id>6e71c6a8-9895-48a1-bd0a-2c3a3d87baf8</id><parentGroupId>53e5b839-9156-451c-b9ac-7cfee1ae5b8b</parentGroupId><position><x>2166.454003781719</x><y>1518.9475465325766</y></position><config><bulletinLevel>DEBUG</bulletinLevel><comments>This will pull the files specified by the RouteOnAttribute processor.
The relationships permission.denied is routed to another processor so the user can get the issues fixed and fetch the file at a later date.
The relationship  not.found is also routed to another processor so the user is able to understand why an expected file isn't fetched.</comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Hostname</key><value><description>The fully-qualified hostname or IP address of the host to fetch the data from</description><displayName>Hostname</displayName><dynamic>false</dynamic><name>Hostname</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Port</key><value><defaultValue>22</defaultValue><description>The port to connect to on the remote host to fetch the data from</description><displayName>Port</displayName><dynamic>false</dynamic><name>Port</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Username</key><value><description>Username</description><displayName>Username</displayName><dynamic>false</dynamic><name>Username</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Password</key><value><description>Password for the user account</description><displayName>Password</displayName><dynamic>false</dynamic><name>Password</name><required>false</required><sensitive>true</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Private Key Path</key><value><description>The fully qualified path to the Private Key file</description><displayName>Private Key Path</displayName><dynamic>false</dynamic><name>Private Key Path</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Private Key Passphrase</key><value><description>Password for the private key</description><displayName>Private Key Passphrase</displayName><dynamic>false</dynamic><name>Private Key Passphrase</name><required>false</required><sensitive>true</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Remote File</key><value><description>The fully qualified filename on the remote system</description><displayName>Remote File</displayName><dynamic>false</dynamic><name>Remote File</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Completion Strategy</key><value><allowableValues><description>Leave the file as-is</description><displayName>None</displayName><value>None</value></allowableValues><allowableValues><description>Move the file to the directory specified by the &lt;Move Destination Directory&gt; property</description><displayName>Move File</displayName><value>Move File</value></allowableValues><allowableValues><description>Deletes the original file from the remote system</description><displayName>Delete File</displayName><value>Delete File</value></allowableValues><defaultValue>None</defaultValue><description>Specifies what to do with the original file on the server once it has been pulled into NiFi. If the Completion Strategy fails, a warning will be logged but the data will still be transferred.</description><displayName>Completion Strategy</displayName><dynamic>false</dynamic><name>Completion Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Move Destination Directory</key><value><description>The directory on the remote server to the move the original file to once it has been ingested into NiFi. This property is ignored unless the Completion Strategy is set to &quot;Move File&quot;. The specified directory must already exist onthe remote system, or the rename will fail.</description><displayName>Move Destination Directory</displayName><dynamic>false</dynamic><name>Move Destination Directory</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Connection Timeout</key><value><defaultValue>30 sec</defaultValue><description>Amount of time to wait before timing out while creating a connection</description><displayName>Connection Timeout</displayName><dynamic>false</dynamic><name>Connection Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Data Timeout</key><value><defaultValue>30 sec</defaultValue><description>When transferring a file between the local and remote system, this value specifies how long is allowed to elapse without any data being transferred between systems</description><displayName>Data Timeout</displayName><dynamic>false</dynamic><name>Data Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Send Keep Alive On Timeout</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Indicates whether or not to send a single Keep Alive message when SSH socket times out</description><displayName>Send Keep Alive On Timeout</displayName><dynamic>false</dynamic><name>Send Keep Alive On Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Host Key File</key><value><description>If supplied, the given file will be used as the Host Key; otherwise, no use host key file will be used</description><displayName>Host Key File</displayName><dynamic>false</dynamic><name>Host Key File</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Strict Host Key Checking</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates whether or not strict enforcement of hosts keys should be applied</description><displayName>Strict Host Key Checking</displayName><dynamic>false</dynamic><name>Strict Host Key Checking</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Use Compression</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates whether or not ZLIB compression should be used when transferring files</description><displayName>Use Compression</displayName><dynamic>false</dynamic><name>Use Compression</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Hostname</key><value>nifi-vm1-large</value></entry><entry><key>Port</key><value>22</value></entry><entry><key>Username</key><value>dwynne</value></entry><entry><key>Password</key></entry><entry><key>Private Key Path</key><value>/Users/dwynne/.ssh/id_rsa</value></entry><entry><key>Private Key Passphrase</key></entry><entry><key>Remote File</key><value>${path}/${filename}</value></entry><entry><key>Completion Strategy</key><value>None</value></entry><entry><key>Move Destination Directory</key></entry><entry><key>Connection Timeout</key><value>30 sec</value></entry><entry><key>Data Timeout</key><value>30 sec</value></entry><entry><key>Send Keep Alive On Timeout</key><value>true</value></entry><entry><key>Host Key File</key></entry><entry><key>Strict Host Key Checking</key><value>false</value></entry><entry><key>Use Compression</key><value>false</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>1 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>FetchSFTP</name><relationships><autoTerminate>false</autoTerminate><description>Any FlowFile that could not be fetched from the remote server due to a communications failure will be transferred to this Relationship.</description><name>comms.failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>Any FlowFile for which we receive a 'Not Found' message from the remote server will be transferred to this Relationship.</description><name>not.found</name></relationships><relationships><autoTerminate>false</autoTerminate><description>Any FlowFile that could not be fetched from the remote server due to insufficient permissions will be transferred to this Relationship.</description><name>permission.denied</name></relationships><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles that are received are routed to success</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.FetchSFTP</type></processors><processors><id>1cbcc6f4-47d8-4408-9c54-9858c152ac75</id><parentGroupId>53e5b839-9156-451c-b9ac-7cfee1ae5b8b</parentGroupId><position><x>1548.0412836037667</x><y>1803.2569860743433</y></position><config><bulletinLevel>INFO</bulletinLevel><comments>This example has the daily nifi-app log files being written to directories base on year/month directory structure under some root-level directory.</comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Hostname</key><value><description>The fully qualified hostname or IP address of the remote system</description><displayName>Hostname</displayName><dynamic>false</dynamic><name>Hostname</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Port</key><value><defaultValue>22</defaultValue><description>The port that the remote system is listening on for file transfers</description><displayName>Port</displayName><dynamic>false</dynamic><name>Port</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Username</key><value><description>Username</description><displayName>Username</displayName><dynamic>false</dynamic><name>Username</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Password</key><value><description>Password for the user account</description><displayName>Password</displayName><dynamic>false</dynamic><name>Password</name><required>false</required><sensitive>true</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Private Key Path</key><value><description>The fully qualified path to the Private Key file</description><displayName>Private Key Path</displayName><dynamic>false</dynamic><name>Private Key Path</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Private Key Passphrase</key><value><description>Password for the private key</description><displayName>Private Key Passphrase</displayName><dynamic>false</dynamic><name>Private Key Passphrase</name><required>false</required><sensitive>true</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Remote Path</key><value><description>The path on the remote system from which to pull or push files</description><displayName>Remote Path</displayName><dynamic>false</dynamic><name>Remote Path</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Create Directory</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Specifies whether or not the remote directory should be created if it does not exist.</description><displayName>Create Directory</displayName><dynamic>false</dynamic><name>Create Directory</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Batch Size</key><value><defaultValue>500</defaultValue><description>The maximum number of FlowFiles to send in a single connection</description><displayName>Batch Size</displayName><dynamic>false</dynamic><name>Batch Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Connection Timeout</key><value><defaultValue>30 sec</defaultValue><description>Amount of time to wait before timing out while creating a connection</description><displayName>Connection Timeout</displayName><dynamic>false</dynamic><name>Connection Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Data Timeout</key><value><defaultValue>30 sec</defaultValue><description>When transferring a file between the local and remote system, this value specifies how long is allowed to elapse without any data being transferred between systems</description><displayName>Data Timeout</displayName><dynamic>false</dynamic><name>Data Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Conflict Resolution</key><value><allowableValues><displayName>REPLACE</displayName><value>REPLACE</value></allowableValues><allowableValues><displayName>IGNORE</displayName><value>IGNORE</value></allowableValues><allowableValues><displayName>RENAME</displayName><value>RENAME</value></allowableValues><allowableValues><displayName>REJECT</displayName><value>REJECT</value></allowableValues><allowableValues><displayName>FAIL</displayName><value>FAIL</value></allowableValues><allowableValues><displayName>NONE</displayName><value>NONE</value></allowableValues><defaultValue>NONE</defaultValue><description>Determines how to handle the problem of filename collisions</description><displayName>Conflict Resolution</displayName><dynamic>false</dynamic><name>Conflict Resolution</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Reject Zero-Byte Files</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Determines whether or not Zero-byte files should be rejected without attempting to transfer</description><displayName>Reject Zero-Byte Files</displayName><dynamic>false</dynamic><name>Reject Zero-Byte Files</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Dot Rename</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>If true, then the filename of the sent file is prepended with a &quot;.&quot; and then renamed back to the original once the file is completely sent. Otherwise, there is no rename. This property is ignored if the Temporary Filename property is set.</description><displayName>Dot Rename</displayName><dynamic>false</dynamic><name>Dot Rename</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Temporary Filename</key><value><description>If set, the filename of the sent file will be equal to the value specified during the transfer and after successful completion will be renamed to the original filename. If this value is set, the Dot Rename property is ignored.</description><displayName>Temporary Filename</displayName><dynamic>false</dynamic><name>Temporary Filename</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Host Key File</key><value><description>If supplied, the given file will be used as the Host Key; otherwise, no use host key file will be used</description><displayName>Host Key File</displayName><dynamic>false</dynamic><name>Host Key File</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Last Modified Time</key><value><description>The lastModifiedTime to assign to the file after transferring it. If not set, the lastModifiedTime will not be changed. Format must be yyyy-MM-dd'T'HH:mm:ssZ. You may also use expression language such as ${file.lastModifiedTime}. If the value is invalid, the processor will not be invalid but will fail to change lastModifiedTime of the file.</description><displayName>Last Modified Time</displayName><dynamic>false</dynamic><name>Last Modified Time</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Permissions</key><value><description>The permissions to assign to the file after transferring it. Format must be either UNIX rwxrwxrwx with a - in place of denied permissions (e.g. rw-r--r--) or an octal number (e.g. 644). If not set, the permissions will not be changed. You may also use expression language such as ${file.permissions}. If the value is invalid, the processor will not be invalid but will fail to change permissions of the file.</description><displayName>Permissions</displayName><dynamic>false</dynamic><name>Permissions</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Remote Owner</key><value><description>Integer value representing the User ID to set on the file after transferring it. If not set, the owner will not be set. You may also use expression language such as ${file.owner}. If the value is invalid, the processor will not be invalid but will fail to change the owner of the file.</description><displayName>Remote Owner</displayName><dynamic>false</dynamic><name>Remote Owner</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Remote Group</key><value><description>Integer value representing the Group ID to set on the file after transferring it. If not set, the group will not be set. You may also use expression language such as ${file.group}. If the value is invalid, the processor will not be invalid but will fail to change the group of the file.</description><displayName>Remote Group</displayName><dynamic>false</dynamic><name>Remote Group</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Strict Host Key Checking</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates whether or not strict enforcement of hosts keys should be applied</description><displayName>Strict Host Key Checking</displayName><dynamic>false</dynamic><name>Strict Host Key Checking</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Send Keep Alive On Timeout</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Indicates whether or not to send a single Keep Alive message when SSH socket times out</description><displayName>Send Keep Alive On Timeout</displayName><dynamic>false</dynamic><name>Send Keep Alive On Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Use Compression</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates whether or not ZLIB compression should be used when transferring files</description><displayName>Use Compression</displayName><dynamic>false</dynamic><name>Use Compression</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Hostname</key><value>centralized.server.for.logs</value></entry><entry><key>Port</key></entry><entry><key>Username</key><value>username</value></entry><entry><key>Password</key></entry><entry><key>Private Key Path</key></entry><entry><key>Private Key Passphrase</key></entry><entry><key>Remote Path</key><value>/root-level-directory/${sftp.remote.host}/${month}/${day}/${filename}</value></entry><entry><key>Create Directory</key><value>true</value></entry><entry><key>Batch Size</key></entry><entry><key>Connection Timeout</key></entry><entry><key>Data Timeout</key></entry><entry><key>Conflict Resolution</key></entry><entry><key>Reject Zero-Byte Files</key></entry><entry><key>Dot Rename</key></entry><entry><key>Temporary Filename</key></entry><entry><key>Host Key File</key></entry><entry><key>Last Modified Time</key></entry><entry><key>Permissions</key></entry><entry><key>Remote Owner</key></entry><entry><key>Remote Group</key></entry><entry><key>Strict Host Key Checking</key></entry><entry><key>Send Keep Alive On Timeout</key></entry><entry><key>Use Compression</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>10 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Push log file to centralized log server</name><relationships><autoTerminate>true</autoTerminate><description>FlowFiles that failed to send to the remote system; failure is usually looped back to this processor</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>FlowFiles that were rejected by the destination system</description><name>reject</name></relationships><relationships><autoTerminate>true</autoTerminate><description>FlowFiles that are successfully sent will be routed to success</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.PutSFTP</type></processors><processors><id>d7550d8d-e12b-4976-a7a1-1aefb43611bf</id><parentGroupId>53e5b839-9156-451c-b9ac-7cfee1ae5b8b</parentGroupId><position><x>1553.9762757344688</x><y>1304.11375126032</y></position><config><bulletinLevel>INFO</bulletinLevel><comments>The processor is getting a list of files in the /nifi-logs directory everyday at 1215</comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Hostname</key><value><description>The fully qualified hostname or IP address of the remote system</description><displayName>Hostname</displayName><dynamic>false</dynamic><name>Hostname</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Port</key><value><defaultValue>22</defaultValue><description>The port to connect to on the remote host to fetch the data from</description><displayName>Port</displayName><dynamic>false</dynamic><name>Port</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Username</key><value><description>Username</description><displayName>Username</displayName><dynamic>false</dynamic><name>Username</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Password</key><value><description>Password for the user account</description><displayName>Password</displayName><dynamic>false</dynamic><name>Password</name><required>false</required><sensitive>true</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Private Key Path</key><value><description>The fully qualified path to the Private Key file</description><displayName>Private Key Path</displayName><dynamic>false</dynamic><name>Private Key Path</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Private Key Passphrase</key><value><description>Password for the private key</description><displayName>Private Key Passphrase</displayName><dynamic>false</dynamic><name>Private Key Passphrase</name><required>false</required><sensitive>true</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Remote Path</key><value><defaultValue>.</defaultValue><description>The path on the remote system from which to pull or push files</description><displayName>Remote Path</displayName><dynamic>false</dynamic><name>Remote Path</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Distributed Cache Service</key><value><description>Specifies the Controller Service that should be used to maintain state about what has been pulled from the remote server so that if a new node begins pulling data, it won't duplicate all of the work that has been done. If not specified, the information will not be shared across the cluster. This property does not need to be set for standalone instances of NiFi but should be configured if NiFi is run within a cluster.</description><displayName>Distributed Cache Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService><name>Distributed Cache Service</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Search Recursively</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If true, will pull files from arbitrarily nested subdirectories; otherwise, will not traverse subdirectories</description><displayName>Search Recursively</displayName><dynamic>false</dynamic><name>Search Recursively</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>File Filter Regex</key><value><description>Provides a Java Regular Expression for filtering Filenames; if a filter is supplied, only files whose names match that Regular Expression will be fetched</description><displayName>File Filter Regex</displayName><dynamic>false</dynamic><name>File Filter Regex</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Path Filter Regex</key><value><description>When Search Recursively is true, then only subdirectories whose path matches the given Regular Expression will be scanned</description><displayName>Path Filter Regex</displayName><dynamic>false</dynamic><name>Path Filter Regex</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Ignore Dotted Files</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>If true, files whose names begin with a dot (&quot;.&quot;) will be ignored</description><displayName>Ignore Dotted Files</displayName><dynamic>false</dynamic><name>Ignore Dotted Files</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Strict Host Key Checking</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates whether or not strict enforcement of hosts keys should be applied</description><displayName>Strict Host Key Checking</displayName><dynamic>false</dynamic><name>Strict Host Key Checking</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Host Key File</key><value><description>If supplied, the given file will be used as the Host Key; otherwise, no use host key file will be used</description><displayName>Host Key File</displayName><dynamic>false</dynamic><name>Host Key File</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Connection Timeout</key><value><defaultValue>30 sec</defaultValue><description>Amount of time to wait before timing out while creating a connection</description><displayName>Connection Timeout</displayName><dynamic>false</dynamic><name>Connection Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Data Timeout</key><value><defaultValue>30 sec</defaultValue><description>When transferring a file between the local and remote system, this value specifies how long is allowed to elapse without any data being transferred between systems</description><displayName>Data Timeout</displayName><dynamic>false</dynamic><name>Data Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Send Keep Alive On Timeout</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Indicates whether or not to send a single Keep Alive message when SSH socket times out</description><displayName>Send Keep Alive On Timeout</displayName><dynamic>false</dynamic><name>Send Keep Alive On Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Hostname</key><value>nifi-vm1-large</value></entry><entry><key>Port</key><value>22</value></entry><entry><key>Username</key><value>dwynne</value></entry><entry><key>Password</key></entry><entry><key>Private Key Path</key><value>/Users/dwynne/.ssh/id_rsa</value></entry><entry><key>Private Key Passphrase</key></entry><entry><key>Remote Path</key><value>/nifi-logs/</value></entry><entry><key>Distributed Cache Service</key></entry><entry><key>Search Recursively</key><value>false</value></entry><entry><key>File Filter Regex</key></entry><entry><key>Path Filter Regex</key></entry><entry><key>Ignore Dotted Files</key><value>true</value></entry><entry><key>Strict Host Key Checking</key><value>false</value></entry><entry><key>Host Key File</key></entry><entry><key>Connection Timeout</key><value>30 sec</value></entry><entry><key>Data Timeout</key><value>30 sec</value></entry><entry><key>Send Keep Alive On Timeout</key><value>true</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 15 00 * * ?</schedulingPeriod><schedulingStrategy>CRON_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>get daily list of files in /nifi-logs</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles that are received are routed to success</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>false</supportsParallelProcessing><type>org.apache.nifi.processors.standard.ListSFTP</type></processors><processors><id>b18f695f-2f36-4827-a8c1-13ac4603ff53</id><parentGroupId>53e5b839-9156-451c-b9ac-7cfee1ae5b8b</parentGroupId><position><x>1557.1716408491802</x><y>1473.0501270865268</y></position><config><bulletinLevel>INFO</bulletinLevel><comments>We're using the RouteOnAttribute to select only the nifi-app  log files for each day
All other files in the directory are being ignored for this example.</comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Routing Strategy</key><value><allowableValues><description>A copy of the FlowFile will be routed to each relationship whose corresponding expression evaluates to 'true'</description><displayName>Route to Property name</displayName><value>Route to Property name</value></allowableValues><allowableValues><description>Requires that all user-defined expressions evaluate to 'true' for the FlowFile to be considered a match</description><displayName>Route to 'matched' if all match</displayName><value>Route to 'match' if all match</value></allowableValues><allowableValues><description>Requires that at least one user-defined expression evaluate to 'true' for hte FlowFile to be considered a match</description><displayName>Route to 'matched' if any matches</displayName><value>Route to 'match' if any matches</value></allowableValues><defaultValue>Route to Property name</defaultValue><description>Specifies how to determine which relationship to use when evaluating the Expression Language</description><displayName>Routing Strategy</displayName><dynamic>false</dynamic><name>Routing Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>filetofetch</key><value><description></description><displayName>filetofetch</displayName><dynamic>true</dynamic><name>filetofetch</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Routing Strategy</key></entry><entry><key>filetofetch</key><value>${filename:contains('nifi-app_')}</value></entry></properties><runDurationMillis>25</runDurationMillis><schedulingPeriod>1 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>select file to fetch</name><relationships><autoTerminate>false</autoTerminate><description></description><name>filetofetch</name></relationships><relationships><autoTerminate>true</autoTerminate><description>FlowFiles that do not match any user-define expression will be routed here</description><name>unmatched</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.RouteOnAttribute</type></processors><processors><id>d00ef2e2-5626-4d72-be55-00c0d0409796</id><parentGroupId>53e5b839-9156-451c-b9ac-7cfee1ae5b8b</parentGroupId><position><x>1546.8927291481264</x><y>1614.9137599604064</y></position><config><annotationData>&lt;criteria&gt;
    &lt;flowFilePolicy&gt;USE_CLONE&lt;/flowFilePolicy&gt;
    &lt;rules&gt;
        &lt;actions&gt;
            &lt;attribute&gt;year&lt;/attribute&gt;
            &lt;id&gt;063d088f-d17f-48f5-84a7-64b506b30f77&lt;/id&gt;
            &lt;value&gt;${filename:substring(20,24)}&lt;/value&gt;
        &lt;/actions&gt;
        &lt;actions&gt;
            &lt;attribute&gt;filename&lt;/attribute&gt;
            &lt;id&gt;597bc51f-9079-4492-893a-72299333c7dc&lt;/id&gt;
            &lt;value&gt;${filename:substring(11)}&lt;/value&gt;
        &lt;/actions&gt;
        &lt;actions&gt;
            &lt;attribute&gt;month&lt;/attribute&gt;
            &lt;id&gt;12f52d19-7280-4dd6-be65-1b58148c9ff3&lt;/id&gt;
            &lt;value&gt;${filename:substring(25,27)}&lt;/value&gt;
        &lt;/actions&gt;
        &lt;conditions&gt;
            &lt;expression&gt;${filename:contains('nifi-app_')}&lt;/expression&gt;
            &lt;id&gt;52e75809-df1d-4be9-b947-46d1586dc3e3&lt;/id&gt;
        &lt;/conditions&gt;
        &lt;id&gt;6bcd64dd-6c18-4b6f-b763-f4d43a05ac69&lt;/id&gt;
        &lt;name&gt;get date of file creation&lt;/name&gt;
    &lt;/rules&gt;
&lt;/criteria&gt;</annotationData><bulletinLevel>WARN</bulletinLevel><comments>This processor uses the file name to make sure the files are put into the correct directories, based on month and year of creation. To cover that case when the first time the ListSFTP processor creates a list it will have more than the current days files.</comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Delete Attributes Expression</key><value><description>Regular expression for attributes to be deleted from flowfiles.</description><displayName>Delete Attributes Expression</displayName><dynamic>false</dynamic><name>Delete Attributes Expression</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Delete Attributes Expression</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>1 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>UpdateAttribute</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.attributes.UpdateAttribute</type></processors><processors><id>e0dd9dbb-5e19-457d-8914-aa02b1c8f6a9</id><parentGroupId>53e5b839-9156-451c-b9ac-7cfee1ae5b8b</parentGroupId><position><x>2143.844831074102</x><y>1263.6919627070035</y></position><config><bulletinLevel>INFO</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Log Level</key><value><allowableValues><displayName>trace</displayName><value>trace</value></allowableValues><allowableValues><displayName>debug</displayName><value>debug</value></allowableValues><allowableValues><displayName>info</displayName><value>info</value></allowableValues><allowableValues><displayName>warn</displayName><value>warn</value></allowableValues><allowableValues><displayName>error</displayName><value>error</value></allowableValues><defaultValue>info</defaultValue><description>The Log Level to use when logging the Attributes</description><displayName>Log Level</displayName><dynamic>false</dynamic><name>Log Level</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Log Payload</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If true, the FlowFile's payload will be logged, in addition to its attributes; otherwise, just the Attributes will be logged.</description><displayName>Log Payload</displayName><dynamic>false</dynamic><name>Log Payload</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Attributes to Log</key><value><description>A comma-separated list of Attributes to Log. If not specified, all attributes will be logged.</description><displayName>Attributes to Log</displayName><dynamic>false</dynamic><name>Attributes to Log</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Attributes to Ignore</key><value><description>A comma-separated list of Attributes to ignore. If not specified, no attributes will be ignored.</description><displayName>Attributes to Ignore</displayName><dynamic>false</dynamic><name>Attributes to Ignore</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Log prefix</key><value><description>Log prefix appended to the log lines. It helps to distinguish the output of multiple LogAttribute processors.</description><displayName>Log prefix</displayName><dynamic>false</dynamic><name>Log prefix</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Log Level</key><value>info</value></entry><entry><key>Log Payload</key><value>false</value></entry><entry><key>Attributes to Log</key></entry><entry><key>Attributes to Ignore</key></entry><entry><key>Log prefix</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>1 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>LogAttribute</name><relationships><autoTerminate>true</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.LogAttribute</type></processors></snippet><timestamp>12/07/2015 12:14:27 EST</timestamp></template>