templates/PostHTTP_Content-Type.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><template><description>Sample flow to specify a PostHTTP Content-Type by updating the mime.type on a FlowFile.  These flowfile requests are received by a HandleHttpResponse and a logging of the associated attributes is performed to view how an endpoint would receive the specified headers and content.</description><name>PostHTTP Content-Type</name><snippet><connections><id>ffe1328b-9434-40a4-8860-0115e6bd334e</id><parentGroupId>fa08eb86-1e2f-4879-b0e8-96ad9add8cee</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>fa08eb86-1e2f-4879-b0e8-96ad9add8cee</groupId><id>e4dc56aa-095b-4173-8025-4b76aa78db83</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>fa08eb86-1e2f-4879-b0e8-96ad9add8cee</groupId><id>36dbc727-cf03-421a-92c0-dbb39f4c5897</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>00ce5140-e62e-42ae-a924-f10c3d42d2a8</id><parentGroupId>fa08eb86-1e2f-4879-b0e8-96ad9add8cee</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><bends><x>315.2594810485839</x><y>649.8839752197266</y></bends><bends><x>315.2594810485839</x><y>699.8839752197266</y></bends><destination><groupId>fa08eb86-1e2f-4879-b0e8-96ad9add8cee</groupId><id>e4dc56aa-095b-4173-8025-4b76aa78db83</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>failure</selectedRelationships><source><groupId>fa08eb86-1e2f-4879-b0e8-96ad9add8cee</groupId><id>e4dc56aa-095b-4173-8025-4b76aa78db83</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>2e1a6bd5-37cd-40b3-b1e1-b75c6c71d68d</id><parentGroupId>fa08eb86-1e2f-4879-b0e8-96ad9add8cee</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>fa08eb86-1e2f-4879-b0e8-96ad9add8cee</groupId><id>d54f9103-0c06-4d79-b706-ac51297727ae</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>fa08eb86-1e2f-4879-b0e8-96ad9add8cee</groupId><id>d30d4388-7df3-4b0d-805f-78882c6a1f4c</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>eecabb05-8012-4f94-8c9a-2fdd88964cf8</id><parentGroupId>fa08eb86-1e2f-4879-b0e8-96ad9add8cee</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>fa08eb86-1e2f-4879-b0e8-96ad9add8cee</groupId><id>4e95df92-d2bd-4421-bb46-573468419862</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>fa08eb86-1e2f-4879-b0e8-96ad9add8cee</groupId><id>817ef562-3f1b-4a14-bbdd-d1a17bd27b94</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>9c8154af-894f-4f9c-b8fb-a8a4efd63b03</id><parentGroupId>fa08eb86-1e2f-4879-b0e8-96ad9add8cee</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>fa08eb86-1e2f-4879-b0e8-96ad9add8cee</groupId><id>36dbc727-cf03-421a-92c0-dbb39f4c5897</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>fa08eb86-1e2f-4879-b0e8-96ad9add8cee</groupId><id>4e95df92-d2bd-4421-bb46-573468419862</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>e428a3e5-5ffc-4d60-8f25-f36bc4296d7a</id><parentGroupId>fa08eb86-1e2f-4879-b0e8-96ad9add8cee</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>fa08eb86-1e2f-4879-b0e8-96ad9add8cee</groupId><id>d30d4388-7df3-4b0d-805f-78882c6a1f4c</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>fa08eb86-1e2f-4879-b0e8-96ad9add8cee</groupId><id>1de5d235-57dc-4a13-b2cd-9a85f8dbd422</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><controllerServices><id>719b4222-6e8c-4170-8e19-83b660b9f8ab</id><comments></comments><descriptors><entry><key>Maximum Outstanding Requests</key><value><defaultValue>5000</defaultValue><description>The maximum number of HTTP requests that can be outstanding at any one time. Any attempt to register an additional HTTP Request will cause an error</description><displayName>Maximum Outstanding Requests</displayName><dynamic>false</dynamic><name>Maximum Outstanding Requests</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Request Expiration</key><value><defaultValue>1 min</defaultValue><description>Specifies how long an HTTP Request should be left unanswered before being evicted from the cache and being responded to with a Service Unavailable status code</description><displayName>Request Expiration</displayName><dynamic>false</dynamic><name>Request Expiration</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><name>StandardHttpContextMap</name><properties><entry><key>Maximum Outstanding Requests</key></entry><entry><key>Request Expiration</key></entry></properties><referencingComponents><activeThreadCount>1</activeThreadCount><descriptors><entry><key>Listening Port</key><value><defaultValue>80</defaultValue><description>The Port to listen on for incoming HTTP requests</description><displayName>Listening Port</displayName><dynamic>false</dynamic><name>Listening Port</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Hostname</key><value><description>The Hostname to bind to. If not specified, will bind to all hosts</description><displayName>Hostname</displayName><dynamic>false</dynamic><name>Hostname</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SSL Context Service</key><value><description>The SSL Context Service to use in order to secure the server. If specified, the server will accept only HTTPS requests; otherwise, the server will accept only HTTP requests</description><displayName>SSL Context Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService><name>SSL Context Service</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>HTTP Context Map</key><value><allowableValues><displayName>StandardHttpContextMap</displayName><value>719b4222-6e8c-4170-8e19-83b660b9f8ab</value></allowableValues><description>The HTTP Context Map Controller Service to use for caching the HTTP Request Information</description><displayName>HTTP Context Map</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.http.HttpContextMap</identifiesControllerService><name>HTTP Context Map</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allowed Paths</key><value><description>A Regular Expression that specifies the valid HTTP Paths that are allowed in the incoming URL Requests. If this value is specified and the path of the HTTP Requests does not match this Regular Expression, the Processor will respond with a 404: NotFound</description><displayName>Allowed Paths</displayName><dynamic>false</dynamic><name>Allowed Paths</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Default URL Character Set</key><value><defaultValue>UTF-8</defaultValue><description>The character set to use for decoding URL parameters if the HTTP Request does not supply one</description><displayName>Default URL Character Set</displayName><dynamic>false</dynamic><name>Default URL Character Set</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow GET</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Allow HTTP GET Method</description><displayName>Allow GET</displayName><dynamic>false</dynamic><name>Allow GET</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow POST</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Allow HTTP POST Method</description><displayName>Allow POST</displayName><dynamic>false</dynamic><name>Allow POST</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow PUT</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Allow HTTP PUT Method</description><displayName>Allow PUT</displayName><dynamic>false</dynamic><name>Allow PUT</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow DELETE</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Allow HTTP DELETE Method</description><displayName>Allow DELETE</displayName><dynamic>false</dynamic><name>Allow DELETE</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow HEAD</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Allow HTTP HEAD Method</description><displayName>Allow HEAD</displayName><dynamic>false</dynamic><name>Allow HEAD</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow OPTIONS</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Allow HTTP OPTIONS Method</description><displayName>Allow OPTIONS</displayName><dynamic>false</dynamic><name>Allow OPTIONS</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Additional HTTP Methods</key><value><description>A comma-separated list of non-standard HTTP Methods that should be allowed</description><displayName>Additional HTTP Methods</displayName><dynamic>false</dynamic><name>Additional HTTP Methods</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Client Authentication</key><value><allowableValues><description>Processor will not authenticate clients. Anyone can communicate with this Processor anonymously</description><displayName>No Authentication</displayName><value>No Authentication</value></allowableValues><allowableValues><description>Processor will try to verify the client but if unable to verify will allow the client to communicate anonymously</description><displayName>Want Authentication</displayName><value>Want Authentication</value></allowableValues><allowableValues><description>Processor will reject communications from any client unless the client provides a certificate that is trusted by the TrustStorespecified in the SSL Context Service</description><displayName>Need Authentication</displayName><value>Need Authentication</value></allowableValues><defaultValue>No Authentication</defaultValue><description>Specifies whether or not the Processor should authenticate clients. This value is ignored if the &lt;SSL Context Service&gt; Property is not specified or the SSL Context provided uses only a KeyStore and not a TrustStore.</description><displayName>Client Authentication</displayName><dynamic>false</dynamic><name>Client Authentication</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>fa08eb86-1e2f-4879-b0e8-96ad9add8cee</groupId><id>1de5d235-57dc-4a13-b2cd-9a85f8dbd422</id><name>Receive POST Requests</name><properties><entry><key>Listening Port</key><value>10001</value></entry><entry><key>Hostname</key></entry><entry><key>SSL Context Service</key></entry><entry><key>HTTP Context Map</key><value>719b4222-6e8c-4170-8e19-83b660b9f8ab</value></entry><entry><key>Allowed Paths</key></entry><entry><key>Default URL Character Set</key></entry><entry><key>Allow GET</key><value>false</value></entry><entry><key>Allow POST</key></entry><entry><key>Allow PUT</key><value>false</value></entry><entry><key>Allow DELETE</key><value>false</value></entry><entry><key>Allow HEAD</key></entry><entry><key>Allow OPTIONS</key></entry><entry><key>Additional HTTP Methods</key></entry><entry><key>Client Authentication</key></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>org.apache.nifi.processors.standard.HandleHttpRequest</type></referencingComponents><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>HTTP Status Code</key><value><description>The HTTP Status Code to use when responding to the HTTP Request. See Section 10 of RFC 2616 for more information.</description><displayName>HTTP Status Code</displayName><dynamic>false</dynamic><name>HTTP Status Code</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>HTTP Context Map</key><value><allowableValues><displayName>StandardHttpContextMap</displayName><value>719b4222-6e8c-4170-8e19-83b660b9f8ab</value></allowableValues><description>The HTTP Context Map Controller Service to use for caching the HTTP Request Information</description><displayName>HTTP Context Map</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.http.HttpContextMap</identifiesControllerService><name>HTTP Context Map</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>fa08eb86-1e2f-4879-b0e8-96ad9add8cee</groupId><id>d54f9103-0c06-4d79-b706-ac51297727ae</id><name>HandleHttpResponse</name><properties><entry><key>HTTP Status Code</key><value>200</value></entry><entry><key>HTTP Context Map</key><value>719b4222-6e8c-4170-8e19-83b660b9f8ab</value></entry></properties><referenceType>Processor</referenceType><state>RUNNING</state><type>org.apache.nifi.processors.standard.HandleHttpResponse</type></referencingComponents><state>ENABLED</state><type>org.apache.nifi.http.StandardHttpContextMap</type></controllerServices><labels><id>b3fc8d3f-f352-4636-b22e-49a0310ca1dd</id><parentGroupId>fa08eb86-1e2f-4879-b0e8-96ad9add8cee</parentGroupId><position><x>-101.69412231445312</x><y>91.35841369628906</y></position><height>648.7572021484375</height><label>Generate sample files to act as POST Requests
</label><style><entry><key>font-size</key><value>12px</value></entry></style><width>329.0400695800781</width></labels><labels><id>89d268a4-f06b-4fb0-bb21-fa06ee071ef3</id><parentGroupId>fa08eb86-1e2f-4879-b0e8-96ad9add8cee</parentGroupId><position><x>542.5526092529296</x><y>98.37277832031248</y></position><height>636.7839965820312</height><label>Listen for POST requests</label><style><entry><key>background-color</key><value>#5a41fc</value></entry><entry><key>font-size</key><value>12px</value></entry></style><width>365.80462646484375</width></labels><processors><id>1de5d235-57dc-4a13-b2cd-9a85f8dbd422</id><parentGroupId>fa08eb86-1e2f-4879-b0e8-96ad9add8cee</parentGroupId><position><x>557.6995849609375</x><y>123.84333496093745</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Listening Port</key><value><defaultValue>80</defaultValue><description>The Port to listen on for incoming HTTP requests</description><displayName>Listening Port</displayName><dynamic>false</dynamic><name>Listening Port</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Hostname</key><value><description>The Hostname to bind to. If not specified, will bind to all hosts</description><displayName>Hostname</displayName><dynamic>false</dynamic><name>Hostname</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SSL Context Service</key><value><description>The SSL Context Service to use in order to secure the server. If specified, the server will accept only HTTPS requests; otherwise, the server will accept only HTTP requests</description><displayName>SSL Context Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService><name>SSL Context Service</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>HTTP Context Map</key><value><allowableValues><displayName>StandardHttpContextMap</displayName><value>719b4222-6e8c-4170-8e19-83b660b9f8ab</value></allowableValues><description>The HTTP Context Map Controller Service to use for caching the HTTP Request Information</description><displayName>HTTP Context Map</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.http.HttpContextMap</identifiesControllerService><name>HTTP Context Map</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allowed Paths</key><value><description>A Regular Expression that specifies the valid HTTP Paths that are allowed in the incoming URL Requests. If this value is specified and the path of the HTTP Requests does not match this Regular Expression, the Processor will respond with a 404: NotFound</description><displayName>Allowed Paths</displayName><dynamic>false</dynamic><name>Allowed Paths</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Default URL Character Set</key><value><defaultValue>UTF-8</defaultValue><description>The character set to use for decoding URL parameters if the HTTP Request does not supply one</description><displayName>Default URL Character Set</displayName><dynamic>false</dynamic><name>Default URL Character Set</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow GET</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Allow HTTP GET Method</description><displayName>Allow GET</displayName><dynamic>false</dynamic><name>Allow GET</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow POST</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Allow HTTP POST Method</description><displayName>Allow POST</displayName><dynamic>false</dynamic><name>Allow POST</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow PUT</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Allow HTTP PUT Method</description><displayName>Allow PUT</displayName><dynamic>false</dynamic><name>Allow PUT</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow DELETE</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Allow HTTP DELETE Method</description><displayName>Allow DELETE</displayName><dynamic>false</dynamic><name>Allow DELETE</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow HEAD</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Allow HTTP HEAD Method</description><displayName>Allow HEAD</displayName><dynamic>false</dynamic><name>Allow HEAD</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Allow OPTIONS</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Allow HTTP OPTIONS Method</description><displayName>Allow OPTIONS</displayName><dynamic>false</dynamic><name>Allow OPTIONS</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Additional HTTP Methods</key><value><description>A comma-separated list of non-standard HTTP Methods that should be allowed</description><displayName>Additional HTTP Methods</displayName><dynamic>false</dynamic><name>Additional HTTP Methods</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Client Authentication</key><value><allowableValues><description>Processor will not authenticate clients. Anyone can communicate with this Processor anonymously</description><displayName>No Authentication</displayName><value>No Authentication</value></allowableValues><allowableValues><description>Processor will try to verify the client but if unable to verify will allow the client to communicate anonymously</description><displayName>Want Authentication</displayName><value>Want Authentication</value></allowableValues><allowableValues><description>Processor will reject communications from any client unless the client provides a certificate that is trusted by the TrustStorespecified in the SSL Context Service</description><displayName>Need Authentication</displayName><value>Need Authentication</value></allowableValues><defaultValue>No Authentication</defaultValue><description>Specifies whether or not the Processor should authenticate clients. This value is ignored if the &lt;SSL Context Service&gt; Property is not specified or the SSL Context provided uses only a KeyStore and not a TrustStore.</description><displayName>Client Authentication</displayName><dynamic>false</dynamic><name>Client Authentication</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Listening Port</key><value>10001</value></entry><entry><key>Hostname</key></entry><entry><key>SSL Context Service</key></entry><entry><key>HTTP Context Map</key><value>719b4222-6e8c-4170-8e19-83b660b9f8ab</value></entry><entry><key>Allowed Paths</key></entry><entry><key>Default URL Character Set</key></entry><entry><key>Allow GET</key><value>false</value></entry><entry><key>Allow POST</key></entry><entry><key>Allow PUT</key><value>false</value></entry><entry><key>Allow DELETE</key><value>false</value></entry><entry><key>Allow HEAD</key></entry><entry><key>Allow OPTIONS</key></entry><entry><key>Additional HTTP Methods</key></entry><entry><key>Client Authentication</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Receive POST Requests</name><relationships><autoTerminate>false</autoTerminate><description>All content that is received is routed to the 'success' relationship</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.HandleHttpRequest</type></processors><processors><id>36dbc727-cf03-421a-92c0-dbb39f4c5897</id><parentGroupId>fa08eb86-1e2f-4879-b0e8-96ad9add8cee</parentGroupId><position><x>-92.06436538696289</x><y>463.693603515625</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Delete Attributes Expression</key><value><description>Regular expression for attributes to be deleted from flowfiles.</description><displayName>Delete Attributes Expression</displayName><dynamic>false</dynamic><name>Delete Attributes Expression</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>mime.type</key><value><description></description><displayName>mime.type</displayName><dynamic>true</dynamic><name>mime.type</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Delete Attributes Expression</key></entry><entry><key>mime.type</key><value>application/json</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Update mime.type to application/json</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.attributes.UpdateAttribute</type></processors><processors><id>e4dc56aa-095b-4173-8025-4b76aa78db83</id><parentGroupId>fa08eb86-1e2f-4879-b0e8-96ad9add8cee</parentGroupId><position><x>-93.74051895141599</x><y>624.8839752197266</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>URL</key><value><description>The URL to POST to. The first part of the URL must be static. However, the path of the URL may be defined using the Attribute Expression Language. For example, https://${hostname} is not valid, but https://1.1.1.1:8080/files/${nf.file.name} is valid.</description><displayName>URL</displayName><dynamic>false</dynamic><name>URL</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Batch Size</key><value><defaultValue>100 MB</defaultValue><description>If the Send as FlowFile property is true, specifies the max data size for a batch of FlowFiles to send in a single HTTP POST. If not specified, each FlowFile will be sent separately. If the Send as FlowFile property is false, this property is ignored</description><displayName>Max Batch Size</displayName><dynamic>false</dynamic><name>Max Batch Size</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Data to Post per Second</key><value><description>The maximum amount of data to send per second; this allows the bandwidth to be throttled to a specified data rate; if not specified, the data rate is not throttled</description><displayName>Max Data to Post per Second</displayName><dynamic>false</dynamic><name>Max Data to Post per Second</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SSL Context Service</key><value><description>The Controller Service to use in order to obtain an SSL Context</description><displayName>SSL Context Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService><name>SSL Context Service</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Username</key><value><description>Username required to access the URL</description><displayName>Username</displayName><dynamic>false</dynamic><name>Username</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Password</key><value><description>Password required to access the URL</description><displayName>Password</displayName><dynamic>false</dynamic><name>Password</name><required>false</required><sensitive>true</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Send as FlowFile</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If true, will package the FlowFile's contents and attributes together and send the FlowFile Package; otherwise, will send only the FlowFile's content</description><displayName>Send as FlowFile</displayName><dynamic>false</dynamic><name>Send as FlowFile</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Use Chunked Encoding</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Specifies whether or not to use Chunked Encoding to send the data. If false, the entire content of the FlowFile will be buffered into memory.</description><displayName>Use Chunked Encoding</displayName><dynamic>false</dynamic><name>Use Chunked Encoding</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Compression Level</key><value><defaultValue>0</defaultValue><description>Determines the GZIP Compression Level to use when sending the file; the value must be in the range of 0-9. A value of 0 indicates that the file will not be GZIP'ed</description><displayName>Compression Level</displayName><dynamic>false</dynamic><name>Compression Level</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Connection Timeout</key><value><defaultValue>30 sec</defaultValue><description>How long to wait when attempting to connect to the remote server before giving up</description><displayName>Connection Timeout</displayName><dynamic>false</dynamic><name>Connection Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Data Timeout</key><value><defaultValue>30 sec</defaultValue><description>How long to wait between receiving segments of data from the remote server before giving up and discarding the partial file</description><displayName>Data Timeout</displayName><dynamic>false</dynamic><name>Data Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Attributes to Send as HTTP Headers (Regex)</key><value><description>Specifies the Regular Expression that determines the names of FlowFile attributes that should be sent as HTTP Headers</description><displayName>Attributes to Send as HTTP Headers (Regex)</displayName><dynamic>false</dynamic><name>Attributes to Send as HTTP Headers (Regex)</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>User Agent</key><value><description>What to report as the User Agent when we connect to the remote server</description><displayName>User Agent</displayName><dynamic>false</dynamic><name>User Agent</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Proxy Host</key><value><description>The fully qualified hostname or IP address of the proxy server</description><displayName>Proxy Host</displayName><dynamic>false</dynamic><name>Proxy Host</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Proxy Port</key><value><description>The port of the proxy server</description><displayName>Proxy Port</displayName><dynamic>false</dynamic><name>Proxy Port</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>URL</key><value>http://localhost:10001/</value></entry><entry><key>Max Batch Size</key></entry><entry><key>Max Data to Post per Second</key></entry><entry><key>SSL Context Service</key></entry><entry><key>Username</key></entry><entry><key>Password</key></entry><entry><key>Send as FlowFile</key></entry><entry><key>Use Chunked Encoding</key><value>false</value></entry><entry><key>Compression Level</key></entry><entry><key>Connection Timeout</key></entry><entry><key>Data Timeout</key></entry><entry><key>Attributes to Send as HTTP Headers (Regex)</key></entry><entry><key>User Agent</key></entry><entry><key>Proxy Host</key></entry><entry><key>Proxy Port</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Post to NiFi Listener</name><relationships><autoTerminate>false</autoTerminate><description>Files that fail to send will transferred to failure</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>Files that are successfully send will be transferred to success</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.PostHTTP</type></processors><processors><id>d30d4388-7df3-4b0d-805f-78882c6a1f4c</id><parentGroupId>fa08eb86-1e2f-4879-b0e8-96ad9add8cee</parentGroupId><position><x>558.6176391601563</x><y>407.9902923583985</y></position><config><bulletinLevel>INFO</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Log Level</key><value><allowableValues><displayName>trace</displayName><value>trace</value></allowableValues><allowableValues><displayName>debug</displayName><value>debug</value></allowableValues><allowableValues><displayName>info</displayName><value>info</value></allowableValues><allowableValues><displayName>warn</displayName><value>warn</value></allowableValues><allowableValues><displayName>error</displayName><value>error</value></allowableValues><defaultValue>info</defaultValue><description>The Log Level to use when logging the Attributes</description><displayName>Log Level</displayName><dynamic>false</dynamic><name>Log Level</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Log Payload</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If true, the FlowFile's payload will be logged, in addition to its attributes; otherwise, just the Attributes will be logged.</description><displayName>Log Payload</displayName><dynamic>false</dynamic><name>Log Payload</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Attributes to Log</key><value><description>A comma-separated list of Attributes to Log. If not specified, all attributes will be logged.</description><displayName>Attributes to Log</displayName><dynamic>false</dynamic><name>Attributes to Log</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Attributes to Ignore</key><value><description>A comma-separated list of Attributes to ignore. If not specified, no attributes will be ignored.</description><displayName>Attributes to Ignore</displayName><dynamic>false</dynamic><name>Attributes to Ignore</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Log prefix</key><value><description>Log prefix appended to the log lines. It helps to distinguish the output of multiple LogAttribute processors.</description><displayName>Log prefix</displayName><dynamic>false</dynamic><name>Log prefix</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Log Level</key></entry><entry><key>Log Payload</key><value>true</value></entry><entry><key>Attributes to Log</key><value>http.headers.Content-Type,mime.type</value></entry><entry><key>Attributes to Ignore</key></entry><entry><key>Log prefix</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Log Content-Type</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.LogAttribute</type></processors><processors><id>4e95df92-d2bd-4421-bb46-573468419862</id><parentGroupId>fa08eb86-1e2f-4879-b0e8-96ad9add8cee</parentGroupId><position><x>-87.0</x><y>306.01136779785156</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Regular Expression</key><value><defaultValue>(?s:^.*$)</defaultValue><description>The Search Value to search for in the FlowFile content. Only used for 'Literal Replace' and 'Regex Replace' matching strategies</description><displayName>Search Value</displayName><dynamic>false</dynamic><name>Regular Expression</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Replacement Value</key><value><defaultValue>$1</defaultValue><description>The value to insert using the 'Replacement Strategy'. Using &quot;Regex Replace&quot; back-references to Regular Expression capturing groups are supported, but back-references that reference capturing groups that do not exist in the regular expression will be treated as literal value. Back References may also be referenced using the Expression Language, as '$1', '$2', etc. The single-tick marks MUST be included, as these variables are not &quot;Standard&quot; attribute names (attribute names must be quoted unless they contain only numbers, letters, and _).</description><displayName>Replacement Value</displayName><dynamic>false</dynamic><name>Replacement Value</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Character Set</key><value><defaultValue>UTF-8</defaultValue><description>The Character Set in which the file is encoded</description><displayName>Character Set</displayName><dynamic>false</dynamic><name>Character Set</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum Buffer Size</key><value><defaultValue>1 MB</defaultValue><description>Specifies the maximum amount of data to buffer (per file or per line, depending on the Evaluation Mode) in order to apply the replacement. If 'Entire Text' (in Evaluation Mode) is selected and the FlowFile is larger than this value, the FlowFile will be routed to 'failure'. In 'Line-by-Line' Mode, if a single line is larger than this value, the FlowFile will be routed to 'failure'. A default value of 1 MB is provided, primarily for 'Entire Text' mode. In 'Line-by-Line' Mode, a value such as 8 KB or 16 KB is suggested. This value is ignored if the &lt;Replacement Strategy&gt; property is set to one of: Append, Prepend, Always Replace</description><displayName>Maximum Buffer Size</displayName><dynamic>false</dynamic><name>Maximum Buffer Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Replacement Strategy</key><value><allowableValues><description>Insert the Replacement Value at the beginning of the FlowFile or the beginning of each line (depending on the Evaluation Mode). For &quot;Line-by-Line&quot; Evaluation Mode, the value will be prepended to each line. For &quot;Entire Text&quot; evaluation mode, the value will be prepended to the entire text.</description><displayName>Prepend</displayName><value>Prepend</value></allowableValues><allowableValues><description>Insert the Replacement Value at the end of the FlowFile or the end of each line (depending on the Evluation Mode). For &quot;Line-by-Line&quot; Evaluation Mode, the value will be appended to each line. For &quot;Entire Text&quot; evaluation mode, the value will be appended to the entire text.</description><displayName>Append</displayName><value>Append</value></allowableValues><allowableValues><description>Interpret the Search Value as a Regular Expression and replace all matches with the Replacement Value. The Replacement Value may reference Capturing Groups used in the Search Value by using a dollar-sign followed by the Capturing Group number, such as $1 or $2. If the Search Value is set to .* then everything is replaced without even evaluating the Regular Expression.</description><displayName>Regex Replace</displayName><value>Regex Replace</value></allowableValues><allowableValues><description>Search for all instances of the Search Value and replace the matches with the Replacement Value.</description><displayName>Literal Replace</displayName><value>Literal Replace</value></allowableValues><allowableValues><description>Always replaces the entire line or the entire contents of the FlowFile (depending on the value of the &lt;Evaluation Mode&gt; property) and does not bother searching for any value. When this strategy is chosen, the &lt;Search Value&gt; property is ignored.</description><displayName>Always Replace</displayName><value>Always Replace</value></allowableValues><defaultValue>Regex Replace</defaultValue><description>The strategy for how and what to replace within the FlowFile's text content.</description><displayName>Replacement Strategy</displayName><dynamic>false</dynamic><name>Replacement Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Evaluation Mode</key><value><allowableValues><displayName>Line-by-Line</displayName><value>Line-by-Line</value></allowableValues><allowableValues><displayName>Entire text</displayName><value>Entire text</value></allowableValues><defaultValue>Entire text</defaultValue><description>Run the 'Replacement Strategy' against each line separately (Line-by-Line) or buffer the entire file into memory (Entire Text) and run against that.</description><displayName>Evaluation Mode</displayName><dynamic>false</dynamic><name>Evaluation Mode</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Regular Expression</key></entry><entry><key>Replacement Value</key><value>{&quot;hello&quot;:&quot;world&quot;}</value></entry><entry><key>Character Set</key></entry><entry><key>Maximum Buffer Size</key></entry><entry><key>Replacement Strategy</key></entry><entry><key>Evaluation Mode</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Replace with a JSON payload</name><relationships><autoTerminate>true</autoTerminate><description>FlowFiles that could not be updated are routed to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>FlowFiles that have been successfully processed are routed to this relationship. This includes both FlowFiles that had text replaced and those that did not.</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.ReplaceText</type></processors><processors><id>817ef562-3f1b-4a14-bbdd-d1a17bd27b94</id><parentGroupId>fa08eb86-1e2f-4879-b0e8-96ad9add8cee</parentGroupId><position><x>-87.30587768554688</x><y>122.01136779785156</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>File Size</key><value><description>The size of the file that will be used</description><displayName>File Size</displayName><dynamic>false</dynamic><name>File Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Batch Size</key><value><defaultValue>1</defaultValue><description>The number of FlowFiles to be transferred in each invocation</description><displayName>Batch Size</displayName><dynamic>false</dynamic><name>Batch Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Data Format</key><value><allowableValues><displayName>Binary</displayName><value>Binary</value></allowableValues><allowableValues><displayName>Text</displayName><value>Text</value></allowableValues><defaultValue>Binary</defaultValue><description>Specifies whether the data should be Text or Binary</description><displayName>Data Format</displayName><dynamic>false</dynamic><name>Data Format</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Unique FlowFiles</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If true, each FlowFile that is generated will be unique. If false, a random value will be generated and all FlowFiles will get the same content but this offers much higher throughput</description><displayName>Unique FlowFiles</displayName><dynamic>false</dynamic><name>Unique FlowFiles</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>File Size</key><value>1B</value></entry><entry><key>Batch Size</key></entry><entry><key>Data Format</key></entry><entry><key>Unique FlowFiles</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>30 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>GenerateFlowFile</name><relationships><autoTerminate>false</autoTerminate><description></description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.GenerateFlowFile</type></processors><processors><id>d54f9103-0c06-4d79-b706-ac51297727ae</id><parentGroupId>fa08eb86-1e2f-4879-b0e8-96ad9add8cee</parentGroupId><position><x>562.2178710937501</x><y>624.8195220947266</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>HTTP Status Code</key><value><description>The HTTP Status Code to use when responding to the HTTP Request. See Section 10 of RFC 2616 for more information.</description><displayName>HTTP Status Code</displayName><dynamic>false</dynamic><name>HTTP Status Code</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>HTTP Context Map</key><value><allowableValues><displayName>StandardHttpContextMap</displayName><value>719b4222-6e8c-4170-8e19-83b660b9f8ab</value></allowableValues><description>The HTTP Context Map Controller Service to use for caching the HTTP Request Information</description><displayName>HTTP Context Map</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.http.HttpContextMap</identifiesControllerService><name>HTTP Context Map</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>HTTP Status Code</key><value>200</value></entry><entry><key>HTTP Context Map</key><value>719b4222-6e8c-4170-8e19-83b660b9f8ab</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>HandleHttpResponse</name><relationships><autoTerminate>true</autoTerminate><description>FlowFiles will be routed to this Relationship if the Processor is unable to respond to the requestor. This may happen, for instance, if the connection times out or if NiFi is restarted before responding to the HTTP Request.</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>FlowFiles will be routed to this Relationship after the response has been successfully sent to the requestor</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.HandleHttpResponse</type></processors></snippet><timestamp>12/31/2015 15:21:58 EST</timestamp></template>