templates/Retry_Count_Loop.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><template><description>Provides a function to count how many times a given flowfile has gone through it and if it exceeds some threshold it will kick it out.</description><name>Retry Count Loop</name><snippet><processGroups><id>d80fe614-b7e0-46bc-8b98-da89e3223712</id><parentGroupId>622ae166-2d67-4066-8fd1-4f96f72570c3</parentGroupId><position><x>767.5239007271769</x><y>-528.3105172159726</y></position><activeRemotePortCount>0</activeRemotePortCount><comments>This flow will track how many times a given flow file routes through it.  If the number of times exceeds a specific maximum then it will route to the 'limit exceeded' port.  Otherwise it will route to 'retry'.

The attributes it uses are 'retry.counter' and 'retry.maxcount'.  If the 'retry.maxcount' is specified on a given flowfile then it will be honored.  Otherwise a default of '3' is set as the maximum retry count.

As the flowfile goes through this flow it increments the 'retry.maxcount' attribute by 1.  It then checks if this value exceeds 'retry.maxcount' and if so then it routes the flowfile to 'limit exceeded' otherwise it routes to 'retry'.

So you can configure the 'retry' relationship to loop back to the process you want and you can send the 'limit exceeded' to move on from that process to something else.</comments><contents><connections><id>155cdc9a-b9ff-4f6d-bade-78e2b7922ead</id><parentGroupId>d80fe614-b7e0-46bc-8b98-da89e3223712</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>10</backPressureObjectThreshold><destination><groupId>d80fe614-b7e0-46bc-8b98-da89e3223712</groupId><id>de67351f-6e63-4557-91ed-4362e27de6a5</id><type>OUTPUT_PORT</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>Try again</selectedRelationships><source><groupId>d80fe614-b7e0-46bc-8b98-da89e3223712</groupId><id>10f53281-4064-4725-8119-25a5e77b0cf3</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>9f1ccea3-7f03-4026-b3d4-d05b37ca5596</id><parentGroupId>d80fe614-b7e0-46bc-8b98-da89e3223712</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>10</backPressureObjectThreshold><destination><groupId>d80fe614-b7e0-46bc-8b98-da89e3223712</groupId><id>62021278-2608-4b09-9095-8143dbcdc772</id><type>OUTPUT_PORT</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>d80fe614-b7e0-46bc-8b98-da89e3223712</groupId><id>34b75d26-46b8-3d67-923f-fb6e7f93d0cd</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>d3170ec7-c212-466f-b1c9-d0fc3570503e</id><parentGroupId>d80fe614-b7e0-46bc-8b98-da89e3223712</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>10</backPressureObjectThreshold><destination><groupId>d80fe614-b7e0-46bc-8b98-da89e3223712</groupId><id>10f53281-4064-4725-8119-25a5e77b0cf3</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>d80fe614-b7e0-46bc-8b98-da89e3223712</groupId><id>8692729d-e3f2-472d-9435-f1bbf207e41c</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>fb4298e6-37b3-47ae-9124-d255368d673f</id><parentGroupId>d80fe614-b7e0-46bc-8b98-da89e3223712</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>10</backPressureObjectThreshold><destination><groupId>d80fe614-b7e0-46bc-8b98-da89e3223712</groupId><id>8692729d-e3f2-472d-9435-f1bbf207e41c</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><source><groupId>d80fe614-b7e0-46bc-8b98-da89e3223712</groupId><id>535627d4-d4fb-4963-84bd-22115060c9cc</id><type>INPUT_PORT</type></source><zIndex>0</zIndex></connections><connections><id>ec2fe73b-c7c0-489c-82be-ddd2fa8ce8cb</id><parentGroupId>d80fe614-b7e0-46bc-8b98-da89e3223712</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>10</backPressureObjectThreshold><destination><groupId>d80fe614-b7e0-46bc-8b98-da89e3223712</groupId><id>34b75d26-46b8-3d67-923f-fb6e7f93d0cd</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>unmatched</selectedRelationships><source><groupId>d80fe614-b7e0-46bc-8b98-da89e3223712</groupId><id>10f53281-4064-4725-8119-25a5e77b0cf3</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><inputPorts><id>535627d4-d4fb-4963-84bd-22115060c9cc</id><parentGroupId>d80fe614-b7e0-46bc-8b98-da89e3223712</parentGroupId><position><x>442.99999073586037</x><y>107.99999712137014</y></position><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><name>data</name><state>RUNNING</state><type>INPUT_PORT</type></inputPorts><outputPorts><id>de67351f-6e63-4557-91ed-4362e27de6a5</id><parentGroupId>d80fe614-b7e0-46bc-8b98-da89e3223712</parentGroupId><position><x>266.00002125343855</x><y>620.0000047507647</y></position><comments>Items sent to this port have not yet exceeded the maximum retry count.</comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><name>retry</name><state>STOPPED</state><type>OUTPUT_PORT</type><validationErrors>'Port 'retry'' is invalid because Output connection for port 'retry' is not defined.</validationErrors></outputPorts><outputPorts><id>62021278-2608-4b09-9095-8143dbcdc772</id><parentGroupId>d80fe614-b7e0-46bc-8b98-da89e3223712</parentGroupId><position><x>710.4906828745322</x><y>816.4274339499834</y></position><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><name>limit exceeded</name><state>STOPPED</state><type>OUTPUT_PORT</type><validationErrors>'Port 'limit exceeded'' is invalid because Output connection for port 'limit exceeded' is not defined.</validationErrors></outputPorts><processors><id>10f53281-4064-4725-8119-25a5e77b0cf3</id><parentGroupId>d80fe614-b7e0-46bc-8b98-da89e3223712</parentGroupId><position><x>370.0000517710166</x><y>394.0000047507647</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Routing Strategy</key><value><allowableValues><description>A copy of the FlowFile will be routed to each relationship whose corresponding expression evaluates to 'true'</description><displayName>Route to Property name</displayName><value>Route to Property name</value></allowableValues><allowableValues><description>Requires that all user-defined expressions evaluate to 'true' for the FlowFile to be considered a match</description><displayName>Route to 'matched' if all match</displayName><value>Route to 'match' if all match</value></allowableValues><allowableValues><description>Requires that at least one user-defined expression evaluate to 'true' for hte FlowFile to be considered a match</description><displayName>Route to 'matched' if any matches</displayName><value>Route to 'match' if any matches</value></allowableValues><defaultValue>Route to Property name</defaultValue><description>Specifies how to determine which relationship to use when evaluating the Expression Language</description><displayName>Routing Strategy</displayName><dynamic>false</dynamic><name>Routing Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Try again</key><value><description></description><displayName>Try again</displayName><dynamic>true</dynamic><name>Try again</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Routing Strategy</key></entry><entry><key>Try again</key><value>${retry.counter:le('${retry.maxcount}')}</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Check Retry Count</name><relationships><autoTerminate>false</autoTerminate><description></description><name>Try again</name></relationships><relationships><autoTerminate>false</autoTerminate><description>FlowFiles that do not match any user-define expression will be routed here</description><name>unmatched</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.RouteOnAttribute</type></processors><processors><id>8692729d-e3f2-472d-9435-f1bbf207e41c</id><parentGroupId>d80fe614-b7e0-46bc-8b98-da89e3223712</parentGroupId><position><x>369.00002125343855</x><y>218.00000475076467</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>retry.counter</key><value><description></description><displayName>retry.counter</displayName><dynamic>true</dynamic><name>retry.counter</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>retry.maxcount</key><value><description></description><displayName>retry.maxcount</displayName><dynamic>true</dynamic><name>retry.maxcount</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>retry.counter</key><value>${retry.counter:replaceNull('0'):plus(1)}</value></entry><entry><key>retry.maxcount</key><value>${retry.maxcount:replaceNull('3')}</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Set retry counter</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.attributes.UpdateAttribute</type></processors><processors><id>34b75d26-46b8-3d67-923f-fb6e7f93d0cd</id><parentGroupId>d80fe614-b7e0-46bc-8b98-da89e3223712</parentGroupId><position><x>629.3641311351234</x><y>617.2079695910758</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>retry.counter</key><value><description></description><displayName>retry.counter</displayName><dynamic>true</dynamic><name>retry.counter</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>retry.counter</key><value>0</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Reset retry counter</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.attributes.UpdateAttribute</type></processors></contents><disabledCount>0</disabledCount><inactiveRemotePortCount>0</inactiveRemotePortCount><inputPortCount>1</inputPortCount><invalidCount>2</invalidCount><name>Retry Check Loop</name><outputPortCount>2</outputPortCount><parent><id>622ae166-2d67-4066-8fd1-4f96f72570c3</id><name>Onyara Processing Hub</name></parent><runningCount>4</runningCount><stoppedCount>0</stoppedCount></processGroups></snippet><timestamp>06/02/2015 17:52:51 UTC</timestamp></template>