templates/Send_HL7_Messages_to_Solr.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><template><description>reads from a directory, parses the file into segments, and sends to Solr for indexing</description><name>Send HL7 Messages to Solr</name><snippet><connections><id>17758abb-0b17-4f3d-abd2-fc8d0ebb6090</id><parentGroupId>60842c04-5658-4774-ba91-813f3fae62ec</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>60842c04-5658-4774-ba91-813f3fae62ec</groupId><id>aab0ccc6-cdcf-4700-ba2d-519da654df1c</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>60842c04-5658-4774-ba91-813f3fae62ec</groupId><id>71b8b5e9-bc17-4e08-b5c7-568148117d21</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>1bf0e1d5-1e11-483f-bd8d-fa052fa34aa7</id><parentGroupId>60842c04-5658-4774-ba91-813f3fae62ec</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>60842c04-5658-4774-ba91-813f3fae62ec</groupId><id>f3af1b26-6760-49e3-b70b-38cbb71bc686</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>60842c04-5658-4774-ba91-813f3fae62ec</groupId><id>aab0ccc6-cdcf-4700-ba2d-519da654df1c</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>083022b1-1ad0-4c67-ae0d-fe8e2b85559f</id><parentGroupId>60842c04-5658-4774-ba91-813f3fae62ec</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>60842c04-5658-4774-ba91-813f3fae62ec</groupId><id>33799773-aeec-4710-a827-42bf06abb42f</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>failure</selectedRelationships><selectedRelationships>success</selectedRelationships><source><groupId>60842c04-5658-4774-ba91-813f3fae62ec</groupId><id>f3af1b26-6760-49e3-b70b-38cbb71bc686</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>af99c6ee-cb26-4db2-bb1f-b4a2befcf72a</id><parentGroupId>60842c04-5658-4774-ba91-813f3fae62ec</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>60842c04-5658-4774-ba91-813f3fae62ec</groupId><id>4b0c42fe-7213-4a78-b324-480e68dcbec0</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>60842c04-5658-4774-ba91-813f3fae62ec</groupId><id>b881344e-25a6-4c4f-a5f2-b955c04b2706</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>a0ed75c3-9bf8-43f9-a93a-d98691b65a50</id><parentGroupId>60842c04-5658-4774-ba91-813f3fae62ec</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><bends><x>-19.244964599609375</x><y>309.43534088134766</y></bends><bends><x>-19.244964599609375</x><y>359.43534088134766</y></bends><destination><groupId>60842c04-5658-4774-ba91-813f3fae62ec</groupId><id>4b0c42fe-7213-4a78-b324-480e68dcbec0</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>failure</selectedRelationships><source><groupId>60842c04-5658-4774-ba91-813f3fae62ec</groupId><id>4b0c42fe-7213-4a78-b324-480e68dcbec0</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>913a81fc-37f6-40ae-a71b-5916a1b58b9c</id><parentGroupId>60842c04-5658-4774-ba91-813f3fae62ec</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><bends><x>-8.72193743211983</x><y>1039.4440409982903</y></bends><bends><x>-8.72193743211983</x><y>1089.4440409982903</y></bends><destination><groupId>60842c04-5658-4774-ba91-813f3fae62ec</groupId><id>f3af1b26-6760-49e3-b70b-38cbb71bc686</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>connection_failure</selectedRelationships><source><groupId>60842c04-5658-4774-ba91-813f3fae62ec</groupId><id>f3af1b26-6760-49e3-b70b-38cbb71bc686</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>c4f022a8-9238-4d8a-86ba-1d4bae75a178</id><parentGroupId>60842c04-5658-4774-ba91-813f3fae62ec</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>60842c04-5658-4774-ba91-813f3fae62ec</groupId><id>4bc078fa-9291-4656-8205-f92ceddb7402</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>60842c04-5658-4774-ba91-813f3fae62ec</groupId><id>4b0c42fe-7213-4a78-b324-480e68dcbec0</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>5a0d946d-601a-406a-a743-6a83f4d73d59</id><parentGroupId>60842c04-5658-4774-ba91-813f3fae62ec</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>60842c04-5658-4774-ba91-813f3fae62ec</groupId><id>33799773-aeec-4710-a827-42bf06abb42f</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>60842c04-5658-4774-ba91-813f3fae62ec</groupId><id>147c1a33-5512-44c2-9826-e76ec77c9590</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>58b81e95-a1da-4ff9-a5ef-a440224470ef</id><parentGroupId>60842c04-5658-4774-ba91-813f3fae62ec</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>60842c04-5658-4774-ba91-813f3fae62ec</groupId><id>71b8b5e9-bc17-4e08-b5c7-568148117d21</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>60842c04-5658-4774-ba91-813f3fae62ec</groupId><id>4bc078fa-9291-4656-8205-f92ceddb7402</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><processors><id>f3af1b26-6760-49e3-b70b-38cbb71bc686</id><parentGroupId>60842c04-5658-4774-ba91-813f3fae62ec</parentGroupId><position><x>-417.72193743211983</x><y>1014.4440409982903</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Solr Type</key><value><allowableValues><description>A SolrCloud instance.</description><displayName>Cloud</displayName><value>Cloud</value></allowableValues><allowableValues><description>A stand-alone Solr instance.</description><displayName>Standard</displayName><value>Standard</value></allowableValues><defaultValue>Standard</defaultValue><description>The type of Solr instance, Cloud or Standard.</description><displayName>Solr Type</displayName><dynamic>false</dynamic><name>Solr Type</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Solr Location</key><value><description>The Solr url for a Solr Type of Standard (ex: http://localhost:8984/solr/gettingstarted), or the ZooKeeper hosts for a Solr Type of Cloud (ex: localhost:9983).</description><displayName>Solr Location</displayName><dynamic>false</dynamic><name>Solr Location</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Collection</key><value><description>The Solr collection name, only used with a Solr Type of Cloud</description><displayName>Collection</displayName><dynamic>false</dynamic><name>Collection</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Content Stream Path</key><value><defaultValue>/update/json/docs</defaultValue><description>The path in Solr to post the ContentStream</description><displayName>Content Stream Path</displayName><dynamic>false</dynamic><name>Content Stream Path</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Content-Type</key><value><defaultValue>application/json</defaultValue><description>Content-Type being sent to Solr</description><displayName>Content-Type</displayName><dynamic>false</dynamic><name>Content-Type</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Commit Within</key><value><description>The number of milliseconds before the given update is committed</description><displayName>Commit Within</displayName><dynamic>false</dynamic><name>Commit Within</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Solr Socket Timeout</key><value><defaultValue>10 seconds</defaultValue><description>The amount of time to wait for data on a socket connection to Solr. A value of 0 indicates an infinite timeout.</description><displayName>Solr Socket Timeout</displayName><dynamic>false</dynamic><name>Solr Socket Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Solr Connection Timeout</key><value><defaultValue>10 seconds</defaultValue><description>The amount of time to wait when establishing a connection to Solr. A value of 0 indicates an infinite timeout.</description><displayName>Solr Connection Timeout</displayName><dynamic>false</dynamic><name>Solr Connection Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Solr Maximum Connections</key><value><defaultValue>10</defaultValue><description>The maximum number of total connections allowed from the Solr client to Solr.</description><displayName>Solr Maximum Connections</displayName><dynamic>false</dynamic><name>Solr Maximum Connections</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Solr Maximum Connections Per Host</key><value><defaultValue>5</defaultValue><description>The maximum number of connections allowed from the Solr client to a single Solr host.</description><displayName>Solr Maximum Connections Per Host</displayName><dynamic>false</dynamic><name>Solr Maximum Connections Per Host</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>ZooKeeper Client Timeout</key><value><defaultValue>10 seconds</defaultValue><description>The amount of time to wait for data on a connection to ZooKeeper, only used with a Solr Type of Cloud.</description><displayName>ZooKeeper Client Timeout</displayName><dynamic>false</dynamic><name>ZooKeeper Client Timeout</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>ZooKeeper Connection Timeout</key><value><defaultValue>10 seconds</defaultValue><description>The amount of time to wait when establishing a connection to ZooKeeper, only used with a Solr Type of Cloud.</description><displayName>ZooKeeper Connection Timeout</displayName><dynamic>false</dynamic><name>ZooKeeper Connection Timeout</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>f.1</key><value><description>Specifies the value to send for the 'f.1' request parameter</description><displayName>f.1</displayName><dynamic>true</dynamic><name>f.1</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.2</key><value><description>Specifies the value to send for the 'f.2' request parameter</description><displayName>f.2</displayName><dynamic>true</dynamic><name>f.2</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.4</key><value><description>Specifies the value to send for the 'f.4' request parameter</description><displayName>f.4</displayName><dynamic>true</dynamic><name>f.4</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.7</key><value><description>Specifies the value to send for the 'f.7' request parameter</description><displayName>f.7</displayName><dynamic>true</dynamic><name>f.7</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>split</key><value><description>Specifies the value to send for the 'split' request parameter</description><displayName>split</displayName><dynamic>true</dynamic><name>split</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Solr Type</key><value>Cloud</value></entry><entry><key>Solr Location</key><value>localhost:2181</value></entry><entry><key>Collection</key><value>hl7_messages</value></entry><entry><key>Content Stream Path</key><value>/update/json/docs</value></entry><entry><key>Content-Type</key><value>application/json</value></entry><entry><key>Commit Within</key><value>1000</value></entry><entry><key>Solr Socket Timeout</key></entry><entry><key>Solr Connection Timeout</key></entry><entry><key>Solr Maximum Connections</key></entry><entry><key>Solr Maximum Connections Per Host</key></entry><entry><key>ZooKeeper Client Timeout</key></entry><entry><key>ZooKeeper Connection Timeout</key></entry><entry><key>f.1</key><value>patient_s:/patient</value></entry><entry><key>f.2</key><value>visit_date_dt:/myDate</value></entry><entry><key>f.4</key><value>note_txt:/text</value></entry><entry><key>f.7</key><value>insert_date_dt:/file.creationTime</value></entry><entry><key>split</key><value>/</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>PutSolrContentStream</name><relationships><autoTerminate>false</autoTerminate><description>FlowFiles that failed because Solr is unreachable</description><name>connection_failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>FlowFiles that failed for any reason other than Solr being unreachable</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>The original FlowFile</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.solr.PutSolrContentStream</type></processors><processors><id>33799773-aeec-4710-a827-42bf06abb42f</id><parentGroupId>60842c04-5658-4774-ba91-813f3fae62ec</parentGroupId><position><x>83.02313232421875</x><y>1017.0937271118164</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Log Level</key><value><allowableValues><displayName>trace</displayName><value>trace</value></allowableValues><allowableValues><displayName>debug</displayName><value>debug</value></allowableValues><allowableValues><displayName>info</displayName><value>info</value></allowableValues><allowableValues><displayName>warn</displayName><value>warn</value></allowableValues><allowableValues><displayName>error</displayName><value>error</value></allowableValues><defaultValue>info</defaultValue><description>The Log Level to use when logging the Attributes</description><displayName>Log Level</displayName><dynamic>false</dynamic><name>Log Level</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Log Payload</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If true, the FlowFile's payload will be logged, in addition to its attributes; otherwise, just the Attributes will be logged.</description><displayName>Log Payload</displayName><dynamic>false</dynamic><name>Log Payload</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Attributes to Log</key><value><description>A comma-separated list of Attributes to Log. If not specified, all attributes will be logged.</description><displayName>Attributes to Log</displayName><dynamic>false</dynamic><name>Attributes to Log</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Attributes to Ignore</key><value><description>A comma-separated list of Attributes to ignore. If not specified, no attributes will be ignored.</description><displayName>Attributes to Ignore</displayName><dynamic>false</dynamic><name>Attributes to Ignore</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Log prefix</key><value><description>Log prefix appended to the log lines. It helps to distinguish the output of multiple LogAttribute processors.</description><displayName>Log prefix</displayName><dynamic>false</dynamic><name>Log prefix</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Log Level</key><value>info</value></entry><entry><key>Log Payload</key><value>false</value></entry><entry><key>Attributes to Log</key></entry><entry><key>Attributes to Ignore</key></entry><entry><key>Log prefix</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>LogAttribute</name><relationships><autoTerminate>true</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.LogAttribute</type></processors><processors><id>4b0c42fe-7213-4a78-b324-480e68dcbec0</id><parentGroupId>60842c04-5658-4774-ba91-813f3fae62ec</parentGroupId><position><x>-428.2449645996094</x><y>284.43534088134766</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>File to Fetch</key><value><defaultValue>${absolute.path}/${filename}</defaultValue><description>The fully-qualified filename of the file to fetch from the file system</description><displayName>File to Fetch</displayName><dynamic>false</dynamic><name>File to Fetch</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Completion Strategy</key><value><allowableValues><description>Leave the file as-is</description><displayName>None</displayName><value>None</value></allowableValues><allowableValues><description>Moves the file to the directory specified by the &lt;Move Destination Directory&gt; property</description><displayName>Move File</displayName><value>Move File</value></allowableValues><allowableValues><description>Deletes the original file from the file system</description><displayName>Delete File</displayName><value>Delete File</value></allowableValues><defaultValue>None</defaultValue><description>Specifies what to do with the original file on the file system once it has been pulled into NiFi</description><displayName>Completion Strategy</displayName><dynamic>false</dynamic><name>Completion Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Move Destination Directory</key><value><description>The directory to the move the original file to once it has been fetched from the file system. This property is ignored unless the Completion Strategy is set to &quot;Move File&quot;. If the directory does not exist, it will be created.</description><displayName>Move Destination Directory</displayName><dynamic>false</dynamic><name>Move Destination Directory</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Move Conflict Strategy</key><value><allowableValues><description>The existing destination file should remain intact. The newly ingested file should be moved to the destination directory but be renamed to a random filename</description><displayName>Rename</displayName><value>Rename</value></allowableValues><allowableValues><description>The newly ingested file should replace the existing file in the Destination Directory</description><displayName>Replace File</displayName><value>Replace File</value></allowableValues><allowableValues><description>The existing file should in the Destination Directory should stay intact and the newly ingested file should be deleted</description><displayName>Keep Existing</displayName><value>Keep Existing</value></allowableValues><allowableValues><description>The existing destination file should remain intact and the incoming FlowFile should be routed to failure</description><displayName>Fail</displayName><value>Fail</value></allowableValues><defaultValue>Rename</defaultValue><description>If Completion Strategy is set to Move File and a file already exists in the destination directory with the same name, this property specifies how that naming conflict should be resolved</description><displayName>Move Conflict Strategy</displayName><dynamic>false</dynamic><name>Move Conflict Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>File to Fetch</key><value>${absolute.path}/${filename}</value></entry><entry><key>Completion Strategy</key><value>Delete File</value></entry><entry><key>Move Destination Directory</key></entry><entry><key>Move Conflict Strategy</key><value>Rename</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>FetchFile</name><relationships><autoTerminate>false</autoTerminate><description>Any FlowFile that could not be fetched from the file system for any reason other than insufficient permissions or the file not existing will be transferred to this Relationship.</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>Any FlowFile that could not be fetched from the file system because the file could not be found will be transferred to this Relationship.</description><name>not.found</name></relationships><relationships><autoTerminate>true</autoTerminate><description>Any FlowFile that could not be fetched from the file system due to the user running NiFi not having sufficient permissions will be transferred to this Relationship.</description><name>permission.denied</name></relationships><relationships><autoTerminate>false</autoTerminate><description>Any FlowFile that is successfully fetched from the file system will be transferred to this Relationship.</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.FetchFile</type></processors><processors><id>b881344e-25a6-4c4f-a5f2-b955c04b2706</id><parentGroupId>60842c04-5658-4774-ba91-813f3fae62ec</parentGroupId><position><x>-436.1959533691406</x><y>114.12944030761719</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Input Directory</key><value><description>The input directory from which files to pull files</description><displayName>Input Directory</displayName><dynamic>false</dynamic><name>Input Directory</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Recurse Subdirectories</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Indicates whether to list files from subdirectories of the directory</description><displayName>Recurse Subdirectories</displayName><dynamic>false</dynamic><name>Recurse Subdirectories</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Input Directory Location</key><value><allowableValues><description>Input Directory is located on a local disk. State will be stored locally on each node in the cluster.</description><displayName>Local</displayName><value>Local</value></allowableValues><allowableValues><description>Input Directory is located on a remote system. State will be stored across the cluster so that the listing can be performed on Primary Node Only and another node can pick up where the last node left off, if the Primary Node changes</description><displayName>Remote</displayName><value>Remote</value></allowableValues><defaultValue>Local</defaultValue><description>Specifies where the Input Directory is located. This is used to determine whether state should be stored locally or across the cluster.</description><displayName>Input Directory Location</displayName><dynamic>false</dynamic><name>Input Directory Location</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>File Filter</key><value><defaultValue>[^\.].*</defaultValue><description>Only files whose names match the given regular expression will be picked up</description><displayName>File Filter</displayName><dynamic>false</dynamic><name>File Filter</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Path Filter</key><value><description>When Recurse Subdirectories is true, then only subdirectories whose path matches the given regular expression will be scanned</description><displayName>Path Filter</displayName><dynamic>false</dynamic><name>Path Filter</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Minimum File Age</key><value><defaultValue>0 sec</defaultValue><description>The minimum age that a file must be in order to be pulled; any file younger than this amount of time (according to last modification date) will be ignored</description><displayName>Minimum File Age</displayName><dynamic>false</dynamic><name>Minimum File Age</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum File Age</key><value><description>The maximum age that a file must be in order to be pulled; any file older than this amount of time (according to last modification date) will be ignored</description><displayName>Maximum File Age</displayName><dynamic>false</dynamic><name>Maximum File Age</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Minimum File Size</key><value><defaultValue>0 B</defaultValue><description>The minimum size that a file must be in order to be pulled</description><displayName>Minimum File Size</displayName><dynamic>false</dynamic><name>Minimum File Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum File Size</key><value><description>The maximum size that a file can be in order to be pulled</description><displayName>Maximum File Size</displayName><dynamic>false</dynamic><name>Maximum File Size</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Ignore Hidden Files</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Indicates whether or not hidden files should be ignored</description><displayName>Ignore Hidden Files</displayName><dynamic>false</dynamic><name>Ignore Hidden Files</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Input Directory</key><value>/tmp/hl7-messages/</value></entry><entry><key>Recurse Subdirectories</key><value>true</value></entry><entry><key>Input Directory Location</key></entry><entry><key>File Filter</key><value>[^\.].*</value></entry><entry><key>Path Filter</key></entry><entry><key>Minimum File Age</key><value>0 sec</value></entry><entry><key>Maximum File Age</key></entry><entry><key>Minimum File Size</key><value>0 B</value></entry><entry><key>Maximum File Size</key></entry><entry><key>Ignore Hidden Files</key><value>true</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>ListFile</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles that are received are routed to success</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>false</supportsParallelProcessing><type>org.apache.nifi.processors.standard.ListFile</type></processors><processors><id>4bc078fa-9291-4656-8205-f92ceddb7402</id><parentGroupId>60842c04-5658-4774-ba91-813f3fae62ec</parentGroupId><position><x>-429.1627197265625</x><y>451.0105514526367</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Character Encoding</key><value><defaultValue>UTF-8</defaultValue><description>The Character Encoding that is used to encode the HL7 data</description><displayName>Character Encoding</displayName><dynamic>false</dynamic><name>Character Encoding</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Character Encoding</key><value>UTF-8</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>ExtractHL7Attributes</name><relationships><autoTerminate>true</autoTerminate><description>A FlowFile is routed to this relationship if it cannot be mapped to FlowFile Attributes. This would happen if the FlowFile does not contain valid HL7 data</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>A FlowFile is routed to this relationship if it is properly parsed as HL7 and its attributes extracted</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.hl7.ExtractHL7Attributes</type></processors><processors><id>147c1a33-5512-44c2-9826-e76ec77c9590</id><parentGroupId>60842c04-5658-4774-ba91-813f3fae62ec</parentGroupId><position><x>85.84338309757663</x><y>819.7537425176615</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Command</key><value><description>Specifies the command to be executed; if just the name of an executable is provided, it must be in the user's environment PATH.</description><displayName>Command</displayName><dynamic>false</dynamic><name>Command</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Command Arguments</key><value><description>The arguments to supply to the executable delimited by white space. White space can be escaped by enclosing it in double-quotes.</description><displayName>Command Arguments</displayName><dynamic>false</dynamic><name>Command Arguments</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Batch Duration</key><value><description>If the process is expected to be long-running and produce textual output, a batch duration can be specified so that the output will be captured for this amount of time and a FlowFile will then be sent out with the results and a new FlowFile will be started, rather than waiting for the process to finish before sending out the results</description><displayName>Batch Duration</displayName><dynamic>false</dynamic><name>Batch Duration</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Redirect Error Stream</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If true will redirect any error stream output of the process to the output stream. This is particularly helpful for processes which write extensively to the error stream or for troubleshooting.</description><displayName>Redirect Error Stream</displayName><dynamic>false</dynamic><name>Redirect Error Stream</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Argument Delimiter</key><value><defaultValue> </defaultValue><description>Delimiter to use to separate arguments for a command [default: space]. Must be a single character.</description><displayName>Argument Delimiter</displayName><dynamic>false</dynamic><name>Argument Delimiter</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Command</key><value>/usr/lib/jvm/jre-1.8.0/bin/java</value></entry><entry><key>Command Arguments</key><value> -cp /var/ftp/pub/hl7-generator-1.0-SNAPSHOT-shaded.jar com.hortonworks.example.Main 10 /tmp/hl7-messages</value></entry><entry><key>Batch Duration</key></entry><entry><key>Redirect Error Stream</key></entry><entry><key>Argument Delimiter</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>1 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>ExecuteProcess</name><relationships><autoTerminate>false</autoTerminate><description>All created FlowFiles are routed to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.ExecuteProcess</type></processors><processors><id>aab0ccc6-cdcf-4700-ba2d-519da654df1c</id><parentGroupId>60842c04-5658-4774-ba91-813f3fae62ec</parentGroupId><position><x>-418.8048229609161</x><y>807.773231869503</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Attributes List</key><value><description>Comma separated list of attributes to be included in the resulting JSON. If this value is left empty then all existing Attributes will be included. This list of attributes is case sensitive. If an attribute specified in the list is not found it will be be emitted to the resulting JSON with an empty string or NULL value.</description><displayName>Attributes List</displayName><dynamic>false</dynamic><name>Attributes List</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Destination</key><value><allowableValues><displayName>flowfile-attribute</displayName><value>flowfile-attribute</value></allowableValues><allowableValues><displayName>flowfile-content</displayName><value>flowfile-content</value></allowableValues><defaultValue>flowfile-attribute</defaultValue><description>Control if JSON value is written as a new flowfile attribute 'JSONAttributes' or written in the flowfile content. Writing to flowfile content will overwrite any existing flowfile content.</description><displayName>Destination</displayName><dynamic>false</dynamic><name>Destination</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Include Core Attributes</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Determines if the FlowFile org.apache.nifi.flowfile.attributes.CoreAttributes which are contained in every FlowFile should be included in the final JSON value generated.</description><displayName>Include Core Attributes</displayName><dynamic>false</dynamic><name>Include Core Attributes</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Null Value</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If true a non existing or empty attribute will be NULL in the resulting JSON. If false an empty string will be placed in the JSON</description><displayName>Null Value</displayName><dynamic>false</dynamic><name>Null Value</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Attributes List</key></entry><entry><key>Destination</key><value>flowfile-content</value></entry><entry><key>Include Core Attributes</key><value>false</value></entry><entry><key>Null Value</key><value>false</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>AttributesToJSON</name><relationships><autoTerminate>true</autoTerminate><description>Failed to convert attributes to JSON</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>Successfully converted attributes to JSON</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.AttributesToJSON</type></processors><processors><id>71b8b5e9-bc17-4e08-b5c7-568148117d21</id><parentGroupId>60842c04-5658-4774-ba91-813f3fae62ec</parentGroupId><position><x>-428.8462594189958</x><y>619.3628756368137</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Delete Attributes Expression</key><value><description>Regular expression for attributes to be deleted from flowfiles.</description><displayName>Delete Attributes Expression</displayName><dynamic>false</dynamic><name>Delete Attributes Expression</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>myDate</key><value><description></description><displayName>myDate</displayName><dynamic>true</dynamic><name>myDate</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>patient</key><value><description></description><displayName>patient</displayName><dynamic>true</dynamic><name>patient</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>text</key><value><description></description><displayName>text</displayName><dynamic>true</dynamic><name>text</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Delete Attributes Expression</key></entry><entry><key>myDate</key><value>${TXA.4:toDate(&quot;yyyyMMddHHmmss&quot;):format(&quot;yyyy-MM-dd HH:mm:ss&quot;)}</value></entry><entry><key>patient</key><value>${PID.5:replaceAll('\^', ' ')}</value></entry><entry><key>text</key><value>${OBX_1.5:replaceAll('(~|\^)', ' ')}</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>UpdateAttribute</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.attributes.UpdateAttribute</type></processors></snippet><timestamp>06/19/2016 21:56:08 UTC</timestamp></template>