templates/Send_stock_prices_to_HBase_and_Solr.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><template><description>Download real-time stock prices and send to HBase and Solr</description><name>Send stock prices to HBase and Solr</name><snippet><controllerServices><id>cd4691ea-a9a1-4ed1-859a-7e5f9117365f</id><comments></comments><descriptors><entry><key>Hadoop Configuration Files</key><value><description>Comma-separated list of Hadoop Configuration files, such as hbase-site.xml and core-site.xml for kerberos, including full paths to the files.</description><displayName>Hadoop Configuration Files</displayName><dynamic>false</dynamic><name>Hadoop Configuration Files</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Kerberos Principal</key><value><description>Kerberos principal to authenticate as. Requires nifi.kerberos.krb5.file to be set in your nifi.properties</description><displayName>Kerberos Principal</displayName><dynamic>false</dynamic><name>Kerberos Principal</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Kerberos Keytab</key><value><description>Kerberos keytab associated with the principal. Requires nifi.kerberos.krb5.file to be set in your nifi.properties</description><displayName>Kerberos Keytab</displayName><dynamic>false</dynamic><name>Kerberos Keytab</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>ZooKeeper Quorum</key><value><description>Comma-separated list of ZooKeeper hosts for HBase. Required if Hadoop Configuration Files are not provided.</description><displayName>ZooKeeper Quorum</displayName><dynamic>false</dynamic><name>ZooKeeper Quorum</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>ZooKeeper Client Port</key><value><description>The port on which ZooKeeper is accepting client connections. Required if Hadoop Configuration Files are not provided.</description><displayName>ZooKeeper Client Port</displayName><dynamic>false</dynamic><name>ZooKeeper Client Port</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>ZooKeeper ZNode Parent</key><value><description>The ZooKeeper ZNode Parent value for HBase (example: /hbase). Required if Hadoop Configuration Files are not provided.</description><displayName>ZooKeeper ZNode Parent</displayName><dynamic>false</dynamic><name>ZooKeeper ZNode Parent</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>HBase Client Retries</key><value><defaultValue>1</defaultValue><description>The number of times the HBase client will retry connecting. Required if Hadoop Configuration Files are not provided.</description><displayName>HBase Client Retries</displayName><dynamic>false</dynamic><name>HBase Client Retries</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><name>HBase_1_1_2_ClientService</name><properties><entry><key>Hadoop Configuration Files</key><value>/etc/hbase/conf/hbase-site.xml</value></entry><entry><key>Kerberos Principal</key></entry><entry><key>Kerberos Keytab</key></entry><entry><key>ZooKeeper Quorum</key></entry><entry><key>ZooKeeper Client Port</key></entry><entry><key>ZooKeeper ZNode Parent</key></entry><entry><key>HBase Client Retries</key><value>3</value></entry></properties><referencingComponents><activeThreadCount>0</activeThreadCount><descriptors><entry><key>HBase Client Service</key><value><allowableValues><displayName>HBase_1_1_2_ClientService</displayName><value>cd4691ea-a9a1-4ed1-859a-7e5f9117365f</value></allowableValues><description>Specifies the Controller Service to use for accessing HBase.</description><displayName>HBase Client Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.hbase.HBaseClientService</identifiesControllerService><name>HBase Client Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Table Name</key><value><description>The name of the HBase Table to put data into</description><displayName>Table Name</displayName><dynamic>false</dynamic><name>Table Name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Row Identifier</key><value><description>Specifies the Row ID to use when inserting data into HBase</description><displayName>Row Identifier</displayName><dynamic>false</dynamic><name>Row Identifier</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Row Identifier Field Name</key><value><description>Specifies the name of a JSON element whose value should be used as the row id for the given JSON document.</description><displayName>Row Identifier Field Name</displayName><dynamic>false</dynamic><name>Row Identifier Field Name</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Column Family</key><value><description>The Column Family to use when inserting data into HBase</description><displayName>Column Family</displayName><dynamic>false</dynamic><name>Column Family</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Batch Size</key><value><defaultValue>25</defaultValue><description>The maximum number of FlowFiles to process in a single execution. The FlowFiles will be grouped by table, and a single Put per table will be performed.</description><displayName>Batch Size</displayName><dynamic>false</dynamic><name>Batch Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Complex Field Strategy</key><value><allowableValues><description>Route entire FlowFile to failure if any elements contain complex values.</description><displayName>Fail</displayName><value>Fail</value></allowableValues><allowableValues><description>Provide a warning and do not include field in row sent to HBase.</description><displayName>Warn</displayName><value>Warn</value></allowableValues><allowableValues><description>Silently ignore and do not include in row sent to HBase.</description><displayName>Ignore</displayName><value>Ignore</value></allowableValues><allowableValues><description>Use the string representation of the complex field as the value of the given column.</description><displayName>Text</displayName><value>Text</value></allowableValues><defaultValue>Text</defaultValue><description>Indicates how to handle complex fields, i.e. fields that do not have a single text value.</description><displayName>Complex Field Strategy</displayName><dynamic>false</dynamic><name>Complex Field Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><groupId>8cd5220f-139a-41f7-9ada-e8a5ad377e63</groupId><id>df50aadb-5174-4855-9a80-1ae54d311210</id><name>Send to HBase</name><properties><entry><key>HBase Client Service</key><value>cd4691ea-a9a1-4ed1-859a-7e5f9117365f</value></entry><entry><key>Table Name</key><value>stocks</value></entry><entry><key>Row Identifier</key><value>${symbol}-${fixed_ts}</value></entry><entry><key>Row Identifier Field Name</key></entry><entry><key>Column Family</key><value>cf</value></entry><entry><key>Batch Size</key></entry><entry><key>Complex Field Strategy</key></entry></properties><referenceType>Processor</referenceType><state>STOPPED</state><type>org.apache.nifi.hbase.PutHBaseJSON</type><validationErrors>'HBase Client Service' validated against 'HBase_1_1_2_ClientService' is invalid because Controller Service HBase_1_1_2_ClientService[id=cd4691ea-a9a1-4ed1-859a-7e5f9117365f] is disabled</validationErrors></referencingComponents><state>DISABLED</state><type>org.apache.nifi.hbase.HBase_1_1_2_ClientService</type></controllerServices><processGroups><id>8cd5220f-139a-41f7-9ada-e8a5ad377e63</id><parentGroupId>d30793e8-931f-41fe-9459-0efbcababbef</parentGroupId><position><x>30.0</x><y>269.0</y></position><activeRemotePortCount>0</activeRemotePortCount><comments></comments><contents><connections><id>a3290fb3-769a-48ef-93e5-1dd7ec5be35d</id><parentGroupId>8cd5220f-139a-41f7-9ada-e8a5ad377e63</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><bends><x>1075.1363550160909</x><y>584.6477302971592</y></bends><bends><x>1075.1363550160909</x><y>634.6477302971592</y></bends><destination><groupId>8cd5220f-139a-41f7-9ada-e8a5ad377e63</groupId><id>fdd84ca3-9810-48e9-ba64-8d2b9cc19d0a</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>failure</selectedRelationships><source><groupId>8cd5220f-139a-41f7-9ada-e8a5ad377e63</groupId><id>fdd84ca3-9810-48e9-ba64-8d2b9cc19d0a</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>0e4ecd83-1033-4a89-a29c-6896cc9d9f0e</id><parentGroupId>8cd5220f-139a-41f7-9ada-e8a5ad377e63</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>8cd5220f-139a-41f7-9ada-e8a5ad377e63</groupId><id>f7932908-5fb0-43f3-8ea3-a266f65de7da</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>matched</selectedRelationships><source><groupId>8cd5220f-139a-41f7-9ada-e8a5ad377e63</groupId><id>82e808cf-d247-4f0b-8e8e-f04a7659a1de</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>2194fe44-ee52-46fc-af63-972e3e4c02ce</id><parentGroupId>8cd5220f-139a-41f7-9ada-e8a5ad377e63</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>8cd5220f-139a-41f7-9ada-e8a5ad377e63</groupId><id>82e808cf-d247-4f0b-8e8e-f04a7659a1de</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>split</selectedRelationships><source><groupId>8cd5220f-139a-41f7-9ada-e8a5ad377e63</groupId><id>94cae2f1-3b02-4159-9e7d-66ed8db76df3</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>d009c03b-4d50-46fc-9b72-66b414675a3b</id><parentGroupId>8cd5220f-139a-41f7-9ada-e8a5ad377e63</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><bends><x>827.8203125</x><y>406.0213928222656</y></bends><destination><groupId>8cd5220f-139a-41f7-9ada-e8a5ad377e63</groupId><id>fdd84ca3-9810-48e9-ba64-8d2b9cc19d0a</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>0</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>8cd5220f-139a-41f7-9ada-e8a5ad377e63</groupId><id>14b72e95-5c6a-4ee9-b8be-d4dd3de2227b</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>4e0bae0f-19aa-466c-927d-12975b35c2b8</id><parentGroupId>8cd5220f-139a-41f7-9ada-e8a5ad377e63</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>8cd5220f-139a-41f7-9ada-e8a5ad377e63</groupId><id>14b72e95-5c6a-4ee9-b8be-d4dd3de2227b</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>8cd5220f-139a-41f7-9ada-e8a5ad377e63</groupId><id>f7932908-5fb0-43f3-8ea3-a266f65de7da</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>0a4b331b-f1f5-405b-aac4-0f415c62d34f</id><parentGroupId>8cd5220f-139a-41f7-9ada-e8a5ad377e63</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><bends><x>-81.11485290527344</x><y>402.09228515625</y></bends><destination><groupId>8cd5220f-139a-41f7-9ada-e8a5ad377e63</groupId><id>df50aadb-5174-4855-9a80-1ae54d311210</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>0</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>8cd5220f-139a-41f7-9ada-e8a5ad377e63</groupId><id>14b72e95-5c6a-4ee9-b8be-d4dd3de2227b</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>47c6ef0a-bea1-4b5c-ab71-7b04c998cc59</id><parentGroupId>8cd5220f-139a-41f7-9ada-e8a5ad377e63</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>8cd5220f-139a-41f7-9ada-e8a5ad377e63</groupId><id>592d3dcc-150c-449a-9455-71401aebdfd4</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>8cd5220f-139a-41f7-9ada-e8a5ad377e63</groupId><id>a0c5389f-a97c-48fc-8ee7-034c2514110f</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>2bd8d692-0462-433c-9546-cf742a52013e</id><parentGroupId>8cd5220f-139a-41f7-9ada-e8a5ad377e63</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>8cd5220f-139a-41f7-9ada-e8a5ad377e63</groupId><id>e135bdbd-2ce6-4ebf-8629-10e80cd0d5f0</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>0</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>8cd5220f-139a-41f7-9ada-e8a5ad377e63</groupId><id>14b72e95-5c6a-4ee9-b8be-d4dd3de2227b</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>82838012-5930-4d80-960d-1db3980e9475</id><parentGroupId>8cd5220f-139a-41f7-9ada-e8a5ad377e63</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><bends><x>167.96923306702814</x><y>575.5782044847377</y></bends><bends><x>167.96923306702814</x><y>625.5782044847377</y></bends><destination><groupId>8cd5220f-139a-41f7-9ada-e8a5ad377e63</groupId><id>df50aadb-5174-4855-9a80-1ae54d311210</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>failure</selectedRelationships><source><groupId>8cd5220f-139a-41f7-9ada-e8a5ad377e63</groupId><id>df50aadb-5174-4855-9a80-1ae54d311210</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>2a7cc40c-b580-49dd-9ac7-6b40060d3db0</id><parentGroupId>8cd5220f-139a-41f7-9ada-e8a5ad377e63</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>8cd5220f-139a-41f7-9ada-e8a5ad377e63</groupId><id>94cae2f1-3b02-4159-9e7d-66ed8db76df3</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>8cd5220f-139a-41f7-9ada-e8a5ad377e63</groupId><id>592d3dcc-150c-449a-9455-71401aebdfd4</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><processors><id>fdd84ca3-9810-48e9-ba64-8d2b9cc19d0a</id><parentGroupId>8cd5220f-139a-41f7-9ada-e8a5ad377e63</parentGroupId><position><x>666.1363550160909</x><y>559.6477302971592</y></position><config><bulletinLevel>INFO</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Solr Type</key><value><allowableValues><description>A SolrCloud instance.</description><displayName>Cloud</displayName><value>Cloud</value></allowableValues><allowableValues><description>A stand-alone Solr instance.</description><displayName>Standard</displayName><value>Standard</value></allowableValues><defaultValue>Standard</defaultValue><description>The type of Solr instance, Cloud or Standard.</description><displayName>Solr Type</displayName><dynamic>false</dynamic><name>Solr Type</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Solr Location</key><value><description>The Solr url for a Solr Type of Standard (ex: http://localhost:8984/solr/gettingstarted), or the ZooKeeper hosts for a Solr Type of Cloud (ex: localhost:9983).</description><displayName>Solr Location</displayName><dynamic>false</dynamic><name>Solr Location</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Collection</key><value><description>The Solr collection name, only used with a Solr Type of Cloud</description><displayName>Collection</displayName><dynamic>false</dynamic><name>Collection</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Content Stream Path</key><value><defaultValue>/update/json/docs</defaultValue><description>The path in Solr to post the ContentStream</description><displayName>Content Stream Path</displayName><dynamic>false</dynamic><name>Content Stream Path</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Content-Type</key><value><defaultValue>application/json</defaultValue><description>Content-Type being sent to Solr</description><displayName>Content-Type</displayName><dynamic>false</dynamic><name>Content-Type</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Commit Within</key><value><description>The number of milliseconds before the given update is committed</description><displayName>Commit Within</displayName><dynamic>false</dynamic><name>Commit Within</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Solr Socket Timeout</key><value><defaultValue>10 seconds</defaultValue><description>The amount of time to wait for data on a socket connection to Solr. A value of 0 indicates an infinite timeout.</description><displayName>Solr Socket Timeout</displayName><dynamic>false</dynamic><name>Solr Socket Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Solr Connection Timeout</key><value><defaultValue>10 seconds</defaultValue><description>The amount of time to wait when establishing a connection to Solr. A value of 0 indicates an infinite timeout.</description><displayName>Solr Connection Timeout</displayName><dynamic>false</dynamic><name>Solr Connection Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Solr Maximum Connections</key><value><defaultValue>10</defaultValue><description>The maximum number of total connections allowed from the Solr client to Solr.</description><displayName>Solr Maximum Connections</displayName><dynamic>false</dynamic><name>Solr Maximum Connections</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Solr Maximum Connections Per Host</key><value><defaultValue>5</defaultValue><description>The maximum number of connections allowed from the Solr client to a single Solr host.</description><displayName>Solr Maximum Connections Per Host</displayName><dynamic>false</dynamic><name>Solr Maximum Connections Per Host</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>ZooKeeper Client Timeout</key><value><defaultValue>10 seconds</defaultValue><description>The amount of time to wait for data on a connection to ZooKeeper, only used with a Solr Type of Cloud.</description><displayName>ZooKeeper Client Timeout</displayName><dynamic>false</dynamic><name>ZooKeeper Client Timeout</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>ZooKeeper Connection Timeout</key><value><defaultValue>10 seconds</defaultValue><description>The amount of time to wait when establishing a connection to ZooKeeper, only used with a Solr Type of Cloud.</description><displayName>ZooKeeper Connection Timeout</displayName><dynamic>false</dynamic><name>ZooKeeper Connection Timeout</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>f.2</key><value><description>Specifies the value to send for the 'f.2' request parameter</description><displayName>f.2</displayName><dynamic>true</dynamic><name>f.2</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.3</key><value><description>Specifies the value to send for the 'f.3' request parameter</description><displayName>f.3</displayName><dynamic>true</dynamic><name>f.3</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.4</key><value><description>Specifies the value to send for the 'f.4' request parameter</description><displayName>f.4</displayName><dynamic>true</dynamic><name>f.4</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.5</key><value><description>Specifies the value to send for the 'f.5' request parameter</description><displayName>f.5</displayName><dynamic>true</dynamic><name>f.5</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>f.6</key><value><description>Specifies the value to send for the 'f.6' request parameter</description><displayName>f.6</displayName><dynamic>true</dynamic><name>f.6</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>split</key><value><description>Specifies the value to send for the 'split' request parameter</description><displayName>split</displayName><dynamic>true</dynamic><name>split</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Solr Type</key><value>Cloud</value></entry><entry><key>Solr Location</key><value>localhost:2181</value></entry><entry><key>Collection</key><value>stocks</value></entry><entry><key>Content Stream Path</key></entry><entry><key>Content-Type</key></entry><entry><key>Commit Within</key><value>1000</value></entry><entry><key>Solr Socket Timeout</key></entry><entry><key>Solr Connection Timeout</key></entry><entry><key>Solr Maximum Connections</key></entry><entry><key>Solr Maximum Connections Per Host</key></entry><entry><key>ZooKeeper Client Timeout</key></entry><entry><key>ZooKeeper Connection Timeout</key></entry><entry><key>f.2</key><value>symbol_s:/symbol</value></entry><entry><key>f.3</key><value>price_f:/price</value></entry><entry><key>f.4</key><value>price_change_f:/price_change</value></entry><entry><key>f.5</key><value>pct_change_f:/pct_change</value></entry><entry><key>f.6</key><value>timestamp_dt:/fixed_ts</value></entry><entry><key>split</key><value>/</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Send to Solr</name><relationships><autoTerminate>true</autoTerminate><description>FlowFiles that failed because Solr is unreachable</description><name>connection_failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>FlowFiles that failed for any reason other than Solr being unreachable</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>The original FlowFile</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.solr.PutSolrContentStream</type></processors><processors><id>94cae2f1-3b02-4159-9e7d-66ed8db76df3</id><parentGroupId>8cd5220f-139a-41f7-9ada-e8a5ad377e63</parentGroupId><position><x>300.1505107049172</x><y>-142.66300974708514</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>JsonPath Expression</key><value><description>A JsonPath expression that indicates the array element to split into JSON/scalar fragments.</description><displayName>JsonPath Expression</displayName><dynamic>false</dynamic><name>JsonPath Expression</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Null Value Representation</key><value><allowableValues><displayName>empty string</displayName><value>empty string</value></allowableValues><allowableValues><displayName>the string 'null'</displayName><value>the string 'null'</value></allowableValues><defaultValue>empty string</defaultValue><description>Indicates the desired representation of JSON Path expressions resulting in a null value.</description><displayName>Null Value Representation</displayName><dynamic>false</dynamic><name>Null Value Representation</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>JsonPath Expression</key><value>$.*</value></entry><entry><key>Null Value Representation</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Split array of JSON records</name><relationships><autoTerminate>true</autoTerminate><description>If a FlowFile fails processing for any reason (for example, the FlowFile is not valid JSON or the specified path does not exist), it will be routed to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>The original FlowFile that was split into segments. If the FlowFile fails processing, nothing will be sent to this relationship</description><name>original</name></relationships><relationships><autoTerminate>false</autoTerminate><description>All segments of the original FlowFile will be routed to this relationship</description><name>split</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.SplitJson</type></processors><processors><id>e135bdbd-2ce6-4ebf-8629-10e80cd0d5f0</id><parentGroupId>8cd5220f-139a-41f7-9ada-e8a5ad377e63</parentGroupId><position><x>301.30775618350776</x><y>561.7281398066826</y></position><config><bulletinLevel>INFO</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Log Level</key><value><allowableValues><displayName>trace</displayName><value>trace</value></allowableValues><allowableValues><displayName>debug</displayName><value>debug</value></allowableValues><allowableValues><displayName>info</displayName><value>info</value></allowableValues><allowableValues><displayName>warn</displayName><value>warn</value></allowableValues><allowableValues><displayName>error</displayName><value>error</value></allowableValues><defaultValue>info</defaultValue><description>The Log Level to use when logging the Attributes</description><displayName>Log Level</displayName><dynamic>false</dynamic><name>Log Level</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Log Payload</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If true, the FlowFile's payload will be logged, in addition to its attributes; otherwise, just the Attributes will be logged.</description><displayName>Log Payload</displayName><dynamic>false</dynamic><name>Log Payload</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Attributes to Log</key><value><description>A comma-separated list of Attributes to Log. If not specified, all attributes will be logged.</description><displayName>Attributes to Log</displayName><dynamic>false</dynamic><name>Attributes to Log</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Attributes to Ignore</key><value><description>A comma-separated list of Attributes to ignore. If not specified, no attributes will be ignored.</description><displayName>Attributes to Ignore</displayName><dynamic>false</dynamic><name>Attributes to Ignore</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Log prefix</key><value><description>Log prefix appended to the log lines. It helps to distinguish the output of multiple LogAttribute processors.</description><displayName>Log prefix</displayName><dynamic>false</dynamic><name>Log prefix</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Log Level</key><value>info</value></entry><entry><key>Log Payload</key><value>true</value></entry><entry><key>Attributes to Log</key></entry><entry><key>Attributes to Ignore</key></entry><entry><key>Log prefix</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>LogAttribute</name><relationships><autoTerminate>true</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.LogAttribute</type></processors><processors><id>592d3dcc-150c-449a-9455-71401aebdfd4</id><parentGroupId>8cd5220f-139a-41f7-9ada-e8a5ad377e63</parentGroupId><position><x>302.6319119910029</x><y>-306.2811027279548</y></position><config><bulletinLevel>INFO</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>0</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Regular Expression</key><value><defaultValue>(?s:^.*$)</defaultValue><description>The Search Value to search for in the FlowFile content. Only used for 'Literal Replace' and 'Regex Replace' matching strategies</description><displayName>Search Value</displayName><dynamic>false</dynamic><name>Regular Expression</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Replacement Value</key><value><defaultValue>$1</defaultValue><description>The value to insert using the 'Replacement Strategy'. Using &quot;Regex Replace&quot; back-references to Regular Expression capturing groups are supported, but back-references that reference capturing groups that do not exist in the regular expression will be treated as literal value. Back References may also be referenced using the Expression Language, as '$1', '$2', etc. The single-tick marks MUST be included, as these variables are not &quot;Standard&quot; attribute names (attribute names must be quoted unless they contain only numbers, letters, and _).</description><displayName>Replacement Value</displayName><dynamic>false</dynamic><name>Replacement Value</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Character Set</key><value><defaultValue>UTF-8</defaultValue><description>The Character Set in which the file is encoded</description><displayName>Character Set</displayName><dynamic>false</dynamic><name>Character Set</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum Buffer Size</key><value><defaultValue>1 MB</defaultValue><description>Specifies the maximum amount of data to buffer (per file or per line, depending on the Evaluation Mode) in order to apply the replacement. If 'Entire Text' (in Evaluation Mode) is selected and the FlowFile is larger than this value, the FlowFile will be routed to 'failure'. In 'Line-by-Line' Mode, if a single line is larger than this value, the FlowFile will be routed to 'failure'. A default value of 1 MB is provided, primarily for 'Entire Text' mode. In 'Line-by-Line' Mode, a value such as 8 KB or 16 KB is suggested. This value is ignored if the &lt;Replacement Strategy&gt; property is set to one of: Append, Prepend, Always Replace</description><displayName>Maximum Buffer Size</displayName><dynamic>false</dynamic><name>Maximum Buffer Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Replacement Strategy</key><value><allowableValues><description>Insert the Replacement Value at the beginning of the FlowFile or the beginning of each line (depending on the Evaluation Mode). For &quot;Line-by-Line&quot; Evaluation Mode, the value will be prepended to each line. For &quot;Entire Text&quot; evaluation mode, the value will be prepended to the entire text.</description><displayName>Prepend</displayName><value>Prepend</value></allowableValues><allowableValues><description>Insert the Replacement Value at the end of the FlowFile or the end of each line (depending on the Evluation Mode). For &quot;Line-by-Line&quot; Evaluation Mode, the value will be appended to each line. For &quot;Entire Text&quot; evaluation mode, the value will be appended to the entire text.</description><displayName>Append</displayName><value>Append</value></allowableValues><allowableValues><description>Interpret the Search Value as a Regular Expression and replace all matches with the Replacement Value. The Replacement Value may reference Capturing Groups used in the Search Value by using a dollar-sign followed by the Capturing Group number, such as $1 or $2. If the Search Value is set to .* then everything is replaced without even evaluating the Regular Expression.</description><displayName>Regex Replace</displayName><value>Regex Replace</value></allowableValues><allowableValues><description>Search for all instances of the Search Value and replace the matches with the Replacement Value.</description><displayName>Literal Replace</displayName><value>Literal Replace</value></allowableValues><allowableValues><description>Always replaces the entire line or the entire contents of the FlowFile (depending on the value of the &lt;Evaluation Mode&gt; property) and does not bother searching for any value. When this strategy is chosen, the &lt;Search Value&gt; property is ignored.</description><displayName>Always Replace</displayName><value>Always Replace</value></allowableValues><defaultValue>Regex Replace</defaultValue><description>The strategy for how and what to replace within the FlowFile's text content.</description><displayName>Replacement Strategy</displayName><dynamic>false</dynamic><name>Replacement Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Evaluation Mode</key><value><allowableValues><displayName>Line-by-Line</displayName><value>Line-by-Line</value></allowableValues><allowableValues><displayName>Entire text</displayName><value>Entire text</value></allowableValues><defaultValue>Entire text</defaultValue><description>Run the 'Replacement Strategy' against each line separately (Line-by-Line) or buffer the entire file into memory (Entire Text) and run against that.</description><displayName>Evaluation Mode</displayName><dynamic>false</dynamic><name>Evaluation Mode</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Regular Expression</key><value>(?s:\/\/ )</value></entry><entry><key>Replacement Value</key><value></value></entry><entry><key>Character Set</key><value>UTF-8</value></entry><entry><key>Maximum Buffer Size</key><value>1 MB</value></entry><entry><key>Replacement Strategy</key><value>Regex Replace</value></entry><entry><key>Evaluation Mode</key><value>Entire text</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>EVENT_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Remove comment</name><relationships><autoTerminate>true</autoTerminate><description>FlowFiles that could not be updated are routed to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>FlowFiles that have been successfully processed are routed to this relationship. This includes both FlowFiles that had text replaced and those that did not.</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.ReplaceText</type></processors><processors><id>df50aadb-5174-4855-9a80-1ae54d311210</id><parentGroupId>8cd5220f-139a-41f7-9ada-e8a5ad377e63</parentGroupId><position><x>-241.03076693297186</x><y>550.5782044847377</y></position><config><bulletinLevel>INFO</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>HBase Client Service</key><value><allowableValues><displayName>HBase_1_1_2_ClientService</displayName><value>cd4691ea-a9a1-4ed1-859a-7e5f9117365f</value></allowableValues><description>Specifies the Controller Service to use for accessing HBase.</description><displayName>HBase Client Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.hbase.HBaseClientService</identifiesControllerService><name>HBase Client Service</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Table Name</key><value><description>The name of the HBase Table to put data into</description><displayName>Table Name</displayName><dynamic>false</dynamic><name>Table Name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Row Identifier</key><value><description>Specifies the Row ID to use when inserting data into HBase</description><displayName>Row Identifier</displayName><dynamic>false</dynamic><name>Row Identifier</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Row Identifier Field Name</key><value><description>Specifies the name of a JSON element whose value should be used as the row id for the given JSON document.</description><displayName>Row Identifier Field Name</displayName><dynamic>false</dynamic><name>Row Identifier Field Name</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Column Family</key><value><description>The Column Family to use when inserting data into HBase</description><displayName>Column Family</displayName><dynamic>false</dynamic><name>Column Family</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Batch Size</key><value><defaultValue>25</defaultValue><description>The maximum number of FlowFiles to process in a single execution. The FlowFiles will be grouped by table, and a single Put per table will be performed.</description><displayName>Batch Size</displayName><dynamic>false</dynamic><name>Batch Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Complex Field Strategy</key><value><allowableValues><description>Route entire FlowFile to failure if any elements contain complex values.</description><displayName>Fail</displayName><value>Fail</value></allowableValues><allowableValues><description>Provide a warning and do not include field in row sent to HBase.</description><displayName>Warn</displayName><value>Warn</value></allowableValues><allowableValues><description>Silently ignore and do not include in row sent to HBase.</description><displayName>Ignore</displayName><value>Ignore</value></allowableValues><allowableValues><description>Use the string representation of the complex field as the value of the given column.</description><displayName>Text</displayName><value>Text</value></allowableValues><defaultValue>Text</defaultValue><description>Indicates how to handle complex fields, i.e. fields that do not have a single text value.</description><displayName>Complex Field Strategy</displayName><dynamic>false</dynamic><name>Complex Field Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>HBase Client Service</key><value>cd4691ea-a9a1-4ed1-859a-7e5f9117365f</value></entry><entry><key>Table Name</key><value>stocks</value></entry><entry><key>Row Identifier</key><value>${symbol}-${fixed_ts}</value></entry><entry><key>Row Identifier Field Name</key></entry><entry><key>Column Family</key><value>cf</value></entry><entry><key>Batch Size</key></entry><entry><key>Complex Field Strategy</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Send to HBase</name><relationships><autoTerminate>false</autoTerminate><description>A FlowFile is routed to this relationship if it cannot be sent to HBase</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>A FlowFile is routed to this relationship after it has been successfully stored in HBase</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.hbase.PutHBaseJSON</type></processors><processors><id>a0c5389f-a97c-48fc-8ee7-034c2514110f</id><parentGroupId>8cd5220f-139a-41f7-9ada-e8a5ad377e63</parentGroupId><position><x>308.4440982321528</x><y>-481.95369632155223</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>URL</key><value><description>The URL to pull from</description><displayName>URL</displayName><dynamic>false</dynamic><name>URL</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Filename</key><value><description>The filename to assign to the file when pulled</description><displayName>Filename</displayName><dynamic>false</dynamic><name>Filename</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>SSL Context Service</key><value><description>The Controller Service to use in order to obtain an SSL Context</description><displayName>SSL Context Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService><name>SSL Context Service</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Username</key><value><description>Username required to access the URL</description><displayName>Username</displayName><dynamic>false</dynamic><name>Username</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Password</key><value><description>Password required to access the URL</description><displayName>Password</displayName><dynamic>false</dynamic><name>Password</name><required>false</required><sensitive>true</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Connection Timeout</key><value><defaultValue>30 sec</defaultValue><description>How long to wait when attempting to connect to the remote server before giving up</description><displayName>Connection Timeout</displayName><dynamic>false</dynamic><name>Connection Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Data Timeout</key><value><defaultValue>30 sec</defaultValue><description>How long to wait between receiving segments of data from the remote server before giving up and discarding the partial file</description><displayName>Data Timeout</displayName><dynamic>false</dynamic><name>Data Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>User Agent</key><value><description>What to report as the User Agent when we connect to the remote server</description><displayName>User Agent</displayName><dynamic>false</dynamic><name>User Agent</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Accept Content-Type</key><value><description>If specified, requests will only accept the provided Content-Type</description><displayName>Accept Content-Type</displayName><dynamic>false</dynamic><name>Accept Content-Type</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Follow Redirects</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If we receive a 3xx HTTP Status Code from the server, indicates whether or not we should follow the redirect that the server specifies</description><displayName>Follow Redirects</displayName><dynamic>false</dynamic><name>Follow Redirects</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Proxy Host</key><value><description>The fully qualified hostname or IP address of the proxy server</description><displayName>Proxy Host</displayName><dynamic>false</dynamic><name>Proxy Host</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Proxy Port</key><value><description>The port of the proxy server</description><displayName>Proxy Port</displayName><dynamic>false</dynamic><name>Proxy Port</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>URL</key><value>http://finance.google.com/finance/info?client=ig&amp;q=NASDAQ:GOOG,NASDAQ:AAPL,NYSE:GS,NASDAQ:HDP,NASDAQ:RHT,NASDAQ:SBUX</value></entry><entry><key>Filename</key><value>${UUID()}</value></entry><entry><key>SSL Context Service</key></entry><entry><key>Username</key></entry><entry><key>Password</key></entry><entry><key>Connection Timeout</key><value>30 sec</value></entry><entry><key>Data Timeout</key><value>30 sec</value></entry><entry><key>User Agent</key></entry><entry><key>Accept Content-Type</key></entry><entry><key>Follow Redirects</key><value>true</value></entry><entry><key>Proxy Host</key></entry><entry><key>Proxy Port</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>*/10 * 14-21 ? *  2-6 *</schedulingPeriod><schedulingStrategy>CRON_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Fetch stock data</name><relationships><autoTerminate>false</autoTerminate><description>All files are transferred to the success relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.GetHTTP</type></processors><processors><id>f7932908-5fb0-43f3-8ea3-a266f65de7da</id><parentGroupId>8cd5220f-139a-41f7-9ada-e8a5ad377e63</parentGroupId><position><x>305.71581493001247</x><y>196.3496863094664</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Delete Attributes Expression</key><value><description>Regular expression for attributes to be deleted from flowfiles.</description><displayName>Delete Attributes Expression</displayName><dynamic>false</dynamic><name>Delete Attributes Expression</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>fixed_ts</key><value><description></description><displayName>fixed_ts</displayName><dynamic>true</dynamic><name>fixed_ts</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Delete Attributes Expression</key></entry><entry><key>fixed_ts</key><value>${ts:prepend(${now():format(&quot;yyyy &quot;)}):toDate(&quot;yyyy MMM dd',' hh:mma z&quot;):format(&quot;yyyy-MM-dd HH:mm:ssZ&quot;)}</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Fix timestamp</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.attributes.UpdateAttribute</type></processors><processors><id>14b72e95-5c6a-4ee9-b8be-d4dd3de2227b</id><parentGroupId>8cd5220f-139a-41f7-9ada-e8a5ad377e63</parentGroupId><position><x>300.53924186356096</x><y>357.134094095382</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Attributes List</key><value><description>Comma separated list of attributes to be included in the resulting JSON. If this value is left empty then all existing Attributes will be included. This list of attributes is case sensitive. If an attribute specified in the list is not found it will be be emitted to the resulting JSON with an empty string or NULL value.</description><displayName>Attributes List</displayName><dynamic>false</dynamic><name>Attributes List</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Destination</key><value><allowableValues><displayName>flowfile-attribute</displayName><value>flowfile-attribute</value></allowableValues><allowableValues><displayName>flowfile-content</displayName><value>flowfile-content</value></allowableValues><defaultValue>flowfile-attribute</defaultValue><description>Control if JSON value is written as a new flowfile attribute 'JSONAttributes' or written in the flowfile content. Writing to flowfile content will overwrite any existing flowfile content.</description><displayName>Destination</displayName><dynamic>false</dynamic><name>Destination</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Include Core Attributes</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Determines if the FlowFile org.apache.nifi.flowfile.attributes.CoreAttributes which are contained in every FlowFile should be included in the final JSON value generated.</description><displayName>Include Core Attributes</displayName><dynamic>false</dynamic><name>Include Core Attributes</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Null Value</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>If true a non existing or empty attribute will be NULL in the resulting JSON. If false an empty string will be placed in the JSON</description><displayName>Null Value</displayName><dynamic>false</dynamic><name>Null Value</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Attributes List</key></entry><entry><key>Destination</key><value>flowfile-content</value></entry><entry><key>Include Core Attributes</key><value>false</value></entry><entry><key>Null Value</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>AttributesToJSON</name><relationships><autoTerminate>true</autoTerminate><description>Failed to convert attributes to JSON</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>Successfully converted attributes to JSON</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.AttributesToJSON</type></processors><processors><id>82e808cf-d247-4f0b-8e8e-f04a7659a1de</id><parentGroupId>8cd5220f-139a-41f7-9ada-e8a5ad377e63</parentGroupId><position><x>310.06466226189764</x><y>27.594609854660916</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>0</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Destination</key><value><allowableValues><displayName>flowfile-content</displayName><value>flowfile-content</value></allowableValues><allowableValues><displayName>flowfile-attribute</displayName><value>flowfile-attribute</value></allowableValues><defaultValue>flowfile-content</defaultValue><description>Indicates whether the results of the JsonPath evaluation are written to the FlowFile content or a FlowFile attribute; if using attribute, must specify the Attribute Name property. If set to flowfile-content, only one JsonPath may be specified, and the property name is ignored.</description><displayName>Destination</displayName><dynamic>false</dynamic><name>Destination</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Return Type</key><value><allowableValues><displayName>auto-detect</displayName><value>auto-detect</value></allowableValues><allowableValues><displayName>json</displayName><value>json</value></allowableValues><allowableValues><displayName>scalar</displayName><value>scalar</value></allowableValues><defaultValue>auto-detect</defaultValue><description>Indicates the desired return type of the JSON Path expressions.  Selecting 'auto-detect' will set the return type to 'json' for a Destination of 'flowfile-content', and 'scalar' for a Destination of 'flowfile-attribute'.</description><displayName>Return Type</displayName><dynamic>false</dynamic><name>Return Type</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Path Not Found Behavior</key><value><allowableValues><displayName>warn</displayName><value>warn</value></allowableValues><allowableValues><displayName>ignore</displayName><value>ignore</value></allowableValues><defaultValue>ignore</defaultValue><description>Indicates how to handle missing JSON path expressions when destination is set to 'flowfile-attribute'. Selecting 'warn' will generate a warning when a JSON path expression is not found.</description><displayName>Path Not Found Behavior</displayName><dynamic>false</dynamic><name>Path Not Found Behavior</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Null Value Representation</key><value><allowableValues><displayName>empty string</displayName><value>empty string</value></allowableValues><allowableValues><displayName>the string 'null'</displayName><value>the string 'null'</value></allowableValues><defaultValue>empty string</defaultValue><description>Indicates the desired representation of JSON Path expressions resulting in a null value.</description><displayName>Null Value Representation</displayName><dynamic>false</dynamic><name>Null Value Representation</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>pct_change</key><value><description></description><displayName>pct_change</displayName><dynamic>true</dynamic><name>pct_change</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>price</key><value><description></description><displayName>price</displayName><dynamic>true</dynamic><name>price</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>price_change</key><value><description></description><displayName>price_change</displayName><dynamic>true</dynamic><name>price_change</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>symbol</key><value><description></description><displayName>symbol</displayName><dynamic>true</dynamic><name>symbol</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>ts</key><value><description></description><displayName>ts</displayName><dynamic>true</dynamic><name>ts</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Destination</key><value>flowfile-attribute</value></entry><entry><key>Return Type</key></entry><entry><key>Path Not Found Behavior</key></entry><entry><key>Null Value Representation</key></entry><entry><key>pct_change</key><value>$.cp_fix</value></entry><entry><key>price</key><value>$.l_fix</value></entry><entry><key>price_change</key><value>$.c_fix</value></entry><entry><key>symbol</key><value>$.t</value></entry><entry><key>ts</key><value>$.lt</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>EVENT_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Extract relevant attributes</name><relationships><autoTerminate>true</autoTerminate><description>FlowFiles are routed to this relationship when the JsonPath cannot be evaluated against the content of the FlowFile; for instance, if the FlowFile is not valid JSON</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>FlowFiles are routed to this relationship when the JsonPath is successfully evaluated and the FlowFile is modified as a result</description><name>matched</name></relationships><relationships><autoTerminate>true</autoTerminate><description>FlowFiles are routed to this relationship when the JsonPath does not match the content of the FlowFile and the Destination is set to flowfile-content</description><name>unmatched</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.EvaluateJsonPath</type></processors></contents><disabledCount>0</disabledCount><inactiveRemotePortCount>0</inactiveRemotePortCount><inputPortCount>0</inputPortCount><invalidCount>1</invalidCount><name>Stocks2HBaseAndSolr</name><outputPortCount>0</outputPortCount><parent><id>d30793e8-931f-41fe-9459-0efbcababbef</id><name>NiFi Flow</name></parent><runningCount>0</runningCount><stoppedCount>8</stoppedCount></processGroups></snippet><timestamp>05/16/2016 10:32:13 EDT</timestamp></template>